<?php
$this->headTitle('Pre-Event Planning Form: '.$this->record->access_code);
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Form Submission Details</h2>

			<p>Please review this form to ensure that all of the items listed are complete and accurate. Once you have reviewed the form, save and submit the form using the right sidebar.</p>

			<?=$this->renderHere('view_tabs', TRUE) ?>
		</div>
	</div> 
	<div class="span4">
		<div class="floating">
		
		<? if ($this->is_advisor): ?>
			<h2>Review Form</h2>

			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#tab_approve">Approve</a></li>
					<li><a data-toggle="tab" href="#tab_return">Return</a></li>
					<li><a data-toggle="tab" href="#tab_modify">Modify</a></li>
				</ul>

				<div class="tab-content">
					<div id="tab_approve" class="tab-pane active">
						<form action="<?=$this->routeFromHere(array('decision' => 'approve')) ?>" method="post" class="df-form form-stacked">
							<h3>Approve and Submit</h3>
							<p>If the information in the form is complete and satisfactory, enter your initials below and click "Approve Form" to send the form to the Department of Student Activities for review.</p>

							<p><small>By initialing below, I certify that I have reviewed all of the information about university policies and procedures that are pertinent to this event. I agree to abide by the rules governing student organizations as set forth in the Texas A&amp;M University <a href="http://orgmanual.tamu.edu" target="_blank">Student Organization Manual</a> and the Texas A&amp;M University <a href="http://student-rules.tamu.edu/" target="_blank">Student Rules</a>.</small></p>

							<div class="clearfix">
								<label for="initials">Your Initials:</label>
								<input type="text" name="initials" style="width: 50px;" maxlength="5" />
							</div>
							<div class="clearfix">
								<label for="Advisor_Notes">Advisor Notes:</label>
								<textarea name="Advisor_Notes" class="full-width half-height"></textarea>
							</div>

							<?=$this->button(array(
								'type'		=> 'submit',
								'class'		=> 'large success',
								'text'		=> 'Approve and Submit',
							)) ?>
						</form>
					</div>
					<div id="tab_return" class="tab-pane">
						<form action="<?=$this->routeFromHere(array('decision' => 'decline')) ?>" method="post" class="df-form form-stacked">
							<h3>Return to Submitter</h3>
			        
					        <p>If the form requires modifications before being submitted for review, note the changes necessary below and click the button to submit the change.</p>

					        <div class="clearfix">
								<label for="Advisor_Notes">Advisor Notes:</label>
								<textarea name="Advisor_Notes" class="full-width half-height"></textarea>
							</div>

							<?=$this->button(array(
								'type'		=> 'submit',
								'class'		=> 'large success',
								'text'		=> 'Return to Submitter',
							)) ?>
						</form>
				    </div>
				    <div id="tab_modify" class="tab-pane">
				    	<h3>Directly Modify the Form</h3>
		        
		        		<p>If you wish to make modifications to the form yourself, click the button below. Once you have completed the form submission process, you will be taken back to this page.</p>

		        		<div class="buttons well">
		        			<?=$this->button(array(
		        				'type'	=> 'link',
		        				'class'	=> 'large primary',
		        				'text'	=> 'Modify Form',
		        				'href'	=> $this->routeFromHere(array('action' => 'begin')),
		        			)) ?>
		        		</div>
		        	</div>
		        </div>
		    </div>
		<? else: ?>
			<h2>Form Status</h2>

			<? if ($this->record->phase == \Entity\PreEventForm::PHASE_ADVISOR): ?>
				<div class="alert alert-info">
					<b>This form has been submitted to your advisor for review and approval.</b><br>
					No additional action is necessary. If your advisor did not receive the approval e-mail, you can send them this page's web address, and they can use it to review and approve the form.
				</div>
			<? else: ?>
				<div class="alert alert-warning">
					<b>Your submission is not complete yet!</b><br>
					Click "Submit for Approval" below to send the form to your organization's advisor. Your advisor will review the form and either approve it for review by the Department of Student Activities or return it to you for further modifications.
				</div>

		        <p>Confirm your submission information below, then click "Submit for Approval" to complete the submission process.</p>

		        <form action="<?=$this->routeFromHere(array('decision' => 'submit')) ?>" method="post" class="df-form form-stacked">

			        <div class="clearfix">
						<label for="Questions_for_Risk_Management">Questions for the Risk Management team:</label>
						<textarea name="Questions_for_Risk_Management" class="full-width half-height"></textarea>
					</div>

					<?=$this->button(array(
						'type'		=> 'submit',
						'class'		=> 'large success',
						'text'		=> 'Submit for Approval',
					)) ?>
				</form>
			<? endif; ?>
		<? endif; ?>
		</div>
	</div>
</div>