<?php
$this->headTitle('Edit Organization Web Account');
?>

<h2><?=$this->org->name ?></h2>

<div class="buttons btn-group">
	<?=$this->button(array(
		'type'		=> 'button',
		'icon'		=> 'icon-magic',
		'class'		=> 'large primary',
		'id'		=> 'btn-cpanel-auto',
		'text'		=> 'cPanel Auto-Setup',
	)) ?>
</div>

<fieldset id="cpanel_check">
	<legend>cPanel Auto-Setup Check</legend>

	<dl>
		<dt>Check for Available Username:</dt>
		<dd id="check-cpanel-username-results">Checking...</dd>

		<dt>Check for Available Domain Name:</dt>
		<dd id="ping-domain-results">Checking...</dd>
	</dl>
</fieldset>

<?=$this->form->render() ?>

<script type="text/javascript">
$(function() {

	$('#cpanel_check').hide();
	
	/* Attempt cPanel Auto-Setup. */
	$('#btn-cpanel-auto').click(function() {

		$('#cpanel_check').show();
	
		/* Clean up the web address. */
		$('#it_web_addr').val($('#it_web_addr').val().toLowerCase().replace('http://', '').replace('/', '').replace('.tamu.edu', '')+".tamu.edu");

		/* Display results of domain ping. */
		pingDomain(function(data) {
			/* Set "Send CNAME E-mail" to yes if needed. */
			if (data.available)
				$('input#send_cname_email-1').attr('checked', 'checked');
			else
				$('input#send_cname_email-0').attr('checked', 'checked');
				
		});

		$('input#it_web_pending-0').attr('checked', 'checked');
		$('input#it_web_type-10').attr('checked', 'checked');
		
		/* Generate a username and password. */
		getWebUsername();
		return false;
	});
});

function getWebUsername()
{
	if (!$('#it_web_username').val())
	{
		var base_address = $('#it_web_addr').val().split('.');
		var username = base_address[0].substr(0, 8);
		
		$('#it_web_username').val(username.toLowerCase());
	}
	
	checkUsername();
}

function pingDomain(callback)
{
	var url = $('#it_web_addr').val();
	$('#ping-domain-results').html('Checking...');

	$.getJSON("<?=$this->route(array('module' => 'util', 'controller' => 'web', 'action' => 'ping')) ?>", { 'url': url }, function(data) {
		if (data.available)
		{
			var icon = 'ok';
			var status = 'available for registration.';
		}
		else
		{
			if (data.current == "stuorg-sites.tamu.edu")
			{
				var icon = 'ok';
				var status = 'already registered to cPanel.';
			}
			else
			{
				var icon = 'remove';
				var status = 'currently owned by "'+data.current+'".';
			}
		}

		$('#ping-domain-results').html('<i class="icon-'+icon+'"></i> The domain "'+url+'" is '+status);
		
		if (typeof(callback) != 'undefined')
			callback(data);
	});
}

function checkUsername(callback)
{
	var username = $('#it_web_username').val();
	$('#check-cpanel-username-results').html('Checking...');

	$.getJSON("<?=$this->route(array('module' => 'util', 'controller' => 'web', 'action' => 'username')) ?>", {
		'username': username,
		'org_id': <?=$this->org->id ?>
	}, function(data) {
		if (data.available)
		{
			var icon = 'ok';
			var status = 'not currently in use.';
		}
		else
		{
			var alert_class = 'remove';
			var status = 'currently in use by "'+data.current+'".';
		}

		$('#check-cpanel-username-results').html('<i class="icon-'+icon+'"></i> The username "'+username+'" is '+status);
		
		if (typeof(callback) != 'undefined')
			callback(data);
	});
}
</script>