<?php
$this->headTitle('All Restricted Organizations');
?>

<table class="datatable zebra" width="100%">
	<colgroup>
		<col width="40%">
		<col width="20%">
	<? foreach($this->org_settings['flags'] as $flag => $flag_name): ?>
        <col width="5%">
    <? endforeach; ?>
	</colgroup>
	<thead>
		<tr>
			<th>Org Name</th>
			<th>Unrecognized On</th>
		<? foreach($this->org_settings['flags'] as $flag => $flag_name): ?>
            <th><acronym title="<?=$flag_name ?>"><small><?=$this->org_settings['flag_abbrs'][$flag] ?></small></acronym></th>
        <? endforeach; ?>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->orgs as $org): ?>
		<tr class="input">
			<td><a href="<?=$org->base_url ?>" target="_blank"><?=$org->name ?></a></td>
			<td><?=date('F j, Y', $org->getNextStatusChange()) ?></td>
		<? foreach($this->org_settings['flags'] as $flag => $flag_name): ?>
	        <td class="center"><big><?=$this->org_settings['flag_icons_vector'][$org['flag_'.$flag]] ?></big></td>
	    <? endforeach; ?>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>