<?php
$this->headTitle('Camps Form: '.$this->record->access_code);
?>

<h2>Errors Encountered During Verification</h2>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large primary',
		'icon'		=> 'icon-circle-arrow-left',
		'text'		=> 'Return to Form Editing',
		'href'		=> $this->routeFromHere(array('action' => 'begin')),
	)) ?>
</div>

<p>The form cannot be completed until all required fields are submitted on all pages, and any other errors are resolved. Please review the errors below for more information:</p>

<? foreach($this->errors as $section => $fields): ?>
	<h3><?=$section ?></h3>
	<div class="buttons">
		<?=$this->button(array(
			'type'		=> 'small',
			'icon'		=> 'icon-pencil',
			'text'		=> 'Edit Section',
			'href'		=> $this->routeFromHere(array('action' => 'form', 'step' => $section)),
		)) ?>
	</div>

	<ul class="unstyled">
	<? foreach($fields as $field_name => $field_errors): ?>
		<li><b><?=$field_name ?>:</b> <?=implode(', ', $field_errors) ?></li>
	<? endforeach; ?>
	</ul>
<? endforeach; ?>