<?php
use \Entity\CampsForm;

$this->headTitle('Camps Form: '.$this->record->access_code);
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Form Submission Details</h2>

			<p>Please review this form to ensure that all of the items listed are complete and accurate. Once you have reviewed the form, save and submit the form using the right sidebar.</p>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'icon-pencil',
					'href'		=> $this->routeFromHere(array('action' => 'begin')),
					'text'		=> 'Edit Form Details',
				)) ?>
			</div>

			<?=$this->renderHere('view_tabs', TRUE) ?>
		</div>
	</div> 
	<div class="span4">
		<div class="floating">
			<h2>Form Status</h2>

			<? if ($this->record->phase == CampsForm::PHASE_INCOMPLETE || $this->record->phase == CampsForm::PHASE_NEEDS_MODIFICATION): ?>
				<div class="alert alert-warning">
					<b>Your submission is not complete yet!</b><br>
					Click "Submit for Approval" below to send the form forward for review.
				</div>

		        <p>Confirm your submission information below, then click "Submit for Approval" to complete the submission process.</p>

		        <div class="buttons">
			        <?=$this->button(array(
						'type'		=> 'link',
						'href'		=> $this->routeFromHere(array('decision' => 'submit')),
						'class'		=> 'large success',
						'text'		=> 'Submit for Review',
					)) ?>
				</div>
			<? elseif ($this->record->phase == CampsForm::PHASE_SECONDARY_REVIEW): ?>
				<div class="alert alert-warning">
					<b>Please review this submission and modify it as needed.</b><br>
					The submission process will not be complete until you choose one of the options below.
				</div>

				<p>If the submission is complete and ready for review, click "Approve and Submit" below.</p>

				<div class="buttons">
			        <?=$this->button(array(
						'type'		=> 'link',
						'href'		=> $this->routeFromHere(array('decision' => 'approve')),
						'class'		=> 'large success',
						'text'		=> 'Approve and Submit',
					)) ?>
				</div>

				<p>If the submission requires additional action from the original submitter in order to be complete, select the button below to send the form back for modifications.</p>

				<div class="buttons">
			        <?=$this->button(array(
						'type'		=> 'link',
						'href'		=> $this->routeFromHere(array('decision' => 'decline')),
						'class'		=> 'large danger confirm-action',
						'text'		=> 'Return to Submitter',
					)) ?>
				</div>
			<? else: ?>
				<div class="alert alert-info">
					<b>This form has been submitted to for review and approval.</b><br>
					No additional action is necessary.
				</div>
			<? endif; ?>
		</div>
	</div>
</div>