<ul class="nav nav-pills autoselect" rel="<?=$this->step ?>">
<? foreach($this->steps as $step_name): ?>
	<li rel="<?=$step_name ?>"><a class="step_link" href="<?=$this->routeFromHere(array('step' => $step_name)) ?>"><?=$step_name ?></a></li>
<? endforeach; ?>
</ul>

<script type="text/javascript">
$(function() {
	$('#camps_form').append('<input type="hidden" id="goto_step" name="goto_step" value="next">');

	$('.step_link').click(function(e) {
		e.preventDefault();

		var step_name = $(this).closest('li').attr('rel');
		$('#camps_form #goto_step').val(step_name);
		$('#camps_form').submit();

		return false;
	});
});
</script>