<?php
use \Entity\CampsForm;

$this->headTitle('Camps Form: '.$this->record->access_code);
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Form Submission Details</h2>

			<p>Please review this form to ensure that all of the items listed are complete and accurate. Once you have reviewed the form, use the right sidebar to indicate how the form should proceed.</p>

			<?=$this->renderHere('view_tabs', TRUE) ?>
		</div>
	</div> 
	<div class="span4">
		<div class="floating">
			<h2>Review Form</h2>

			<?=$this->form->render() ?>
		</div>
	</div>
</div>