<?php
use \Entity\CampsForm;
$this->headTitle('Camps Form: '.$this->record->access_code);
?>

<h2>Camp Sessions</h2>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'icon-plus-sign',
		'class'		=> 'large success fancybox fancybox.ajax',
		'href'		=> $this->routeFromHere(array('action' => 'editsession')),
		'text'		=> 'Add Session',
	)) ?>
</div>

<p>Please provide a comprehensive list of all sessions associated with this camp. You can submit each session individually as the session occurs. Once you have completed this step, click the button at the bottom of the page to submit the completed roster for review.</p>

<? if (count($this->record->sessions) > 0): ?>
	<h3>Current Sessions</h3>

	<table class="datatable zebra">
		<colgroup>
			<col width="20%">
			<col width="20%">
			<col width="20%">
			<col width="5%">
			<col width="15%">
			<col width="10%">
			<col width="10%">
		</colgroup>
		<thead>
			<tr>
				<th>Actions</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Days</th>
				<th>Type</th>
				<th>Participants</th>
				<th>Counselors</th>
			</tr>
		</thead>
		<tbody>
		<? foreach($this->record->sessions as $session): ?>
			<tr class="input">
				<td class="center">
					<div class="btn-group">
						<?=$this->button(array(
							'type'		=> 'small',
							'icon'		=> 'icon-pencil',
							'class'		=> 'fancybox fancybox.ajax',
							'href'		=> $this->routeFromHere(array('action' => 'editsession', 'session_id' => $session->id)),
							'text'		=> 'Edit',
						)) ?>
						<?=$this->button(array(
							'type'		=> 'small',
							'icon'		=> 'icon-trash',
							'class'		=> 'danger confirm-action',
							'href'		=> $this->routeFromHere(array('action' => 'deletesession', 'session_id' => $session->id)),
							'text'		=> 'Delete',
						)) ?>
					</div>
				</td>
				<td><?=$session->start_date->format('F j, Y') ?></td>
				<td><?=$session->end_date->format('F j, Y') ?></td>
				<td><?=$session->num_days ?></td>
				<td><? if ($session->type == 'D'): ?>Daytime Only<? else: ?>Overnight<? endif; ?></td>
				<td><?=$session->num_participants ?></td>
				<td><?=$session->num_counselors ?></td>
			</tr>
		<? endforeach; ?>
		</tbody>
	</table>

	<div class="buttons">
		<?=$this->button(array(
			'type'		=> 'link',
			'icon'		=> 'icon-ok',
			'class'		=> 'large primary confirm-action',
			'href'		=> $this->routeFromHere(array('action' => 'rosterdone')),
			'text'		=> 'Submit Completed Roster',
		)) ?>
	</div>
<? endif; ?>