<?
$this->layout()->manual = TRUE;
?>

<div class="row">
    <div class="span6">
        <div class="floating">
            <h2>Scan a Box</h2>
            <p>To check in or check out a box for a normal sales day, scan the box code into the field below.</p>

            <form action="<?=$this->routeFromHere(array('action' => 'scanbox')) ?>" class="form-stacked df-form" method="get">
            <div class="clearfix">
                <label for="box_id">Box ID:</label>
                <input type="text" name="box_id" id="fld-scan_box" class="big full-width">
            </div>

            <?=$this->button(array(
                'type'      => 'submit',
                'icon'      => 'box',
                'text'      => 'Scan Box',
            )) ?>
            </form>
        </div>

        <div class="floating">
            <h2>Manage a Box</h2>
            <p>Enter the box number below to view information about that box's history or add it to the database if it does not already exist.</p>

            <form action="<?=$this->routeFromHere(array('action' => 'managebox')) ?>" class="form-stacked df-form" method="get">
            <div class="clearfix">
                <label for="box_id">Box ID:</label>
                <input type="text" name="box_id" class="big full-width">
            </div>

            <?=$this->button(array(
                'type'      => 'submit',
                'icon'      => 'box',
                'text'      => 'Manage Box',
            )) ?>
            </form>
        </div>
    </div>
    <div class="span6">
        <div class="floating">
            <h2>View by Date</h2>

        <? if ($this->box_dates): ?>
            <form action="<?=$this->routeFromHere(array('action' => 'viewbydate')) ?>" class="form-stacked df-form" method="get">
            <div class="clearfix">
                <label for="timestamp">Date:</label>
                <?=$this->formSelect('timestamp', $this->active_box_date, NULL, $this->box_dates) ?>
            </div>

            <?=$this->button(array(
                'type'      => 'submit',
                'icon'      => 'calendar',
                'text'      => 'View Entries for Date',
            )) ?>
            </form>
        <? else: ?>
            <p>There are no tracking entries for this category yet.</p>
        <? endif; ?>
        </div>

        <div class="floating">
            <h2>Generate Report</h2>

            <?=$this->report_form->render() ?>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('#fld-scan_box').focus();
});
</script>