<h2>Scan Box: {$box.box_id}</h2>

<div class="buttons">
	{button type="link" href=$config_data.this_page icon="resultset_previous" text="Back to Main Page"}
</div>

<fieldset>
	<legend>Box Details</legend>
    
    <dl>
    	<dt>Shirt Size:</dt>
        <dd>{$box.box_size_text}</dd>
        
        <dt>Date Added:</dt>
        <dd>{$box.time_created|date_format:$config_data.date_format}</dd>
    </dl>
</fieldset>

<form action="{$config_data.this_page}" method="post">
<input type="hidden" name="submitted" value="true" />
<input type="hidden" name="box_id" value="{$box.box_id}" />
<input type="hidden" name="action" value="scan_box" />

<fieldset>
	<legend>Scan Data</legend>

{if $tracking_mode == "in"}
	<p>A log entry from earlier today exists for this box. To <b>check in</b> the box, enter the details below.</p>
    
    <dl>
    	<dt>Quantity Out:</dt>
        <dd>{$tracking_entry.quantity_in}</dd>
        
        <dt>Quantity In:</dt>
        <dd><input type="text" name="quantity_out" value="{$tracking_entry.quantity_in}" /></dd>
        
        <dt>Quantity Damaged:</dt>
        <dd><input type="text" name="quantity_damaged" value="0" /></dd>
        
        <dt>Notes:</dt>
        <dd><textarea name="tracking_note" class="full-width half-height"></textarea></dd>
    </dl>
{else}
	<p>This box has not been checked out yet today. To <b>check out</b> the box, enter the details below.</p>
    
    <dl>
    	<dt>Quantity Out:</dt>
        <dd><input type="text" name="quantity_in" /></dd>
    </dl>
{/if}
    
    <div class="buttons">
    	{button type="submit" class="positive" icon="disk" text="Save and Continue"}
    </div>
</fieldset>
</form>