<?
$this->headTitle('System Administration');
$this->layout()->manual = TRUE;

$this->layout()->tabs = $this->renderHere('index_buttons');
?>

<div class="row"><div class="span12"><div class="floating">
    <? foreach($this->admin_visible as $letter => $items): ?>
    <div class="row">
        <div class="span1">
            <div style="text-align: right; font-size: 35px; padding-top: 20px;"><?=$letter ?></div>
        </div>
        <div class="span10">        
            <dl>
            <? foreach($items as $item): ?>
                <dt>
                    <a href="<?=$item['url'] ?>" title="<?=$item['description'] ?>"><?=$item['text'] ?></a>
                <? if ($item['public_url']): ?>
                     &bull; <a href="<?=$item['public_url'] ?>" title="Visit the public address for this function." target="_blank">Public Site</a>
                <? endif; ?>
                </dt>
                <dd><?=$item['description'] ?></dd>
            <? endforeach; ?>
            </dl>
        </div>
    </div>
    <hr>
    <? endforeach; ?>
</div></div></div>