<?
$this->headTitle('System Administration');
$this->layout()->manual = TRUE;

$this->layout()->tabs = $this->renderHere('index_buttons');
?>

<div class="row">
    <div class="span4">
    <? if ($this->admin_visible['organizations']): ?>
        <div class="floating grid_red">
            <?=$this->icon(array('style' => 'float: right', 'type' => 'png32', 'image' => 'group')) ?>
            <h2>Organizations</h2>
            
            <?
            $this->section = $this->admin_visible['organizations'];
            echo $this->renderHere('section');
            ?>
        </div>
    <? endif; ?>
    <? if ($this->admin_visible['accounting']): ?>
        <div class="floating grid_gray">
            <?=$this->icon(array('style' => 'float: right', 'type' => 'png32', 'image' => 'money')) ?>
            <h2>Accounting</h2>
            
            <?
            $this->section = $this->admin_visible['accounting'];
            echo $this->renderHere('section');
            ?>
        </div>
    <? endif; ?>
    </div>
    <div class="span4">
    <? if ($this->admin_visible['events']): ?>
        <div class="floating grid_gold">
            <?=$this->icon(array('style' => 'float: right', 'type' => 'png32', 'image' => 'calendar')) ?>
            <h2>Events</h2>
            
            <?
            $this->section = $this->admin_visible['events'];
            echo $this->renderHere('section');
            ?>
        </div>
    <? endif; ?>
    <? if ($this->admin_visible['users']): ?>
        <div class="floating grid_cyan">
            <?=$this->icon(array('style' => 'float: right', 'type' => 'png32', 'image' => 'user_gray')) ?>
            <h2>Users</h2>
            
            <?
            $this->section = $this->admin_visible['users'];
            echo $this->renderHere('section');
            ?>
        </div>
    <? endif; ?>
    </div>
    <div class="span4">
    <? if ($this->admin_visible['forms']): ?>
        <div class="floating grid_green">
            <?=$this->icon(array('style' => 'float: right', 'type' => 'png32', 'image' => 'application_form')) ?>
            <h2>Forms</h2>
            
            <?
            $this->section = $this->admin_visible['forms'];
            echo $this->renderHere('section');
            ?>
        </div>
    <? endif; ?>
    <? if ($this->admin_visible['misc']): ?>
        <div class="floating grid_gray">
            <?=$this->icon(array('style' => 'float: right', 'type' => 'png32', 'image' => 'cog')) ?>
            <h2>Miscellaneous</h2>
            
            <?
            $this->section = $this->admin_visible['misc'];
            echo $this->renderHere('section');
            ?>
        </div>
    <? endif; ?>
    </div>
</div>