<? foreach($this->section as $section_name => $items): ?>
    <h3><?=$section_name ?></h3>
    
    <dl>
    <? foreach($items as $item): ?>
        <? if ($item['public_url'] && $this->descriptions): ?>
        <dt class="small public_site_link" style="float: right; padding: 3px 0 0 5px;">&raquo; <a href="<?=$item['public_url'] ?>" title="Visit the public address for this function." target="_blank">Public Site</a></dt>
        <? endif; ?>
        <dt><a href="<?=$item['url'] ?>" title="<?=$item['description'] ?>"><?=$item['text'] ?></a></dt>
        <? if ($this->descriptions): ?>
        <dd style="border-bottom: 1px dashed #CCC;"><?=$item['description'] ?></dd>
        <? endif; ?>
    <? endforeach; ?>
    </dl>
<? endforeach; ?>