@charset "utf-8";

html {
	background: #111 url('./px_by_Gre3g.png') top center repeat;
}

body {
	background: transparent;
}

h1.title {
	display: none;
}

h1.title,
h2.title {
	padding: 0 0 20px 20px;
}
h1 {
	font-size: 35px;
}
h2 {
	font-size: 28px;
}

h1, h2 {
	color: #1D2833;
}
a {
	color: #314457;
}
a:hover {
	color: #33485B;
}

div#body {
	border-radius: 0 0 10px 10px;
	
	-webkit-box-shadow:0 0 15px #111; 
	-moz-box-shadow: 0 0 15px #111; 
	box-shadow:0 0 15px #111;
	
	margin-bottom: 20px;
	background: #E9E9E9 url('body-bg.png') repeat;
}

#header-wrapper {
	background: url('./header_back.png') center left repeat-x;
}
#header {
	width: 980px;
	margin: 0px auto;
	height: 300px;
	background: url('./header_front.png') center center no-repeat;
	position: relative;
}

#header a {
	color: #EFEFEF;
	text-decoration: none;
}

#logo-title-site,
#logo-title-tamu {
	position: absolute;
}

#logo-title-site {
	top: 0px;
	left: 0px;
}
#logo-title-site,
#logo-title-site img {
	width: 500px;
	height: 110px;
}

#logo-title-tamu {
	top: 0px;
	right: 0px;
}
#logo-title-tamu,
#logo-title-tamu img {
	width: 350px;
	height: 110px;
}

div.content-top-alert {
	margin-left: 20px;
	margin-right: 20px;
}

div#content_top {
	background-color: #EFEFEF;
	border-bottom: 1px solid #CCC;

	color: #888;
	margin-top: -18px;
	padding: 10px 0 5px 0;
}

div#page_wrapper {
	margin-top: 20px;
}

div#breadcrumb {
	font-size: smaller;
	padding: 0 20px 0px 20px;
}

div#copyright {
	padding-top: 15px;
	border-top: 1px solid #DDD;
	text-align: center;
}

.nav-pills > .active > a,
.nav-pills > .dropdown.active > a,
.nav-list > .active > a,
.nav-list > .active > a:hover {
	color: #FFF;
	background-color: #330000;
}

.nav-pills > .active > a:hover,
.nav-pills > .dropdown.active > a:hover {
	color: #FFF;
	background-color: #660000;
}

.btn-primary {
	background: #444;
	filter:-;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: #333;
}

.btn-group.open .btn-primary.dropdown-toggle {
	background-color: #666;
}