<?php
$this->headTitle('OrgSearch');
$this->layout()->manual = TRUE;

$org_settings = \Entity\Organization::loadSettings();
$classifications = array_diff($org_settings['classifications'], $org_settings['classifications_hidden']);
?>

<p>Search the homepage of the Department of Student Activities as well as our directory of over 800 student organizations.</p>

<div class="row">
    <div class="span12">
        <div class="floating">
            <h2>Search by Name</h2>

            <form action="<?=$this->routeFromHere(array('search' => 'name', 'q' => NULL)) ?>" class="form-stacked" method="get">
            <div class="clearfix">
                <label for="q">Enter All or Part of the Organization's Name:</label>
                <input type="text" name="q" value="<?=$this->q ?>" class="full-width" />
            </div>

            <div class="buttons actions">
                <?=$this->button(array(
                    'type'      => 'submit',
                    'icon'      => 'find',
                    'class'     => 'primary',
                    'text'      => 'Search StuAct Online',
                )) ?>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="span4">
        <div class="floating">
            <h2>Search by Letter</h2>

        <? for($i = 65; $i <= 90; $i++): ?>
            <? $letter = chr($i); ?>
            <div class="floatbox"><a href="<?=$this->routeFromHere(array('q' => strtolower($letter), 'search' => 'letter')) ?>"><?=$letter ?></a></div>
        <? endfor; ?>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
    <div class="span8">
        <div class="floating">
            <h2>Search by Classification</h2>
        
        <? foreach($classifications as $classification): ?>
            <div class="floatbox"><a href="<?=$this->routeFromHere(array('search' => 'category')) ?>?q=<?=$classification ?>"><?=$classification ?></a></div>
        <? endforeach; ?>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>