<?php
$auth = \DF\Auth::getInstance();
$acl = \DF\Acl::getInstance();
?>

<ul class="nav">
    <li id="menu-home"><a href="<?=\DF\Url::baseUrl() ?>">Home</a></li>
    <li id="menu-aboutus"><a href="/about">About Us</a></li>
    <li id="menu-ourareas"><a href="/areas">Areas</a></li>
    <li id="menu-ourprograms"><a href="/programs">Programs</a></li>
    <li id="menu-organizations"><a href="/online/organizations">Organizations</a></li>
    <li id="menu-calendarsevents"><a href="/events">Events</a></li>
    <li id="menu-resources"><a href="/resources">Resources</a></li>
</ul>

<ul class="nav pull-right">	
<? if ($auth->isLoggedIn()): ?>
    <?
    $user = $auth->getLoggedInUser();
    ?>
    <li>
    	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-key"></i> <?=$user->firstname ?> <?=$user->lastname ?></a>

		<ul class="dropdown-menu">
			<li><a href="<?=$this->route(array('module' => 'account', 'controller' => 'profile')) ?>" title="View and update your personal profile.">My Profile</a></li>
		<? if ($acl->isAllowed('admin_visible')): ?>
			<li><a href="<?=$this->route(array('module' => 'admin')) ?>" title="Administer site features.">Administration</a></li>
		<? endif; ?>
		<? if ($acl->isAllowed('staff_directory')): ?>
			<li><a href="https://dsanet.tamu.edu/" title="Access staff features.">DSAnet</a></li>
		<? endif; ?>
		<? if ($user->chat_username): ?>
			<li><a href="<?=$this->route(array('module' => 'util', 'controller' => 'chat')) ?>">WebChat Login</a></li>
		<? endif; ?>
			<li><a href="<?=$this->route(array('module' => 'account', 'controller' => 'logout')) ?>">Log Out</a></li>
		</ul>
	</li>
<? else: ?>
	<li><a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'login')) ?>"><i class="icon-key"></i> Log In</a></li>
<? endif; ?>
</ul>

<form class="navbar-search pull-right" action="<?=$this->route(array('module' => 'search', 'search' => 'name')) ?>" method="GET">
    <input type="text" class="search-query span2" name="q" title="Search Student Activities" value="<?=$this->q ?>" placeholder="Search...">
</form>