<?
$org_acl = new \StuAct\Acl\Organization;
?>

<table class="table table-striped" width="100%">
    <colgroup>
        <col width="5%">
        <col width="95%">
    </colgroup>
    <tbody>
    <? foreach($this->orgs as $org): ?>
        <tr>
            <td class="right">
                <?=$this->icon(array(
                    'type'      => 'png_status',
                    'image'     => $org['status_icon'],
                    'title'     => $org['status_name'],
                )) ?>
            </td>
            <td>
                <div><big><a href="<?=$org['base_url'] ?>"><?=$org['name'] ?></a></big></div>
                <?
                $subitems = array();
                if ($org['it_web_addr'] && $org['it_web_type'] != 0)
                    $subitems[] = $this->link('http://'.$org['it_web_addr'], NULL, '_blank');

                if ($org_acl->isAllowed('home', $org) && $org['account_number'])
                    $subitems[] = $org['account_number'];

                $subitems[] = $org['status_name'];

                if ($subitems)
                    echo '<div><small>'.implode(' &bull; ', $subitems).'</small></div>';
                ?>
            <? if ($org['profile_purpose']): ?>
                <p><?=$this->truncate($org['profile_purpose'], 200) ?></p>
            <? endif; ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>