<?
$this->headTitle('Advisopedia - The Advisor Resource Center');
$this->layout()->manual = TRUE;
?>

<? /*
<div class="row">
	<div class="span12">
		<div class="floating">
	        <img src="<?=\DF\Url::content('images/dr_stackman.png') ?>" style="float: left" />
	        <p>&nbsp;</p>
			<p>Howdy!</p>
			<p>We are pleased to unveil a resource center structured to meet our goal of providing quality information and support to all student organization advisors. Each section of the center has been intentionally planned according to advisor survey results which suggested such resources as the matching system that will allow you the opportunity for potential advising selection based on your own interests and hobbies.  We hope you take time to look around and familiarize yourself with the tools and information.  If we can provide any further support, please don't hesitate to contact our offices.  Thank you for your time and dedication to the student leaders and organizations of Texas A&M University!</p>
	        <p>&nbsp;&nbsp;&nbsp;-&nbsp;<b>Dr. Bill Stackman</b>, Director, Department of Student Activities</p>
	        <div class="clear">&nbsp;</div>
		</div>
	</div>
</div>
*/ ?>

<div class="row">
	<div class="span4">
		<div class="floating grid_gold">
			<h2 style="font-variant: small-caps; font-weight: bold; text-align: center;">
				Volume I<br />
				Intro to Advising
			</h2>
			
			<hr />
	        
	        <h3>The Basics of Advising</h3>
			
			<p>Learn about the three categories of student organizations, and what it takes to be an advisor.</p>
			
			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'flag_green',
					'href'		=> '/advisors/basics',
					'text'		=> 'Basics of Advising',
				)) ?>
			</div>
			
			<h3>Advisor Matching Directory</h3>
			
			<p>Looking for an organization? List yourself on this directory where student leaders seeking advisors can find you.</p>
			
			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'group',
					'text'		=> 'Matching Directory',
					'href'		=> $this->routeFromHere(array('controller' => 'match')),
				)) ?>
			</div>
			
			<h3>Connecting with Students</h3>
			
			<p>Learn about techniques to establish the foundations for intentional and empowering student leader/advisor relationships.</p>
			
			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'user_green',
					'href'		=> '/advisors/connecting',
					'text'		=> 'Connecting with Students',
				)) ?>
			</div>
			
		</div>
	</div>
	<div class="span4">
		<div class="floating grid_blue">
			<h2 style="font-variant: small-caps; font-weight: bold; text-align: center;">
				Volume II<br />
				Advising Essentials
			</h2>
			
			<hr />
	        
	        <h3>Training Center</h3>
	        
	        <p>Visit this page to view your current training status, and complete any remaining requirements. You can also view the modules at any time, even if you are not required to complete additional ones.</p>
	        
	        <div class="buttons well">
	            <?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'clock_go',
	                'href'      => $this->route(array('module' => 'training', 'controller' => 'index', 'action' => 'index')),
					'text'		=> 'Training Center',
				)) ?>
	        </div>
	        
	        <h3>Submit a Module</h3>
	        <p>For more information on how to submit a module for your area, please contact us at <a href="mailto:tsmith@stuact.tamu.edu">tsmith@stuact.tamu.edu</a>.</p>
		</div>
	</div>
	<div class="span4">
		<div class="floating grid_green">
			<h2 style="font-variant: small-caps; font-weight: bold; text-align: center;">
				Volume III<br />
				Enhanced Advising
			</h2>
			
			<hr />
	        
	        <h3>The Buzz in Advising</h3>
	        
	        <p>The latest in helpful tools, research and news to help you advise student organizations and their leaders.</p>
	        
			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'newspaper',
					'href'		=> '/advisors/thebuzz',
					'text'		=> 'The Buzz in Advising',
				)) ?>
			</div>
	        
	        <h3>Professional Development</h3>
	        
	        <p>Attend seminars, discussions, round tables, and other opportunities for professional development.</p>
	        
	        <div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'user_gray',
					'href'		=> '/advisors/professionaldevelopment',
					'text'		=> 'Professional Development',
				)) ?>
			</div>
	        
	        <h3>The Advising Archives</h3>
	        
	        <p>View all of the content that was previously featured in the other areas of this section.</p>
	        
	        <div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'folder_explore',
					'href'		=> '/advisors/archives',
					'text'		=> 'Advising Archives',
				)) ?>
			</div>
	        
	        <h3>Contribute News &amp; Updates</h3>
	        
	        <p>You can contribute to this section! Send any news or updates you find about advising to <?=$this->mailto('tsmith@stuact.tamu.edu') ?>.</p>
	        
		</div>
	</div>
</div>