<?
$this->headTitle('Review Event Request');

$decisions = array(
	'approve'		=> 'Approve Request',
	'decline'		=> 'Decline Request',
);
?>

<h2><?=ucfirst($this->record->event_type) ?> Event</h2>

<?=$this->form->renderView() ?>

<form action="<?=\DF\Url::current() ?>" method="post">
<fieldset>
	<legend>Review Request</legend>

	<dl>
		<dt>Decision:</dt>
		<dd><?=$this->formRadio('decision', NULL, NULL, $decisions) ?></dd>
	</dl>

	<div class="buttons">
		<?=$this->button(array(
			'type'		=> 'submit',
			'icon'		=> 'resultset_next',
			'text'		=> 'Submit Decision',
		)) ?>
	</div>
</fieldset>
</form>