<?
$this->headTitle('Organization GPR Exemptions');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<? foreach($this->exemption_types as $type_id => $type_name): ?>
	<div class="span6">
		<div class="floating">
			<h2><?=$type_name ?></h2>

			<form action="<?=$this->routeFromHere(array('action' => 'add', 'type' => $type_id)) ?>" method="post">
			<table class="table table-condensed">
				<colgroup>
					<col width="25%">
					<col width="75%">
				</colgroup>
				<tbody>
					<tr>
						<td>
							<?=$this->button(array(
								'type'		=> 'submit',
								'class'		=> 'small success',
								'icon'		=> 'add',
								'text'		=> 'Add New',
							)) ?>
						</td>
						<td><input type="text" name="uin" class="full-width" placeholder="Add New UIN"></td>
					</tr>
				<? foreach((array)$this->exemptions[$type_id] as $exemption): ?>
					<tr>
						<td>
							<?=$this->button(array(
								'type'		=> 'small',
								'class'		=> 'danger',
								'icon'		=> 'delete',
								'text'		=> 'Remove',
								'href'		=> $this->routeFromHere(array('action' => 'remove', 'exemption_id' => $exemption['id'])),
							)) ?>
						</td>
						<td>
							<big><?=$exemption['uin'] ?></big><br>
							<small><?=$exemption['user']['firstname'] ?> <?=$exemption['user']['lastname'] ?></small>
						</td>
					</tr>
				<? endforeach; ?>
				</tbody>
			</table>
			</form>
		</div>
	</div>
	<? endforeach; ?>
</div>
