<?
$this->headTitle('SLI Journal');
?>
<p>Welcome to the SLI Journal homepage! From this page, you can submit descriptions of the events you have attended that relate to your SLI training.</p>

<h2>Submit a New Entry</h2>
<p>Click the button below to submit a new journal entry.</p>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->routeFromHere(array('action' => 'submit')),
		'icon'		=> 'page_go',
		'text'		=> 'Submit New Journal Entry',
	)) ?>
</div>

<h2>Previously Submitted Entries</h2>

<? $this->zebra('reset'); ?>
<table class="nce-datatable" width="100%">
	<colgroup>
    	<col width="30%" />
        <col width="70%" />
    </colgroup>
    <? foreach($this->entries as $entry): ?>
    <tr class="<?=$this->zebra() ?> input">
    	<td align="center"><?=date('F j, Y', $entry['entry_timestamp']) ?></td>
        <td align="left"><?=$entry['entry_data']['description'] ?></td>
    </tr>
    <? endforeach; ?>
</table>