<h2><?=$this->subject ?></h2>

<?=$this->org->email_header ?>

<p>You have been confirmed and added to the roster of <?=$this->org->name ?> in the role of <b><?=$this->additional_info['position_text'] ?></b>. You were added by <?=$this->additional_info['user'] ?>.</p>

<p>In the Department of Student Activities, we are committed to building leaders of character who are dedicated to serving the greater good, and as a leader of character it is important that you are prepared to effectively lead your student organization.</p>

<p>As you prepare for your role, we encourage you to consider and utilize the valuable services and resources identified below.  These services and resources can also help in the creation of a safe and productive environment for all of your organization's members and participants.</p>

<h3>The Student Organization Manual</h3>
<p>This manual is an extensive guide to the resources available to student organizations and the guiding boundaries that affect their activities and operations. Visit the Student Organization Manual at <?=$this->link("http://orgmanual.tamu.edu/") ?>.</p>

<h3>Student Organizational Development and Administration (SODA)</h3>
<p>From recognition to risk management, our nationally recognized SODA team works to promote student organization experiences that foster individual/organizational growth and fair, reasonable, educated decisions. For more information about how SODA can assist your organization, visit <?=$this->link("http://studentactivities.tamu.edu/soda") ?>.</p>

<h3>Student Organization Finance Center (SOFC)</h3>
<p>The SOFC offers an easy-access, on-campus banking and financial service facility. We invite you to call upon our staff during your term as a student leader. Learn more about the SOFC and its services at <?=$this->link("http://sofc.tamu.edu/") ?>.</p>

<h3>Leadership and Service Center</h3>
<p>The Leadership and Service Center helps students become more effective leaders and active citizens through programs like StrengthsQuest, Covey's Seven Habits of Highly Effective People, LeaderShape, and more. Our programs and services can help you better understand yourself, what it means to work effectively in groups, and discover the impact your actions can have on your peers and in your community. To learn more, visit us at <?=$this->link("http://leadandserve.tamu.edu") ?>.</p>

<h3>StuAct Online Training Center</h3>
<p>The Online Training Center provides you with in-depth and up-to-date training information on topics ranging from Officer and Advisor Essentials, to hazing, insurance, or pre-event planning. Visit the Online Training Center at <?=$this->link("http://studentactivities.tamu.edu/app/training") ?>.</p>

<h3>StuAct Online Help Center</h3>
<p>The help center contains frequently asked questions for every major area of the StuAct Online system, as well as a guided walkthrough video, "Getting Started with StuAct Online", that demonstrates the resources and features available to you through our web site. Visit the Help Center at <?=$this->link("http://studentactivities.tamu.edu/app/help/") ?>.</p>