<h2>Eligibility Check Upcoming</h2>

<p>During the next two weeks, the Department of Student Activities will be conducting student leader eligibility checks for all officers listed in StuAct Online.</p>

<p><b>PLEASE NOTE: If your organization has any officers who do not meet the student leader eligibility requirements at the time of the eligibility check, then your organization will be "Restricted".</b> Student leaders may be deemed ineligible for a number of reasons including grades, conduct standing, credit hours, and student status.</p>

<p>For more information on student leader eligibility requirements, please visit:<br />
<a href="http://student-rules.tamu.edu/rule41">http://student-rules.tamu.edu/rule41</a>
</p>

<p>Officers may check their eligibility status prior to the official check by visiting:<br /><?=$this->link($this->route(array('module' => 'account', 'controller' => 'profile'))) ?></p>

<p>If you have an ineligible officer who would like to address their situation prior to the check date, please see the information below:</p>

<dl>
	<dt>Grade Deficiency</dt>
    <dd>If an officer does not meet the student leader grade requirements as defined in Student Rule 41.2, then they are not eligible to serve in a leadership position. Grade information can be accessed through <a href="http://howdy.tamu.edu">http://howdy.tamu.edu</a>. Grade deficient students have the following options:
    	<ul>
    		<li>Step down from their student officer position and hold a reelection, according to the student organization's constitution. If they choose to step down from their position, the advisor should remove the ineligible student from their officer position in StuAct Online; the incoming officer should complete their profile in StuAct Online and request their new position; and a new signature card will need to be printed and submitted to the SOFC (if necessary).</li>
            <li>If the ineligible officer experienced an extenuating circumstance (family, financial, health related, etc.), they may apply for a Student Leader GPR Exemption with the Department of Student Activities. Information regarding the GPR Exemption process and application form may be found at this page: <a href="/gradeexempt">{$config_data.url_full}/gradeexempt</a>.</li>
        </ul>
    </dd>
    
    <dt>Graduation</dt>
    <dd>If an officer has recently graduated from Texas A&amp;M and is no longer enrolled as a student, they are no longer eligible to serve in a student leader position. The Chief Student Leader and/or Advisor should remove the officer from the organization's roster. If the graduating officer is being replaced with a newly elected officer, the new officer should request to fill their position on StuAct Online: <a href="http://studentactivities.tamu.edu">http://studentactivities.tamu.edu</a>.</dd>
    
    <dt>Conduct Standing</dt>
    <dd>If an officer has recently been sanctioned through Student Conduct Resolution Services and is no longer "in good standing" with the university, they are not eligible to serve in a student leader position. The Chief Student Leader and/or Advisor should remove the officer from the organization's roster.</dd>
</dl>