<h2>StuAct Online: Organization Officer(s) Ineligible</h2>

<?=$this->org->email_header ?>

<p><b><i>PERSONAL &amp; CONFIDENTIAL</i></b></p>

<p>According to our records, the following position(s) are currently ineligible to serve in their leadership position(s):</p>

<ul>
<? foreach($this->ineligible_officers as $position): ?>
	<li><?=$position ?></li>
<? endforeach; ?>
</ul>

<p>As a result, your student organization is no longer in compliance with one of the components of recognition. Until this matter is resolved, the student organization has been placed under "Restricted" status.  Restricted status means that the organization will be limited in its ability to utilize campus resources and services, such as room scheduling, concessions permits, and the Student Organization Finance Center.</p>

<p>The student(s) have been notified of their ineligibility, along with the steps that can be taken to rectify this situation. They are encouraged to meet with you to discuss this matter and determine the best course of action.</p>

<p>Due to FERPA requirements, specific identifiable information will not be shared unless the ineligible officer(s) sign a Consent to Disclose Student Records form with our office. If you have any questions about this notification, please contact the Student Activities Recognition area at 979-845-1133 or via email at <?=$this->mailto('recognition@stuact.tamu.edu') ?>. Thank you for your attention to this matter.</p>
