<?
$request = $this->additional_info['request'];
$user = $request->user;
?>

<h2>New Leader Request</h2>

<?=$this->org->email_header ?>

<p><b><?=$user->firstname ?> <?=$user->lastname ?></b> (<?=$user->username ?>) has requested to fill the position of <?=$this->additional_info['position_name'] ?> in this organization.</p>

<p>Only the following people can approve this request:</p>
<ul>
	<li>Primary Advisor</li>
    <li>Secondary Advisor (if listed)</li>
    <li>Other Advisors (if listed)</li>
</ul>

<? if ($this->additional_info['current']): ?>
	<?
	$current = $this->additional_info['current']['user'];
	?>
	<p><b>Note:</b> This position is currently being filled by <b><?=$current->firstname ?> <?=$current->lastname ?></b>. If you approve this request, the user above will replace this person on the roster.</p>
<? endif; ?>

<p>
	To view and approve requests, visit your group's roster page:<br>
	<?=$this->link($this->org->route(array('controller' => 'roster'))) ?>
</p>