<h2><?=$this->subject ?></h2>

<?=$this->organization->email_header ?>

<p>You have been removed from the position of <?=$this->additional_info['position_text'] ?> in this organization's roster by <b><?=$this->additional_info['user'] ?></b>.</p>