<h2>Complete Officer Transition Process</h2>

<?=$this->org->email_header ?>

<p>As part of this organization's annual recognition cycle, you must indicate your status as an officer for the coming year. You are required to specify whether you are continuing to serve in your position, so that your organization's roster remains up to date.</p>

<p>
	To indicate your officer status for the coming year, please click the following link:<br />
    <?=$this->link($this->org->route(array('controller' => 'roster', 'action' => 'renew'))) ?>
</p>