<?
$this->headtitle('Manage Batch Types');
?>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'add',
		'class'		=> 'success',
		'text'		=> 'Add Batch Type',
		'href'		=> $this->routeFromHere(array('action' => 'edit')),
	)) ?>
</div>

<table class="datatable zebra" width="100%">
	<colgroup>
		<col width="40%" />
		<col width="10%" />
		<col width="50%" />
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Managers</th>
			<th>Type Name</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->batch_groups as $group): ?>
		<tr class="input">
			<td align="center">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'vcard',
					'class'		=> 'primary',
					'text'		=> 'View',
					'href'		=> $this->routeFromHere(array('controller' => 'index', 'action' => 'index', 'id' => $group['id'])),
				)) ?>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'pencil',
					'text'		=> 'Edit',
					'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $group['id'])),
				)) ?>
			<? if ($group['id'] != 0): ?>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'delete',
					'text'		=> 'Delete',
					'class'		=> 'negative confirm-action',
					'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $group['id'])),
				)) ?>
			<? endif; ?>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'group',
					'text'		=> 'Managers',
					'href'		=> $this->routeFromHere(array('action' => 'managers', 'id' => $group['id'])),
				)) ?>
			</td>
			<td align="center"><?=count($group['managers']) ?></td>
			<td align="left"><?=$group['name'] ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>