<?
$this->headtitle('Batch Managers for '.$this->group->name);
?>

<h2>Add New Manager</h2>

<form class="form-stacked" action="<?=$this->routeFromHere(array('action' => 'addmanager')) ?>" method="post">

<div class="clearfix">
	<label for="user">Manager UIN/NetID:</label>
	<input type="text" name="user" class="half-width" />
</div>

<div class="buttons actions">
	<?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'success',
		'icon'		=> 'add',
		'text'		=> 'Add Manager',
	)) ?>
</div>
</form>

<h2>Current Managers</h2>

<table class="datatable zebra" width="100%">
	<colgroup>
		<col width="20%" />
		<col width="40%" />
		<col width="20%" />
		<col width="20%" />
	</colgroup>
	<tbody>
	<? foreach($this->group->managers as $manager): ?>
		<tr class="input">
			<td align="center">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'delete',
					'text'		=> 'Remove',
					'class'		=> 'danger',
					'href'		=> $this->routeFromHere(array('action' => 'deletemanager', 'user_id' => $manager['id'])),
				)) ?>
			</td>
			<td align="left">
				<big><?=$manager['firstname'] ?> <?=$manager['lastname'] ?></big><br />
				<small><?=$manager['title'] ?></small>
			</td>
			<td align="center">
				<?=$manager['phone'] ?>
			</td>
			<td align="center">
				<?=$this->mailto($manager['email']) ?>
			</td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>