<?
$this->headTitle('Post-Training Assessment');
?>

<h2>Assessment Submitted</h2>

<p>Thank you for submitting your feedback.</p>

<div class="buttons">
    <?=$this->button(array(
        'type' => 'link',
        'icon' => 'house',
        'href' => $this->routeFromHere(array('controller' => 'index', 'action' => 'index', 'course' => NULL)),
        'text' => 'Back to Training Home',
    )) ?>
</div>