<h2>Constitution Approved</h2>

<?=$this->org->email_header ?>

<p>Your organization's updated constitution has been reviewed by a member of the Department of Student Activities staff, and has been approved. You can access your constitution at any time by visiting your organization's page on StuAct Online.</p>

<p>If you have any questions about the annual recognition process, please contact the Department of Student Activities at 979-862-2953.</p>