<h2>Constitution Declined</h2>

<?=$this->org->email_header ?>

<p>Your organization's updated constitution has been reviewed by a member of the Department of Student Activities staff, and was declined for the following reasons:</p>
<ul>
<? foreach($this->org->constitution_declinereasons as $reason): ?>
	<li><?=$reason ?></li>
<? endforeach; ?>
</ul>

<? if ($this->org->constitution_comments): ?>
	<p>The reviewer also included the following additional comments:</p>
	<blockquote><i><?=nl2br($this->org->constitution_comments) ?></i></blockquote>
<? endif; ?>

<p>You must upload a corrected constitution to StuAct Online before your organization can become recognized for the upcoming year.  The corrected constitution must be uploaded before your recognition deadline expires.</p>

<p>
	To upload a new constitution, visit this page:<br>
    <?=$this->link($this->org->route(array('controller' => 'constitution'))) ?>
</p>

<p>If you have any questions about the annual recognition process, please contact the Department of Student Activities at 979-862-2953.</p>