<h2>New Constitution Uploaded</h2>

<?=$this->org->email_header ?>

<p>This organization has uploaded a new constitution.</p>

<p>To review all constitutions that are unclaimed or claimed by you, visit this link:<br />
	<?=$this->link('http://studentactivities.tamu.edu/online/admin/manage_constitutions.php') ?>
</p>