<table class="table table-condensed table-nopadding">
    <colgroup>
        <col width="10%" />
        <col width="90%" />
    </colgroup>
    <tbody>
        <tr class="input">
            <td align="center">
            <? if ($this->components['required_met']): ?>
                <?=$this->icon(array('type' => 'png', 'image' => 'tick')) ?>
            <? else: ?>
                <?=$this->icon(array('type' => 'png', 'image' => 'cross')) ?>
            <? endif; ?>
            </td>
            <td align="left">
                Core Modules<br>
                <small><?=$this->components['required_current'] ?> of <?=$this->components['required_needed'] ?> Credits</small>
            </td>
        </tr>
    <? if ($this->components['elective_needed'] != 0): ?>
        <tr class="input">
            <td align="center">
            <? if ($this->components['elective_met']): ?>
                <?=$this->icon(array('type' => 'png', 'image' => 'tick')) ?>
            <? else: ?>
                <?=$this->icon(array('type' => 'png', 'image' => 'cross')) ?>
            <? endif; ?>
            </td>
            <td align="left">
                Additional Modules<br>
                <small><?=$this->components['elective_current'] ?> of <?=$this->components['elective_needed'] ?> Credits</small>
            </td>
        </tr>
    <? endif; ?>
    <? if ($this->components['batch_needed'] > 0): ?>
        <tr class="input">
            <td align="center">
            <? if ($this->components['batch_met']): ?>
                <?=$this->icon(array('type' => 'png', 'image' => 'tick')) ?>
            <? else: ?>
                <?=$this->icon(array('type' => 'png', 'image' => 'cross')) ?>
            <? endif; ?>
            </td>
            <td align="left">
                Batch Group Modules<br>
                <small><?=$this->components['batch_current'] ?> of <?=$this->components['batch_needed'] ?> Credits</small>
            </td>
        </tr>
    <? endif; ?>
    </tbody>
</table>