<? if (!$this->leader_status['current']): ?>
    <? if ($this->module_needed == 0): ?>
        <div class="alert alert-info"><b>You are not required to complete any of the modules in this section.</b><br>You can optionally view these modules if you would like to learn more.</div>
    <? elseif ($this->module_current == $this->module_needed): ?>
        <div class="alert alert-success"><b>You have completed the required number of modules in this section.</b><br>You can optionally view additional modules in this section if you would like to learn more.</div>
    <? elseif ($this->module_current != 0): ?>
        <div class="alert alert-info"><b>You have completed <?=$this->module_current ?> of <?=$this->module_needed ?> required <?=$this->pluralize('module', $this->module_needed) ?> in this section.</b></div>
    <? else: ?>
        <div class="alert alert-warning"><b>You are required to complete <?=$this->module_needed ?> <?=$this->pluralize('module', $this->module_needed) ?> in this section.</b></div>
    <? endif; ?>
<? endif; ?>

<table class="table table-nopadding">
    <tbody>
    <? foreach($this->module_group as $module_key => $module): ?>
        <tr>
            <td class="<? if ($module['is_taken']): ?>disabled<? endif; ?>">
                <h3>
                    <?=$module['name'] ?><br>
                    <small><? if ($module['is_required']): ?>Required - <? endif; ?><?=$module['credits'] ?> Credit <? if ($module['taken_timestamp']): ?> - Taken on <?=date('F j, Y', $module['taken_timestamp']) ?><? endif; ?></small>
                </h3>

                <p><?=nl2br($module['description']) ?></p>

                <div class="buttons">
                    <?=$this->button(array(
                        'type'		=> 'small',
                        'icon'		=> 'control_play_blue',
                        'href'		=> $this->routeFromHere(array(
                            'controller' => 'module',
                            'action' => 'index',
                            'course' => $module_key,
                            'advance' => NULL,
                        )),
                        'text'		=> ($module['is_taken']) ? 'Retake This Module' : 'Begin This Module',
                    )) ?>
                </div>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>