<?
if ($this->leader_type == "advisor")
    $this->headTitle('Advisor Essentials Online Training');
else
    $this->headTitle('Officer Essentials Online Training');

$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span3">
	<? if ($this->leader_status['current']): ?>
		<div class="floating grid_green">
			<?=$this->icon(array(
				'type'		=> 'png32',
				'image'		=> 'tick',
				'style'     => 'float: right',
			)) ?>
			<p>
				Your training is <br />
				<span style="font-size: 22px;">Up to date</span><br />
				Expires on:<br />
				<big><?=date('F j, Y', $this->leader_status['expires']) ?></big>
			</p>
			<p>You are not required to complete any additional training at this time.</p>
		</div>
		<? if ($this->leader_status['expires'] <= (time() + 86400*60)): ?>
		<div class="floating">
			<h2>Renew Training</h2>
			
			<p>Your training is about to expire. To renew it, complete the requirements below.</p>
			
			<?=$this->renderHere('components') ?>
		</div>
		<? endif; ?>
	<? else: ?>
		<div class="floating grid_gold">
			<?=$this->icon(array(
				'type'		=> 'png32',
				'image'		=> 'clock_select_remain',
				'style'     => 'float: right',
			)) ?>
			<p>
				Your training is<br />
				<span style="font-size: 22px;">Out of date</span><br />
				See below for details.
			</p>
			
			<?=$this->renderHere('components') ?>
		</div>
	<? endif; ?>
		
		<div class="floating grid_blue">
			<?=$this->icon(array(
				'type'		=> 'png32',
				'image'		=> 'information',
				'style'		=> 'float: right',
			)) ?>
			
			<h2><?=$this->leader_status['category'] ?></h2>
			
		<? if ($this->leader_type == "advisor"): ?>
			<p>This is the highest category of organization you currently advise. All categories of advisors are required to complete the core training modules, but some categories require additional training due to the high risk and profile of their organizations.</p>

			<p>This category of advisor is required to complete the following items to meet the annual requirement:</p>
		<? else: ?>
			<p>This is the highest category of organization that you currently hold a student leader position in. All categories of leaders are required to complete the core training modules, but some categories require additional training due to the high risk and profile of their organizations.</p>

			<p>This category of student leader is required to complete the following items to meet the annual requirement:</p>
		<? endif; ?>
			<ul>
				<li><b><?=$this->components['required_needed'] ?></b> Core Module(s)</li>
				<li><b><?=$this->components['elective_needed'] ?></b> Elective Module(s)</li>
			</ul>

		<? if ($this->components['batch_needed'] > 0): ?>
			<p>Because you are also associated with a "batch" organization group, you are also required to complete:</p>

			<ul>
				<li><b><?=$this->components['batch_needed'] ?></b> Batch Module(s)</li>
			</ul>
		<? endif; ?>
		</div>
	</div>
	<div class="span9">
		<div class="floating">
			<h2>Core Modules</h2>
		
			<?
			$this->module_group = $this->modules['required'];
			$this->module_current = $this->components['required_current'];
			$this->module_needed = $this->components['required_needed'];
			
			echo $this->renderHere('group');
			?>
		</div>

	<? if ($this->components['batch_needed'] != 0): ?>
		<div class="floating">
			<h2>Batch Modules</h2>
			<?
			$this->module_group = $this->modules['batch'];
			$this->module_current = $this->components['batch_current'];
			$this->module_needed = $this->components['batch_needed'];
			
			echo $this->renderHere('group');
			?>
		</div>
	<? endif; ?>

		<div class="floating">
			<h2>Additional Modules</h2>
			<?
			$this->module_group = $this->modules['elective'];
			$this->module_current = $this->components['elective_current'];
			$this->module_needed = $this->components['elective_needed'];
			
			echo $this->renderHere('group');
			?>
		</div>
	</div>
</div>

<script>
$(function() {
	$('div.grid_row').each(function() {
		$(this).find('div.equal_height').equalHeight();
	});
});
</script>