<?
$this->headTitle('Training Center');
?>

<h2>No Training Available</h2>

<p>You do not currently qualify for any training types.</p>

<h3>Who Qualifies?</h3>

<p>The following groups of users are required to complete training as part of their roles:</p>

<ul>
    <li>All organization Advisors</li>
    <li>All organization Chief Student Leaders</li>
    <li>All organization Treasurers</li>
</ul>

<p>If you are pending addition to one of the roster positions above, you will be able to complete the training requirement once your request is approved.</p>