<?
$this->headTitle('Online Training Visitors Center');

$this->placeholder('content_top')->captureStart();
?>
<div class="content_top">
    <div class="content_top_inner yellow">
        <b>Welcome to the Visitors Center! The training modules below do not grant official credit for Student Activities recognition.</b><br>
        <? if (\DF\Auth::isLoggedIn()): ?>
            You are not currently listed as an advisor or student leader. If you believe this is in error, please contact the Department of Student Activities.
        <? else: ?>
            If you are an advisor or student leader, you must <a href="<?=$this->route(array('module' => 'account', 'controller' => 'login')) ?>">log in</a> to receive training credit.
        <? endif; ?>
    </div>
</div>
<?
$this->placeholder('content_top')->captureEnd();
$this->pre_content = (string)$this->placeholder('content_top');
?>

<h2>Available Modules</h2>

<? foreach($this->modules as $module_group => $module_set): ?>
<fieldset>
    <legend><?=$module_group ?> Training</legend>
    
    <dl>
    <? foreach($module_set as $module_key => $module): ?>
        <dt><a href="<?=$this->routeFromHere(array('controller' => 'module', 'action' => 'index', 'course' => $module_key, 'advance' => NULL)) ?>"><?=$module['name'] ?></a></dt>
        <dd><?=nl2br($module['description']) ?></dd>
    <? endforeach; ?>
    </dl>
</fieldset>
<? endforeach; ?>