<h2>History</h2>

<? if (count($this->record->logs) > 0): ?>
	<table class="table table-striped" width="100%">
		<colgroup>
			<col width="25%">
			<col width="25%">
			<col width="50%">
		</colgroup>
		<thead>
			<tr>
				<th>Date/Time</th>
				<th>Organization</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
		<? foreach($this->record->logs as $log): ?>
			<tr class="input">
				<td><?=date('F j, Y g:ia', $log['timestamp']) ?></td>
				<td>
				<? if ($log->organization): ?>
					<?=$log->organization->name ?>
				<? else: ?>
					N/A
				<? endif; ?>
				</td>
				<td><?=$log['message'] ?></td>
			</tr>
		<? endforeach; ?>
		</tbody>
	</table>
<? else: ?>
	<p>This user does not have any history items logged.</p>
<? endif; ?>