<?php
$this->headTitle('WebChat Login');

$user = $this->auth->getLoggedInUser();
?>

<form action="http://studentactivities.tamu.edu/webim/operator/login.php" method="post" id="webchat">
	<input type="hidden" name="login" value="<?=$user->chat_username ?>" />
	<input type="hidden" name="password" value="<?=$user->chat_password ?>" />
	<div class="buttons">
		<?=$this->button(array(
			'type'		=> 'submit',
			'class'		=> 'primary',
			'text'		=> 'Log In to Chat System',
		)) ?>
	</div>
</form>

<script type="text/javascript">
$(function() {
	$('form#webchat').submit();
});
</script>