<?php
$entry_user = $this->entry['User'];

$this->headTitle('Advisor Profile: '.$entry_user['firstname'].' '.$entry_user['lastname']);
$this->layout()->manual = TRUE;
?>

<div class="grid_8">
    <div class="grid_inner">
        <h2>Profile</h2>
        <?=$this->form->renderView() ?>
    </div>
</div>
<div class="grid_4">
    <div class="grid_inner">
        <h2>Contact Information</h2>
        
        <dl>
            <dt>Name:</dt>
            <dd><?=$entry_user['firstname'] ?> <?=$entry_user['lastname'] ?></dd>
            
            <dt>Title:</dt>
            <dd><?=$entry_user['title'] ?></dd>
            
            <dt>E-mail Address:</dt>
            <dd><?=$this->mailto($entry_user['email']) ?></dd>
            
            <dt>Phone Number:</dt>
            <dd><?=$entry_user['phone'] ?></dd>
        </dl>
    </div>
</div>