<?
$this->headTitle('Advisor Matching Directory');
?>

<? if ($this->has_entry): ?>
    <h2>You're Listed!</h2>
    
    <p>You currently have an entry listed in this directory. To manage your listing, click one of the buttons below.</p>
    
    <div class="buttons well">
        <?=$this->button(array(
            'type' => 'link',
            'icon' => 'pencil',
            'text' => 'Edit Listing',
            'href' => $this->routeFromHere(array('action' => 'profile')),
        )) ?>
        <?=$this->button(array(
            'type' => 'link',
            'icon' => 'delete',
            'text' => 'Remove Listing',
            'href' => $this->routeFromHere(array('action' => 'delete')),
            'class' => 'danger confirm-delete',
        )) ?>
    </div>
<? elseif ($this->show_submit): ?>
    <h2>Submit a Listing!</h2>
    
    <p>Are you looking for an organization to advise? Create a profile in the Advisor Directory and you will be directly connected with the leaders of organizations that are looking for new advisors.</p>

    <div class="buttons well">
        <?=$this->button(array(
            'type' => 'link',
            'icon' => 'add',
            'class' => 'success',
            'text' => 'Submit a Listing',
            'href' => $this->routeFromHere(array('action' => 'profile')),
        )) ?>
    </div>
<? endif; ?>

<h2>Current Directory Entries</h2>

<ul>
<? foreach($this->entries_by_type as $type_name => $type_entries): ?>
    <li><a href="#entries_<?=$type_name ?>"><?=$this->types[$type_name] ?></a></li>
<? endforeach; ?>
</ul>

<? foreach($this->entries_by_type as $type_name => $entries): ?>
<fieldset id="entries_<?=$type_name ?>">
    <legend><?=$this->types[$type_name] ?></legend>

    <table class="datatable zebra" width="100%">
        <colgroup>
            <col width="15%" />
            <col width="30%" />
            <col width="55%" />
        </colgroup>
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
        <? foreach($entries as $entry): ?>
            <tr>
                <td align="center"><?=$entry['created_at']->format('F j, Y') ?></td>
                <td align="left"><a href="<?=$this->routeFromHere(array('action' => 'detail', 'id' => $entry['user_id'])) ?>"><?=$entry['user']['firstname'] ?> <?=$entry['user']['lastname'] ?></a></td>
                <td align="left"><?=nl2br($entry['summary']) ?></td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
</fieldset>
<? endforeach; ?>