<h2><?=$this->event->getTitle() ?></h2>

<dl>
	<dt>Date/Time:</dt>
    <dd><?=$this->event->getDateText(1) ?></dd>

<? if ($this->event['location']): ?>
    <dt>Location:</dt>
    <dd><?=$this->event['location'] ?></dd>
<? endif; ?>

<? if ($this->event['description']): ?>
	<dt>Description:</dt>
	<dd><?=$this->event['description'] ?></dd>
<? endif; ?>

    <dt>Current / Capacity:</dt>
    <dd><?=$this->event->getAttendanceText() ?></dd>

	<dt>Sign Up:</dt>
<? if ($this->event->canAttend()): ?>
    <dd><div class="smallbuttons">
        <?=$this->button(array(
            'type'      => 'small',
            'icon'      => 'add',
            'text'      => 'Sign Up',
            'href'      => $this->routeFromHere(array('action' => 'register', 'id' => $this->event->id)),
        )) ?>
    </div></dd>
<? elseif (!\DF\Auth::isLoggedIn()): ?>
    <dd><div class="smallbuttons">
        <?=$this->button(array(
            'type'      => 'small',
            'icon'      => 'key',
            'text'      => 'Log In to Sign Up',
            'href'      => $this->route(array('module' => 'account', 'controller' => 'login')),
        )) ?>
    </div></dd>
<? else: ?>
    <dd>Cannot register for event.</dd>
<? endif; ?>
</dl>