<?
$this->headTitle('Events');
?>

<h2>Select Event Category</h2>

<ul>
<? foreach($this->types as $type_id => $type_name): ?>
    <li><a href="<?=$this->routeFromHere(array('action' => 'calendar', 'category' => $type_id)) ?>"><?=$type_name ?></a></li>
<? endforeach; ?>
</ul>