<?php
$this->headTitle('Of The Year Nomination Forms');
?>

<h2>Choose an Award Type</h2>

<p>Click the button below for the award you would like to submit a nomination for.</p>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->routeFromHere(array('action' => 'form', 'type' => 'organization')),
		'text'		=> 'Organization of the Year',
	)) ?>
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->routeFromHere(array('action' => 'form', 'type' => 'advisor')),
		'text'		=> 'Advisor of the Year',
	)) ?>
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->routeFromHere(array('action' => 'form', 'type' => 'new_advisor')),
		'text'		=> 'New Advisor of the Year',
	)) ?>
</div>