<?php
$this->headTitle('Process COSGA File');
?>

<form action="" method="post" class="form-stacked df-form" enctype="multipart/form-data">
<div class="clearfix">
	<label for="csv">Upload CSV File:</label>
	<input type="file" name="csv">
</div>

<?=$this->button(array(
	'type'		=> 'submit',
	'text'		=> 'Process File',
)) ?>
</form>