<?php
$this->headTitle('Pre-Event Planning Form');
?>

<h2><?=$this->org->name ?></h2>

<?=$this->renderCommon('orgs', array('orgs' => array($this->org))) ?>

<h3>Start a New Form</h3>
    
<p>If the form you wish to submit is not already listed below, or you wish to create a new form, click the button below to begin.</p>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large success',
        'href'      => $this->routeFromHere(array('action' => 'create')),
        'icon'      => 'asterisk_yellow',
        'text'      => 'Start New Form',
    )) ?>
</div>

<h3>Incomplete Forms</h3>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra" width="100%">
	<colgroup>
    	<col width="25%" />
        <col width="25%" />
        <col width="30%" />
        <col width="20%" />
    </colgroup>
    <thead>
    	<tr>
        	<th>&nbsp;</th>
            <th>Form ID</th>
            <th>Event Name</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $form): ?>
        <tr class="input">
        	<td align="center">
            <? if ($form->phase == \Entity\PreEventForm::PHASE_INITIAL || $form->phase == \Entity\PreEventForm::PHASE_MODIFY): ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'application_form_edit',
                    'href'      => $this->routeFromHere(array('controller' => 'form', 'action' => 'begin', 'code' => $form->access_code)),
                    'text'      => 'Edit Form',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'delete',
                    'class'     => 'danger confirm-action',
                    'href'      => $this->routeFromHere(array('controller' => 'form', 'action' => 'delete', 'code' => $form->access_code)),
                    'text'      => 'Delete Form',
                )) ?>
            <? elseif ($form->phase == \Entity\PreEventForm::PHASE_ADVISOR): ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'application_form_edit',
                    'href'      => $this->routeFromHere(array('controller' => 'form', 'action' => 'confirm', 'code' => $form->access_code)),
                    'text'      => 'Review Form',
                )) ?>
            <? else: ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'application_form',
                    'href'      => $this->routeFromHere(array('controller' => 'form', 'action' => 'view', 'code' => $form->access_code)),
                    'text'      => 'View Form',
                )) ?>
            <? endif; ?>
            </td>
            <td align="left">
            	<big><?=$form->access_code ?></big><br />
                <?=$form->phase_name ?>
            </td>
            <td align="left"><?=$form->index_name ?></td>
            <td align="center"><?=date('F j, Y', $form->timestamp) ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>