<?php
$this->headTitle('Pre-Event Planning Form');

$user = $this->auth->getLoggedInUser();
$org_acl = \StuAct\Acl\Organization::getInstance();
?>

<? if (count($user->officer_positions) > 0): ?>
	<h2>Choose an Organization</h2>

	<p>Below are the organizations currently associated with your account. Choose an organization to view, update, and add planning forms associated with the organization.</p>

	<ul>
	<? foreach($user->officer_positions as $position): ?>
		<? if ($org_acl->isAllowed('home', $position->organization)): ?>
			<li><b><a href="<?=$this->routeFromHere(array('org_id' => $position->organization->id)) ?>"><?=$position->organization->name ?></a></b> - <?=$position->name ?></li>
		<? else: ?>
			<li><b><?=$position->organization->name ?></b> - <?=$position->name ?> (Cannot manage projects)</li>
		<? endif; ?>
	<? endforeach; ?>
	</ul>

	<p><b>Note:</b> You must be an officer or advisor of an organization to view all forms submitted by an organization.</p>
<? endif; ?>

<h2>Enter an Existing Form ID</h2>
<form action="<?=$this->routeFromHere(array('action' => 'form')) ?>" method="get">
<dl>
	<dt>Form ID:</dt>
    <dd><input type="text" name="id" value="" class="full-width big" /></dd>
    <dd class="info">Your form ID looks like "A1B2C-00001", and is unique for each new form submitted.</dd>
</dl>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'application_go',
		'text'		=> 'Continue Existing Form',
	)) ?>
</div>
</form>