<?php
$this->headTitle('Camps Form Center');
$this->layout()->manual = true;
?>

<div class="row">
    <div class="span4">
        <div class="floating">
            <h3><i class="icon-info-sign"></i> About This Form</h3>
            <p>This form allows you to submit an application for a Camp or Enrichment Program to the Department of Student Activities for review.</p>
        </div>
        <div class="floating">
            <h2>My Account</h2>
        
            <p>
                Logged in as<br />
                <big><?=$this->camps_user->name ?></big><br />
                <small><b><?=$this->camps_user->email ?></b></small>
            </p>

            <div class="buttons btn-group">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'vcard_edit',
                    'text'      => 'My Profile',
                    'href'      => $this->routeFromHere(array('action' => 'profile')),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'key_go',
                    'class'     => 'danger confirm-action',
                    'text'      => 'Log Out',
                    'href'      => $this->routeFromHere(array('action' => 'logout')),
                )) ?>
            </div>
        </div>

        <? if (count($this->programs) > 0): ?>
        <div class="floating">
            <h2>Current Program</h2>

            <? if ($this->program): ?>
                <p><big><?=$this->program->name ?></big></p>

                <div class="buttons btn-group">
                    <?=$this->button(array(
                        'type'      => 'small',
                        'icon'      => 'vcard_edit',
                        'text'      => 'Program Profile',
                        'href'      => $this->routeFromHere(array('action' => 'programprofile')),
                    )) ?>
                </div>
            <? else: ?>
                <p>You have not selected an active program.</p>
            <? endif; ?>

            <? if (count($this->programs) > 1): ?>
                <h3>Switch to Program</h3>

                <ul class="nav nav-pills nav-stacked autoselect" rel="<?=$this->program_id ?>">
                <? foreach((array)$this->programs as $prog_id => $prog_info): ?>
                    <li rel="<?=$prog_id ?>"><a href="<?=$this->routeFromHere(array('program_id' => $prog_id)) ?>"><?=$prog_info->name ?></a></li>
                <? endforeach; ?>
                </ul>
            <? endif; ?>
        </div>
        <? endif; ?>
    </div>
    <div class="span8">
    <? if (count($this->programs) == 0): ?>
        <div class="floating">
            <h2>No Programs Available</h2>
            <p>You are not currently associated with any Camps programs. To associate your account with an existing program or create a new one, please contact the Camps program coordinator in the Department of Student Activities.</p>
        </div>
    <? elseif (!$this->program): ?>
        <div class="floating">
            <h2>Select a Program</h2>
            <p>Your account is associated with more than one program. Select the program you would like to manage from the list on the left.</p>
        </div>
    <? else: ?>
        <div class="floating">
            <h2>Start a New Form</h2>
            <p>Before starting a new form, you will want to gather the following information about the camp:</p>
            <ul>
                <li>Camp/Program Budget including insurance fees and, if applicable, Support Service Fees</li>
                <li>Approval to Charge Forms (Only for student groups with SOFC accounts)</li>
                <li>Detailed Itinerary/Agenda/Schedule</li>
                <li>Camp/Program Purpose Description/Brochure/Website</li>
                <li>Copy of Medical Facility Notification Letter with current policy # (most current template is found within the Online Application)</li>
                <li>Copy of Liability Waiver (most current waiver template is found within the Online Application) </li>
                <li>Third Party Camps: Copy of SIGNED Third Party Contract (signed by Third Party Sponsor &amp; Sponsoring Department)</li>
            </ul>
            
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'block',
                    'class'     => 'large primary',
                    'href'      => $this->routeFromHere(array('action' => 'new')),
                    'icon'      => 'asterisk_yellow',
                    'text'      => 'Create New Form',
                )) ?>
            </div>
        </div>
        <div class="floating">
            <h2>Current Forms</h2>

            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="30%">
                    <col width="15%">
                    <col width="22%">
                    <col width="33%">
                </colgroup>
                <thead>
                    <tr>
                        <th>Form ID/Name</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach($this->program->forms as $form): ?>
                    <tr class="input">
                        <td>
                            <small><b><?=$form->access_code ?></b></small><br />
                            <big><?=$form->index_name ?></big>
                        </td>
                        <td><?=date('m/d/Y', $form->time_created) ?></td>
                        <td><?=$form->phase_name ?></td>
                        <td align="left">
                            <div class="btn-group">
                            <? if ($form->isAllowed('edit')): ?>
                                <?=$this->button(array(
                                    'type'      => 'small',
                                    'href'      => $this->routeFromHere(array('controller' => 'form', 'action' => 'begin', 'code' => $form->access_code)),
                                    'icon'      => 'pencil',
                                    'text'      => 'Edit',
                                )) ?>
                                <?=$this->button(array(
                                    'type'      => 'small',
                                    'href'      => $this->routeFromHere(array('controller' => 'form', 'action' => 'delete', 'code' => $form->access_code)),
                                    'icon'      => 'delete',
                                    'class'     => 'danger confirm-delete',
                                    'text'      => 'Delete',
                                )) ?>
                            <? endif; ?>
                            <? if ($form->isAllowed('roster')): ?>
                                <?=$this->button(array(
                                    'type'      => 'small',
                                    'href'      => $this->routeFromHere(array('controller' => 'form', 'action' => 'roster', 'code' => $form->access_code)),
                                    'icon'      => 'group',
                                    'text'      => 'Submit Roster',
                                )) ?>
                            <? endif; ?>
                            <? if ($form->isAllowed('incident')): ?>
                                <?=$this->button(array(
                                    'type'      => 'small',
                                    'href'      => $this->routeFromHere(array('controller' => 'form', 'action' => 'incident', 'code' => $form->access_code)),
                                    'icon'      => 'error',
                                    'text'      => 'Report Incident',
                                )) ?>
                            <? endif; ?>
                            <? if ($form->isAllowed('view')): ?>
                                <?=$this->button(array(
                                    'type'      => 'small',
                                    'href'      => $this->routeFromHere(array('controller' => 'form', 'action' => 'view', 'code' => $form->access_code)),
                                    'icon'      => 'page_white',
                                    'text'      => 'View',
                                )) ?>
                            <? endif; ?>
                            </div>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        </div>
    <? endif; ?>
    </div>
</div>