<h2>Annual Recognition Process: Early Bird Recognition Open</h2>

<?=$this->org->email_header ?>

<p>Every year, your organization is required to renew its recognized status through the Department of Student Activities. This annual process is called the "Recognition Cycle". For your organization, this process begins on <b><?=date('F j, Y', $this->start_of_cycle) ?></b>, at which point your organization's recognition requirements will be reset and its status will be changed to "In Transition" until all requirements are met again. This process is designed to take place within the month that your organization elects new officers<sup>*</sup>.</p>

<p>If your organization's new officers are already in place and you are ready to begin the recognition process, you can start renewing your requirements on StuAct Online now. Between today and <?=date('F j, Y', $this->start_of_cycle) ?>, you can add or remove officers, upload a new constitution, or complete any other step of the recognition process, and any changes will carry over into the coming recognition cycle. During this time period, your organization cannot become "Restricted" for losing any recognition requirements. We encourage you to take this opportunity for "Early Bird Recognition" so that your new officers can begin to receive notifications from our system.</p>

<p>
	To get started with Early Bird Recognition, new or returning officers should be listed on the organization's roster. These officers can submit a request for their position in the organization by visiting this page:<br />
	<?=$this->link($this->org->route(array('controller' => 'roster', 'action' => 'newrequest'))) ?>
</p>

<p>
	Once the roster has been updated, your recognition checklist will reflect any unmet requirements for the coming recognition cycle. This checklist can be viewed at any time by visiting this page:<br />
	<?=$this->link($this->org->route(array('controller' => 'recognition'))) ?>
</p>

<p><sup>*</sup> If your organization elects officers in a month other than the one identified above, or you have any questions about the annual recognition process, please contact the Department of Student Activities at 979-862-2953.</p>
