<h2>Recognition Cycle Changed</h2>

<?=$this->org->email_header ?>

<p>The annual recognition renewal process for your organization has begun for the upcoming year.  Your recognition checklist has been reset, and any previous officers have been notified with instructions to transition their positions for the coming year. You will have until <b><?=date('F j, Y', $this->time_of_restriction) ?></b> to complete the recognition renewal process for your organization. If you do not complete the recognition renewal process within this time, your organization will become "Restricted."</p>

<p>If you have any questions about the annual recognition process, please contact the Department of Student Activities at 979-862-2953.</p>