<h2>Update Public Profile Soon</h2>

<?=$this->org->email_header ?>

<p>As part of the annual recognition process, your organization is required to maintain an up-to-date public profile. Keeping your profile current and accurate helps to ensure that staff, students, and visitors to our site can easily find essential information about your organization by searching our web site.</p>

<p>
	To update your organization's public profile, visit this page:<br />
	<?=$this->link($this->org->route(array('controller' => 'profile', 'action' => 'editpublic'))) ?>
</p>

<p>If your organization's profile is not reviewed and updated, the organization will be placed under "Restricted" status until this requirement is met.</p>

<p>If you have any questions about the annual recognition process, please contact the Department of Student Activities at 979-862-2953.</p>