<h2>Organization Restricted Due to Recognition Requirements</h2>

<?=$this->org->email_header ?>

<p>This organization's recognition status has been changed to "Restricted" because it has no longer meets one or more recognition requirements.</p>

<p>The following requirements are not met:</p>
<?
include('unmet_flags.phtml');
?>

<p>The organization can be restored to "Recognized" status by fulfilling all unmet requirements.</p>

<p>If you have any questions regarding this status change, please contact the Department of Student Activities at 979-862-2953.</p>

<p>
To view your organization's progress on the recognition checklist, visit this page:<br>
<?=$this->link($this->org->route('recognition')) ?>
</p>