<h2>Warning! Revocation of Recognized Status Approaching</h2>

<?=$this->org->email_header ?>

<p>Your organization will soon become "Not Recognized." Your organization must meet all requirements for recognition before <b><?=date('F j, Y', $this->time_of_unrecognition) ?></b>. If the requirements are not met by this time, your organization will be unable to renew its recognition status without completing a New Student Organization (NSO) application.</p>

<p>If you have any questions about the annual recognition process, please contact the Department of Student Activities at 979-862-2953.</p>