<h2>Organization Recognition Revoked</h2>

<?=$this->org->email_header ?>

<p>Your organization has failed to regain its status as a recognized student organization. As a result, your organization is permanently "Not Recognized" and, therefore, can not operate as a recognized student organization on campus.</p>

<p>If you have any questions about the annual recognition process, please contact the Department of Student Activities at 979-862-2953.</p>