<?php
$this->headTitle('Bulk GPR Lookup');
?>

<h2>Enter UINs</h2>
<p>This feature will retrieve GPR data for all UINs entered into the box below. Type each UIN on a new line.</p>

<form id="frm-lookup" action="<?=$this->routeFromHere(array()) ?>" class="df-form form-stacked" method="post">
	<div class="clearfix">
		<label for="uins">UINs:</label>
		<textarea name="uins" class="full-width full-height"></textarea>
	</div>

	<div class="clearfix">
		<label for="term">Term:</label>
		<?=$this->formRadio('term', NULL, NULL, $this->term_opts) ?>
	</div>

	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'page_white_excel',
		'text'		=> 'Generate GPR Report',
	)) ?>
</form>