<?
$this->headTitle('Frequently Asked Questions');
?>

<? if ($this->is_admin): ?>
<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'add',
        'text'      => 'Add New Question',
        'class'     => 'large success',
        'href'      => $this->routeFromHere(array('action' => 'edit')),
    )) ?>
</div>
<? endif; ?>

<fieldset>
    <legend>Quick Navigation</legend>

    <ul>
    <? foreach($this->faq_types as $faq_key => $faq_name): ?>
    	<li><a href="#<?=$faq_key ?>"><?=$faq_name ?></a></li>
    <? endforeach; ?>
    </ul>
</fieldset>

<? foreach($this->faqs as $faq_key => $faq_info): ?>
    <fieldset id="<?=$faq_key ?>">
        <legend><?=$faq_info['name'] ?></legend>

        <table class="datatable zebra" width="100%">
            <tbody>
            <? foreach((array)$faq_info['questions'] as $faq): ?>
                <tr class="input">
                <? if ($this->is_admin): ?>
                    <td width="3%"><a href="<?=$this->routeFromHere(array('action' => 'edit', 'id' => $faq['id'])) ?>" title="Edit"><?=$this->icon('pencil') ?></a></td>
                    <td width="3%"><a href="<?=$this->routeFromHere(array('action' => 'delete', 'id' => $faq['id'])) ?>" title="Delete" class="confirm-action"><?=$this->icon('delete') ?></a>
                <? endif; ?>
                    <td align="left" id="question<?=$faq['id'] ?>">
                        <b><?=$faq['question'] ?></b><br>
                        <small><?=nl2br($faq['answer']) ?></small>
                    </td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </fieldset>
<? endforeach; ?>