<?
$this->headTitle('Leadership Library');
$this->layout()->manual = TRUE;
?>

<div class="row">
    <div class="span4">
        <div class="floating">
            <h2>Categories</h2>
            
            <ul class="nav nav-list">
                <li <? if ($this->category_id === NULL): ?>class="active"<? endif; ?>><a href="<?=$this->routeFromHere(array('category' => NULL, 'q' => NULL, 'page' => NULL)) ?>">Home</a></li>
                <li <? if ($this->category_id === 0): ?>class="active"<? endif; ?>><a href="<?=$this->routeFromHere(array('category' => 0, 'q' => NULL, 'page' => 1)) ?>">View All Books</a></li>
            <? foreach($this->categories as $category_id => $category_name): ?>
                <li <? if ($this->category_id == $category_id): ?>class="active"<? endif; ?>><a href="<?=$this->routeFromHere(array('category' => $category_id, 'q' => NULL, 'page' => 1)) ?>"><?=$category_name ?></a></li>
            <? endforeach; ?>
            </ul>
        </div>
    </div>
    <div class="span8">
        <div class="floating">
        
        <? if (!$this->pager): ?>
            <? if ($this->can_edit): ?>
            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'add',
                    'text'      => 'Add a Book',
                    'class'     => 'success',
                    'href'      => $this->routeFromHere(array('action' => 'edit')),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'book',
                    'text'      => 'Unlisted Books',
                    'href'      => $this->routeFromHere(array('action' => 'special')),
                )) ?>
            </div>
            <? endif; ?>
            
            <a href="http://library.tamu.edu/" target="_blank"><img src="<?=\DF\Url::content('images/reveille_read_book.png') ?>" alt="Reveille Read" style="float: right;"></a>
            <h2>About the Leadership Library</h2>
            
            <p style="font-size: 14px;">The Leadership and Service Center is proud to house the Leadership Library, which offers resources related to leadership, cultural and social issues, teambuilding activities, and training. The library is open to students, staff and faculty and is located in Koldus 142 in the Department of Student Activities. Come browse our library so that you can learn and grow as a leader.</p>
            <p><small><em>Image courtesy of the Texas A&amp;M University Libraries</em></small></p>
            <div class="clear">&nbsp;</div>
        <? endif; ?>
        
        <? if (!$this->pager || $this->searchterms): ?>
            <fieldset>
                <h2>Find a Book</h2>
                
                <form class="form-stacked" action="<?=$this->routeFromHere(array('page' => NULL)) ?>" method="get">

                <div class="clearfix">
                    <label for="q">Search terms:</label>
                    <input type="text" name="q" value="<?=$this->searchterms ?>" class="full-width big" />
                </div>
                
                <div class="buttons actions">
                    <?=$this->button(array(
                        'type'		=> 'submit',
                        'icon'		=> 'find',
                        'class'     => 'primary',
                        'text'		=> 'Search Books',
                    )) ?>
                </div>
                </form>
                
                <h2>Additional Resources</h2>
                
                <ul>
                    <li><a href="http://guides.library.tamu.edu/Leadership">TAMU Library Resource Guide</a></li>
                </ul>
            </fieldset>
        <? endif; ?>
        
        <? if (!$this->pager): ?>
            <br>
            <blockquote>
                "Today a reader, tomorrow a leader."<br />
                &nbsp;&nbsp;&nbsp;- Margaret Fuller
            </blockquote>
        <? endif; ?>
        
        <? if ($this->pager): ?>
            <h2><?=$this->subtitle ?></h2>
            
            <?=$this->paginate($this->pager) ?>
            
            <? if (count($this->pager) > 0): ?>
                <table class="datatable zebra">
                    <colgroup>
                        <col width="8%" />
                        <col width="92%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    <? foreach($this->pager as $book): ?>
                        <tr>
                            <td align="center">
                            <? if ($book['thumbnail']): ?>
                                <img src="<?=$book['thumbnail'] ?>" style="border: 1px solid #CCC;" alt="Book Thumbnail">
                            <? else: ?>
                                &nbsp;
                            <? endif; ?>
                            </td>
                            <td align="left">
                            <? if ($this->can_edit): ?>
                                <div class="smallbuttons" style="float: right">
                                    <?=$this->button(array(
                                        'type'      => 'small',
                                        'icon'      => 'book_go',
                                        'class'     => 'positive btn_checkout fancybox',
                                        'rel'       => $book['id'],
                                        'href'      => '#dialog_checkout',
                                        'text'      => 'Check Out',
                                    )) ?>
                                    <?=$this->button(array(
                                        'type'      => 'small',
                                        'icon'      => 'pencil',
                                        'href'      => $this->routeFromHere(array('action' => 'edit', 'id' => $book['id'])),
                                        'text'      => 'Edit',
                                    )) ?>
                                    <?=$this->button(array(
                                        'type'      => 'small',
                                        'icon'      => 'delete',
                                        'class'     => 'negative confirm-delete',
                                        'href'      => $this->routeFromHere(array('action' => 'delete', 'id' => $book['id'])),
                                        'text'      => 'Delete',
                                    )) ?>
                                </div>
                            <? endif; ?>
                                <big><?=$book['title'] ?></big><br>
                                <small><b><?=$book['author'] ?></b></small>
                            <? if ($book['description']): ?>
                                <br><blockquote><?=nl2br($book['description']) ?></blockquote>
                            <? endif; ?>
                            </td>
                        </tr>
                    <? endforeach; ?>
                    </tbody>
                </table>
            <? else: ?>
                <p>No records found!</p>
            <? endif; ?>
            
            <?=$this->paginate($this->pager) ?>
        <? endif; ?>
        </div>
    </div>
</div>

<? if ($this->can_edit): ?>
    <div id="dialog_checkout" style="width: 500px; height: 400px; display: none;">
        <?=$this->checkout_form->render() ?>
    </div>
    
    <script type="text/javascript">
    $(function() {
        $('.btn_checkout').click(function(e) {
            $('#dialog_checkout').find("input[name='id']").val($(this).attr('rel'));
        });
    });
    </script>
<? endif; ?>