<?
$this->headtitle('Unlisted Books');
?>

<h2>Currently Checked Out</h2>

<table class="datatable zebra">
    <colgroup>
        <col width="20%" />
        <col width="35%" />
        <col width="25%" />
        <col width="20%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Book</th>
            <th>Checked Out To</th>
            <th>Due</th>
        </tr>
    </thead>
    <tbody>
    <? foreach((array)$this->checked_out_books as $book): ?>
        <tr>
            <td align="center">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'book_add',
                    'href'      => $this->routeFromHere(array('action' => 'checkin', 'id' => $book['id'])),
                    'text'      => 'Check In',
                )) ?>
            </td>
            <td align="left">
                <big><?=$book['title'] ?></big><br>
                <small><b><?=$book['author'] ?></b></small>
            </td>
            <td align="center">
                <?=$book['User']['firstname'] ?> <?=$book['User']['lastname'] ?>
            </td>
            <td align="center">
                <?=date('F j, Y', $book['due_date']) ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<br />
<h2>Currently Lost</h2>

<table class="datatable zebra">
    <colgroup>
        <col width="20%" />
        <col width="80%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Book</th>
        </tr>
    </thead>
    <tbody>
    <? foreach((array)$this->lost_books as $book): ?>
        <tr>
            <td align="center">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'pencil',
                    'href'      => $this->routeFromHere(array('action' => 'edit', 'id' => $book['id'])),
                    'text'      => 'Edit',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'delete',
                    'class'     => 'negative confirm-delete',
                    'href'      => $this->routeFromHere(array('action' => 'delete', 'id' => $book['id'])),
                    'text'      => 'Delete',
                )) ?>
            </td>
            <td align="left">
                <big><?=$book['title'] ?></big><br>
                <small><b><?=$book['author'] ?></b></small>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>