<h2><?=$this->subject ?></h2>

<p>A Travel Information Form has been submitted.</p>
<p>The password for this submission is <b><?=$this->record->password ?></b>.</p>

<ul>
	<li>For information regarding the travel rule or travel policies, please contact Student Organization Development and Administration at <?=$this->mailto('tsmith@stuact.tamu.edu') ?>.</li>
	<li>For technical questions regarding the travel form itself, contact the Department of Information Technology at (979) 862-7990 or <?=$this->mailto('help@doit.tamu.edu') ?>.</li>
	<li><b>While on your trip, should a critical incident occur, contact UPD at (979) 845-2345.</b></li>
</ul>

<p>
	To view or print this form, visit this page:<br>
	<?=$this->link($this->route(array('module' => 'form_travel', 'controller' => 'index', 'action' => 'view', 'code' => $this->record->password))) ?>
</p>

<p>
	To submit updates to this form, visit this page:<br>
	<?=$this->link($this->route(array('module' => 'form_travel', 'controller' => 'index', 'action' => 'edit', 'code' => $this->record->password))) ?>
</p>

<p>The following information was included:</p>
<?=$this->form ?>