<?
$this->headTitle('Training Module');
?>

<h2>Module Complete!</h2>

<p>Thank you for completing this online training module.</p>

<h3>Submit Feedback</h3>

<p>Please provide your feedback so we can continue to make improvements for future users.</p>

<div class="buttons">
    <?=$this->button(array(
        'type' => 'link',
        'icon' => 'resultset_next',
        'class' => 'positive',
        'href' => $this->routeFromHere(array(
            'controller' => 'assessment',
            'action' => 'index',
            'advance' => NULL
        )),
        'text' => 'Submit Feedback',
    )) ?>
</div>

<h3>Return to Training Home</h3>

<p>To return directly to the training center, click the button below.</p>
    
<div class="buttons">
    <?=$this->button(array(
        'type' => 'link',
        'icon' => 'house',
        'href' => $this->routeFromHere(array('controller' => 'index', 'action' => 'index', 'course' => NULL, 'advance' => NULL)),
        'text' => 'Back to Training Home',
    )) ?>
</div>