<? if (!\DF\Auth::isLoggedIn()): ?>
    <?
    \DF\Flash::addMessage('<b>Note: You are viewing this training in "Visitor Mode".</b><br>If you are an officer or advisor, you must <a href="'.$this->route(array('module' => 'account', 'controller' => 'login')).'">log in</a> to receive training credit.', 'yellow');
    ?>
<? endif; ?>

<div class="row">
    <div class="span3">
        <div style="padding: 3px 0 0 10px;">
        <? if ($this->step != 1): ?>
            <?=$this->button(array(
                'type' => 'link',
                'icon' => 'resultset_previous',
                'text' => 'Back',
                'href' => $this->routeFromHere(array('advance' => 'back')),
            )) ?>
        <? else: ?>
            <?=$this->button(array(
                'type' => 'link',
                'icon' => 'resultset_previous',
                'text' => 'Back',
                'href' => $this->routeFromHere(array('controller' => 'index', 'action' => 'index', 'course' => NULL)),
            )) ?>
        <? endif; ?>
        </div>
    </div>
    <div class="span6">
        <div style="text-align: center">
            Current Module:<br />
            <big><?=$this->course['name'] ?></big>
        </div>
    </div>
    <div class="span3">
        <div style="text-align: right; padding: 10px 10px 0 0;">
            <big>Step <?=$this->step ?> of <?=$this->num_steps ?></big>
        </div>
    </div>
</div>