<h2><?=$this->type ?> Event Requires Approval</h2>

<p>The event below requires your approval before it can be added to the Sponsored/Authorized Events calendar.</p>

<p>
	To review this form, visit this page:<br />
	<?=$this->link($this->route(array('module' => 'sponsauth', 'controller' => 'review', 'action' => 'index', 'code' => $this->code))) ?>
</p>

<?=$this->form->renderMessage() ?>