<?php
$this->headTitle('Travel Information Form');
$this->layout()->manual = true;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Form #<?=$this->record->password ?></h2>
			<h3>Step 2 of 3: Date(s) of Travel</h3>

		<? if (count($this->record->sessions) > 0): ?>
			<h4>Current Travel Date(s)</h4>

			<table class="datatable zebra">
				<colgroup>
					<col width="5%">
					<col width="15%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
				</colgroup>
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Actions</th>
						<th>To Destination<br><small>Departure</small></th>
						<th>To Destination<br><small>Arrival</small></th>
						<th>From Destination<br><small>Departure</small></th>
						<th>From Destination<br><small>Arrival</small></th>
					</tr>
				</thead>
				<tbody>
				<?
				$i = 1;
				?>
				<? foreach($this->record->sessions as $session): ?>
					<tr class="input">
						<td>#<?=$i ?></td>
						<td class="center">
							<?=$this->button(array(
								'type'		=> 'small',
								'icon'		=> 'icon-delete',
								'text'		=> 'Delete',
								'class'		=> 'danger confirm-action',
								'href'		=> $this->routeFromHere(array('command' => 'delete', 'id' => $session->id)),
							)) ?>
						</td>
						<td><?=date('m/d/Y g:ia', $session->outbound_departure) ?></td>
						<td><?=date('m/d/Y g:ia', $session->outbound_arrival) ?></td>
						<td><?=date('m/d/Y g:ia', $session->inbound_departure) ?></td>
						<td><?=date('m/d/Y g:ia', $session->inbound_arrival) ?></td>
					</tr>
					<? $i++; ?>
				<? endforeach; ?>
				</tbody>
			</table>
		<? else: ?>
			<p>Please enter your first date of travel in the form below. You can continue to add additional travel dates if needed.</p>
		<? endif; ?>

			<h4>Add a New Travel Date</h4>
			<?=$this->form->render() ?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h4>Complete Step and Continue</h4>
			<p>When you have finished adding travel dates, click the button below to continue to the next step.</p>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'class'		=> 'large primary',
					'icon'		=> 'icon-chevron-right',
					'text'		=> 'Save and Continue',
					'href'		=> $this->routeFromHere(array('command' => 'next')),
				)) ?>
			</div>
		</div>
	</div>
</div>