<?php
$this->headTitle('Travel Information Form');
?>

<h2>Form #<?=$this->record->password ?></h2>
<h3>Step 3 of 3: Trip Attendees</h3>

<?=$this->form->render() ?>

<script type="text/javascript">
$(function() {
	$('input.floatblock').closest('.clearfix').addClass('span3');

	$('fieldset').each(function() {
		var divs = $(this).find('input.floatblock').closest('.clearfix');
		var items_per_row = 4;

		for(var i = 0; i < divs.length; i+=items_per_row) {
			divs.slice(i, i+items_per_row).wrapAll('<div class="clear"></div>');
		}
	});
});
</script>