<?
$this->headTitle('Travel Information Form');
?>

<h2>Submission Successful</h2>

<p>Your submission has been received. An e-mail has been sent to you for your records.</p>

<p>You can update your submission at any time by returning to the form homepage and using the following access code:</p>

<div class="padded">
	<big><?=$this->record->password ?></big>
</div>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->routeFromHere(array('action' => 'index', 'code' => NULL, 'step' => NULL)),
		'icon'		=> 'resultset_previous',
		'text'		=> 'Travel Information Form Home',
	)) ?>
</div>