<?
$this->headTitle('Travel Information Form');
$this->layout()->manual = TRUE;

$this->alert($this->renderHere('index_international'), 'info');
?>

<div class="row">
    <div class="span6">
        <div class="floating grid_green">
            <h2>Start a New Form</h2>

            <p>To begin a new form as an academic or other University-affiliated group, click the button below.</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'asterisk_orange',
                    'href'      => $this->routeFromHere(arraY('action' => 'create')),
                    'text'      => 'Start as Academic or Other Group',
                )) ?>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="floating grid_gold">
            <h2>Update a Submitted Form</h2>

            <form action="<?=$this->routeFromHere(array('action' => 'edit')) ?>" method="get">
            <dl>
                <dt>Form Password:</dt>
                <dd class="info">This code is in the form "12345-a1b23".</dd>
                <dd><input type="password" class="full-width" name="code" autocomplete="off"></dd>
            </dl>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'submit',
                    'icon'      => 'resultset_next',
                    'text'      => 'Update Form',
                )) ?>
            </div>
            </form>
        </div>
    </div>
</div>