<table class="table table-nopadding" width="100%">
    <colgroup>
        <col width="5%">
        <col width="95%">
    </colgroup>
	<tr>
    	<td class="center">
            <?=$this->icon(array(
                'type'      => 'png_status',
                'image'     => $this->organization->status_icon,
                'title'     => $this->organization->status_name,
            )) ?>
        </td>
        <td>
            <b><?=$this->organization->status_name ?></b><br>
        <? if ($this->organization->status == ORG_STATUS_EXEMPT): ?>
            This organization does not need to complete the annual recognition process.
        <? elseif ($this->organization->status == ORG_STATUS_NOT_RECOGNIZED): ?>
            For more information, contact the Department of Student Activities at 979-845-1133.
        <!--<? /*
        <? elseif ($this->organization->status == ORG_STATUS_SUSPENDED): ?>
            Complete the steps shown on the Recognition Checklist to restore your organization to "Recognized" status. If this is not done before 
            <?=date('F j, Y', $this->organization->next_status_change) ?>, the organization will become "Not Recognized".
        */ ?>-->
        <? elseif ($this->organization->status == ORG_STATUS_RESTRICTED): ?>
            <? if ($this->cycle_override == 1): ?>
                This status can only be changed by the Department of Student Activities. Please contact us if you are unsure why this restriction was placed on the organization.
            <? else: ?>
                Complete the steps on the Recognition Checklist to restore your organization to "Recognized" status. If this is not done before <?=date('F j, Y', $this->organization->next_status_change) ?>, the organization will become "Not Recognized".
            <? endif; ?>
        <? elseif ($this->organization->status == ORG_STATUS_IN_PROGRESS): ?>
            Complete the steps shown on the Recognition Checklist to become "Recognized". If this is not done before <?=date('F j, Y', $this->organization->next_status_change) ?>, the organization will become "Recognized with Restrictions".
        <? elseif ($this->organization->status == ORG_STATUS_IN_TRANSITION): ?>
            The recognition checklist has been reset. Complete the checklist again to become "Recognized". If this is not done before <?=date('F j, Y', $this->organization->next_status_change) ?>, the organization will become "Recognized with Restrictions".
        <? elseif ($this->organization->status == ORG_STATUS_RECOGNIZED): ?>
            <? if ($this->organization->isEarlyBird()): ?>
            	The organization can now optionally complete the recognition process for the coming year without restrictions.
            <? endif; ?>
             The recognition cycle for the coming year will begin on <?=date('F j, Y', $this->organization->next_status_change) ?> for this organization, when the organization will automatically switch to the "Renewing Recognition" status.
        <? endif; ?>
        </td>
    </tr>
</table>