<? if ($this->isAllowed('home')): ?>
	<ul class="nav nav-pills autoselect" rel="<?=$this->active_tab ?>">
		<li rel="home"><a href="<?=$this->routeFromHere(array('controller' => 'index', 'action' => 'index')) ?>">Home</a></li>
		<li rel="profile">
			<a href="<?=$this->orgRoute(array('controller' => 'profile', 'action' => 'public')) ?>">Profile</a>
			<ul>
			<? if ($this->isAllowed('profile_public_view')): ?>
				<li><a href="<?=$this->orgRoute(array('controller' => 'profile', 'action' => 'public')) ?>"><i class="icon-picture"></i> Public Profile</a></li>
			<? endif; ?>
			<? if ($this->isAllowed('profile_public_edit')): ?>
				<li><a href="<?=$this->orgRoute(array('controller' => 'profile', 'action' => 'editpublic')) ?>"><i class="icon-pencil"></i> Edit Public Profile</a></li>
			<? endif; ?>
			<? if ($this->isAllowed('profile_staff_view')): ?>
				<li class="divider"></li>
				<li><a href="<?=$this->orgRoute(array('controller' => 'profile', 'action' => 'staff')) ?>"><i class="icon-info-sign"></i> Staff Profile</a></li>
			<? endif; ?>
			<? if ($this->isAllowed('profile_staff_edit')): ?>
				<li><a href="<?=$this->orgRoute(array('controller' => 'profile', 'action' => 'editstaff')) ?>"><i class="icon-pencil"></i> Edit Staff Profile</a></li>
			<? endif; ?>
			</ul>
		</li>
		<li rel="recognition">
			<a href="<?=$this->orgRoute(array('controller' => 'recognition')) ?>">Recognition</a>
			<ul>
				<li><a href="<?=$this->orgRoute(array('controller' => 'recognition')) ?>"><i class="icon-ok-circle"></i> Checklist</a></li>
				<li><a href="<?=$this->orgRoute(array('controller' => 'constitution')) ?>"><i class="icon-file"></i> Constitution</a></li>
			<? if ($this->isAllowed('profile_staff_edit')): ?>
				<li class="divider"></li>
				<li><a href="<?=$this->orgRoute(array('controller' => 'recognition', 'action' => 'statuschangedate')) ?>"><i class="icon-calendar"></i> Set Status Change Date</a></li>
				<li><a href="<?=$this->orgRoute(array('controller' => 'recognition', 'action' => 'resync')) ?>"><i class="icon-refresh"></i> Resynchronize Status</a></li>
			<? endif; ?>
			</ul>
		</li>
	<? if ($this->isAllowed('members_view')): ?>
		<li rel="roster">
			<a href="<?=$this->orgRoute(array('controller' => 'roster', 'action' => 'index')) ?>">Roster</a>
			<ul>
				<li><a href="<?=$this->orgRoute(array('controller' => 'roster', 'action' => 'index')) ?>"><i class="icon-group"></i> View Roster</a></li>
				<li><a href="<?=$this->orgRoute(array('controller' => 'roster', 'action' => 'newrequest')) ?>"><i class="icon-user"></i> My Position</a></li>
				<li class="divider"></li>
				<li><a href="<?=$this->orgRoute(array('controller' => 'roster', 'action' => 'training')) ?>"><i class="icon-time"></i> Training History</a></li>
			<? if ($this->isAllowed('members_add')): ?>
				<li><a href="<?=$this->orgRoute(array('controller' => 'roster', 'action' => 'add')) ?>"><i class="icon-plus-sign"></i> Add a User</a></li>
			<? endif; ?>
			<? if ($this->isAllowed('gpr_exemptions')): ?>
				<li><a href="<?=$this->orgRoute(array('controller' => 'exemptions')) ?>"><i class="icon-star"></i> GPR Exemptions</a></li>
			<? endif; ?>
			</ul>
		</li>
	<? endif; ?>
	<? if ($this->isAllowed('sofc_view')): ?>
		<li rel="finances">
			<a href="#">Finances</a>
			<ul>
				<li><a href="<?=$this->routeFromHere(array('controller' => 'finances', 'action' => 'statements')) ?>"><i class="icon-money"></i> Monthly Statements</a></li>
				<li><a href="<?=$this->routeFromHere(array('controller' => 'finances', 'action' => 'sigcard')) ?>"><i class="icon-list-alt"></i> SOFC Signature Card</a></li>
			</ul>
		</li>
	<? endif; ?>
	<? if ($this->isAllowed('it_view')): ?>
		<li rel="web">
			<a href="#">Web &amp; E-mail</a>
			<ul>
			<? if ($this->organization->it_web_type): ?>
				<li><a href="<?=$this->orgRoute(array('controller' => 'web', 'action' => 'login')) ?>" target="_blank"><i class="icon-key"></i> Log In to Web Site</a></li>
				<li><a href="<?=$this->orgRoute(array('controller' => 'email', 'action' => 'index')) ?>"><i class="icon-envelope-alt"></i> E-mail and Listservs</a></li>
				<li><a href="<?=$this->orgRoute(array('controller' => 'web', 'action' => 'index')) ?>"><i class="icon-cogs"></i> Advanced Features</a></li>
			<? else: ?>
				<li><a href="<?=$this->orgRoute(array('controller' => 'web', 'action' => 'request')) ?>"><i class="icon-globe"></i> Request Web Site</a></li>
			<? endif; ?>
				<li class="divider"></li>
				<li><a href="http://studentactivities.tamu.edu/it/howdyrequest"><i class="icon-group"></i> Howdy Portal</a></li>
			<? if ($this->isAllowed('it_edit')): ?>
				<li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'webs', 'action' => 'edit', 'id' => $this->organization->id)) ?>" target="_blank"><i class="icon-pencil"></i> Edit Web Account</a></li>
				<li><a href="<?=$this->route(array('module' => 'admin', 'controller' => 'drupal', 'action' => 'org', 'origin' => 'org', 'id' => $this->organization->id)) ?>" target="_blank"><i class="icon-refresh"></i> Reinstall Drupal</a></li>
			<? endif; ?>
			</ul>
		</li>
	<? endif; ?>

	<? if ($this->isAllowed('resources_view')): ?>
		<li rel="resources">
			<a href="#">Resources</a>
			<ul>
				<li><a href="<?=$this->route(array('module' => 'form_preevent', 'controller' => 'index', 'action' => 'index', 'org_id' => $this->organization->id)) ?>">Pre-Event Planning Form</a></li>
				<li><a href="<?=$this->route(array('module' => 'form_travel')) ?>">Travel Information Form</a></li>
			<? if ($this->org->org_batch_id): ?>
				<li><a href="/recognition/batch">Batch Group Resources</a></li>
			<? endif; ?>
			<? if ($this->isAllowed('logs_view')): ?>
				<li><a href="<?=$this->orgRoute(array('controller' => 'history')) ?>">View History</a></li>
			<? endif; ?>
			</ul>
		</li>
		<li rel="files"><a href="<?=$this->routeFromHere(array('controller' => 'files', 'action' => 'index')) ?>">Files</a></li>
	<? endif; ?>

	<? if ($this->current_position): ?>
		<li class="pull-right info"><a href="<?=$this->routeFromHere(array('controller' => 'roster', 'action' => 'newrequest')) ?>"><?=$this->current_position->name ?></a>
	<? else: ?>
		<li class="pull-right info"><a href="<?=$this->routeFromHere(array('controller' => 'roster', 'action' => 'newrequest')) ?>">Add Organization</a>
	<? endif; ?>
	</ul>
<? endif; ?>