<table class="table table-striped" width="100%">
	<colgroup>
        <col width="10%">
        <col width="30%">
        <col width="20%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
    </colgroup>
    <thead>
	    <tr>
	        <th>&nbsp;</th>
	        <th>Program/ID</th>
	        <th>Approval Phase</th>
	        <th>Created</th>
	        <th>Updated</th>
	        <th>Start Date</th>
	        <th>End Date</th>
	    </tr>
	</thead>
	<tbody>
	<? foreach($this->pager as $form): ?>
		<?
		if ($form->getVersion() == \Entity\CampsForm::VERSION_LEGACY && empty($form->index_name))
		{
			$form->reloadIndex();
			$form->save();
		}
		?>
	    <tr class="input">
	        <td class="center">
	        	<?=$this->button(array(
	        		'type'		=> 'small',
	        		'class'		=> 'primary',
	        		'icon'		=> 'application_form',
	        		'href'		=> $this->routeFromHere(array('action' => 'view', 'id' => $form->id)),
	        		'text'		=> 'View',
	        	)) ?>
	        </td>
	        <td>
	            <big><?=$form['index_name'] ?></big><br />
	            <small>
	            	<b><?=$form['access_code'] ?></b>
	            <? if ($form->program instanceof \Entity\CampsFormProgram): ?>
	           		 &bull; <?=$form->program->name ?>
	           	<? endif; ?>
	           	<? if ($form->user instanceof \Entity\CampsFormUser): ?>
	            	 &bull; <?=$form->user->name ?>
	           	<? endif; ?>
	            </small>
	        </td>
	        <td>
	        	<b><?=$this->phases[$form['phase']] ?></b>
	        	<? if ($form->claimant): ?>
	        		<br><?=$form->claimant->getName(false) ?>
	        	<? endif; ?>
	       	</td>
	        <td><?=date('M j Y', $form['time_created']) ?></td>
	        <td><?=date('M j Y', $form['timestamp']) ?></td>
	        <td><?=date('M j Y', $form['index_starttime']) ?></td>
	        <td><?=date('M j Y', $form['index_endtime']) ?></td>
	    </tr>
	<? endforeach; ?>
	</tbody>
</table>