<ul class="nav nav-pills autoselect" rel="<?=$this->tab ?>">
	<li rel="phase">
		<a href="#">Forms by Phase</a>
		<ul>
		<? foreach($this->phases as $phase_id => $phase_name): ?>
			<li><a href="<?=$this->route(array('module' => 'form_camps', 'controller' => 'manage', 'phase' => $phase_id)) ?>"><?=$phase_name ?></a></li>
		<? endforeach; ?>
		</ul>
	</li>
	<li rel="search"><a href="<?=$this->route(array('module' => 'form_camps', 'controller' => 'manage', 'action' => 'search')) ?>">Search Forms</a></li>
	<li rel="myforms"><a href="<?=$this->route(array('module' => 'form_camps', 'controller' => 'manage', 'action' => 'myforms')) ?>">My Forms</a></li>
	<li rel="users"><a href="<?=$this->route(array('module' => 'form_camps', 'controller' => 'manage', 'action' => 'users')) ?>">Users</a></li>
	<li rel="programs"><a href="<?=$this->route(array('module' => 'form_camps', 'controller' => 'manage', 'action' => 'programs')) ?>">Programs</a></li>
	<li rel="rates"><a href="<?=$this->route(array('module' => 'form_camps', 'controller' => 'manage', 'action' => 'rates')) ?>">Rates</a></li>
	<li rel="routing"><a href="<?=$this->route(array('module' => 'form_camps', 'controller' => 'manage', 'action' => 'routing')) ?>">Routing</a></li>
	<li rel="matrix"><a href="<?=$this->route(array('module' => 'form_camps', 'controller' => 'manage', 'action' => 'matrix')) ?>">Matrix</a></li>
	<li rel="sync"><a href="<?=$this->route(array('module' => 'form_camps', 'controller' => 'manage', 'action' => 'reconcile')) ?>">Reset Camp Directory</a></li>
</ul>