<?
$this->headTitle('Camp Insurance Invoice');
?>

<h2>Form #<?=$this->record->access_code ?></h1>

<div class="hide_in_print">
    <h3>This page is printable.</h3>
    Click the button below to print this page. The site layout will not be printed along with the document.

    <div class="buttons">
        <?=$this->button(array(
            'id'        => 'btn_print',
            'type'      => 'link',
            'href'      => '#',
            'icon'      => 'printer',
            'class'     => 'large primary',
            'text'      => 'Print Page',
        )) ?>
    </div>
</div>

<br>
<p><big>Checks Made Payable to Texas A&amp;M University</big></p>

<br>
<table class="datatable" width="100%">
    <colgroup>
        <col width="25%" />
        <col width="25%" />
        <col width="25%" />
        <col width="25%" />
    </colgroup>
    <thead>
        <tr>
            <th>Camp Name</th>
            <th>Account Number</th>
            <th>Date of Invoice</th>
            <th>Amount Due</th>
        </tr>
    </thead>
    <tbody>
        <tr class="input">
            <td><?=$this->form_fields['General_Info']['Program_name'] ?></td>
            <td><?=$this->form_fields['Account_Info']['Insurance_account_number'] ?></td>
            <td><?=date('F j, Y g:ia') ?></td>
            <td><big>$<?=number_format($this->invoice_data['total'], 2) ?></big></td>
        </tr>
    </tbody>
</table>

<? foreach($this->invoice_types as $invoice_type_key => $invoice_type): ?>
    <? if ($this->invoice_data[$invoice_type_key]): ?>
        <br>
        <fieldset>
            <legend><?=$invoice_type ?> ($<?=number_format($this->rates[$invoice_type_key], 2) ?> per camper per day)</legend>

            <?
            $invoices = $this->invoice_data[$invoice_type_key];
            ?>
            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="25%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Session</th>
                        <th># Campers</th>
                        <th># Insured Counselors</th>
                        <th># Camp Days</th>
                        <th>Fee</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach($invoices['sessions'] as $session): ?>
                    <tr class="input">
                        <td align="left">
                            <?=$session['Session_name'] ?><br />
                            <small><?=$session['Start_date'] ?> - <?=$session['End_date'] ?></small>
                        </td>
                        <td align="center"><?=$session['real_num_participants'] ?></td>
                        <td align="center"><?=$session['Num_insured_counselors'] ?></td>
                        <td align="center"><?=$session['Num_days'] ?></td>
                        <td align="center">$<?=number_format($session['current_rate'], 2) ?></td>
                        <td align="center"><big>$<?=number_format($session['total'], 2) ?></big></td>
                    </tr>
                <? endforeach; ?>
                </tbody>
                <tfoot>
                    <tr class="blue input">
                        <td colspan="5" align="left"><b>Subtotal</b></td>
                        <td align="center"><big>$<?=number_format($invoices['total'], 2) ?></big></td>
                    </tr>
                </tfoot>
            </table>
        </fieldset>
    <? endif; ?>
<? endforeach; ?>

<script type="text/javascript">
$(function() {
	$('.print_only').remove();
	$('#content_header_wrapper,#copyright').addClass('hide_in_print');
	
	$('#btn_print').click(function() {
		window.print();
		return false;
	});
});
</script>