<?php
$this->headTitle('Manage Camps Forms');
$this->layout()->tabs = $this->renderHere('index_tabs');
?>

<h2>Generate Matrix Report</h2>

<dl>
<? foreach($this->terms as $term_code => $term_info): ?>
	<dt><a href="<?=$this->routeFromHere(array('term' => $term_code)) ?>"><?=$term_info['name'] ?></a></dt>
<? endforeach; ?>
</dl>