<?php
$this->headTitle('Manage Camps Forms');
$this->layout()->tabs = $this->renderHere('index_tabs');
?>

<h2><?=$this->record->name ?></h2>

<h3>Current Users</h3>
<table class="datatable zebra" width="100%">
	<colgroup>
		<col width="30%">
		<col width="30%">
		<col width="20%">
		<col width="20%">
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>User Name</th>
			<th>Acct Type</th>
			<th>E-mail</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->record->users as $user): ?>
		<tr class="input">
			<td>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'icon-delete',
					'text'		=> 'Remove',
					'class'		=> 'danger confirm-action',
					'href'		=> $this->routeFromHere(array('action' => 'removeprogramuser', 'user_id' => $user->id)),
				)) ?>
			</td>
			<td><big><?=$user->name ?></big></td>
            <td><?=$user->type ?></td>
            <td><?=$this->mailto($user->email) ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>

<h3>Add New User</h3>
<?=$this->form->render() ?>