<?php
$this->headTitle('Manage Camps Forms');

$this->tab = 'search';
$this->layout()->tabs = $this->renderHere('index_tabs');
?>

<h2>Search Forms</h2>

<form class="form-search" action="<?=$this->routeFromHere(array('page' => NULL)) ?>" method="get">
	<input type="text" name="q" title="Search terms" placeholder="Search..." class="input-medium span3 search-query" value="<?=$this->q ?>">
	<?=$this->button(array(
	    'type'		=> 'submit',
	    'class'		=> 'primary btn-small',
	    'text'		=> 'Search Forms',
	)) ?>
</form>

<? if ($this->pager): ?>
	<?=$this->paginate($this->pager) ?>
	<?=$this->renderHere('forms'); ?>
	<?=$this->paginate($this->pager) ?>
<? endif; ?>