<?php
$this->headTitle('Manage Camps Forms');
$this->layout()->tabs = $this->renderHere('index_tabs');
?>

<h2>Manage Users</h2>

<form class="form-search" action="<?=$this->routeFromHere(array('page' => NULL)) ?>" method="get">
    <input type="text" name="q" title="Search terms" placeholder="Search..." class="input-medium span3 search-query" value="<?=$this->q ?>">
    <?=$this->button(array(
        'type'      => 'submit',
        'class'     => 'primary btn-small',
        'text'      => 'Search Users',
    )) ?>
</form>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra" width="100%">
	<colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="10%" />
        <col width="25%" />
        <col width="25%" />
    </colgroup>
    <thead>
    	<tr>
        	<th>Actions</th>
            <th>Name</th>
            <th>Acct. Type</th>
        	<th>E-mail</th>
            <th>Programs</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $user): ?>
    	<tr class="input">
        	<td align="center">
                <div class="btn-group">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'pencil',
                    'href'      => $this->routeFromHere(array('action' => 'edituser', 'user_id' => $user->id)),
                    'text'      => 'Edit',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'delete',
                    'class'     => 'danger confirm-delete',
                    'href'      => $this->routeFromHere(array('action' => 'deleteuser', 'user_id' => $user->id)),
                    'text'      => 'Delete',
                )) ?>
                </div>
            </td>
            <td><big><?=$user->name ?></big></td>
            <td><?=$user->type ?></td>
            <td><?=$this->mailto($user->email) ?></td>
            <td>
                <? foreach($user->programs as $program): ?>
                <div><small><?=$program->name ?></small></div>
                <? endforeach; ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>