@charset "utf-8";
@import url("base_dark.css");

html {
	background: #555 url('aggieland/bootstrap_bodybg.png') top left repeat;
}

#header {
	background: url('header_dark/header_left.png') center left no-repeat;
}
#header-inner {
	background: url('header_dark/header_right.png') center right no-repeat;
}

#header-wrapper {
	background-color: #2F0000;
	background-image: -moz-linear-gradient(top, #550000, #2F0000);
	background-image: -ms-linear-gradient(top, #550000, #2F0000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#550000), to(#2F0000));
	background-image: -webkit-linear-gradient(top, #550000, #2F0000);
	background-image: -o-linear-gradient(top, #550000, #2F0000);
	background-image: linear-gradient(top, #550000, #2F0000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#550000', endColorstr='#2F0000', GradientType=0);
}

.nav-pills .active > a,
.nav-pills .active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
	background-color: #550000;
}