@charset "utf-8";
@import url("base_dark.css");

html {
	background: #FFF url('blue/bootstrap_bodybg.png') top left repeat;
}

a {
  color: #666666;
}
a:hover {
  color: #333333;
}
h1,h2 {
	color: #334F91;
}

#header {
	background: url('header_dark/header_left.png') center left no-repeat;
}
#header-inner {
	background: url('header_dark/header_right.png') center right no-repeat;
}

#header-wrapper {
	background-color: #121721;
	background-image: -moz-linear-gradient(top, #334F91, #121721);
	background-image: -ms-linear-gradient(top, #334F91, #121721);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#334F91), to(#121721));
	background-image: -webkit-linear-gradient(top, #334F91, #121721);
	background-image: -o-linear-gradient(top, #334F91, #121721);
	background-image: linear-gradient(top, #334F91, #121721);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#334F91', endColorstr='#121721', GradientType=0);
}

.nav-pills .active > a,
.nav-pills .active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
	background-color: #334F91;
}
