@charset "utf-8";
@import url("base_dark.css");

html {
	background: #FFF url('camo/bootstrap_bodybg.png') top left repeat;
}

a {
	color: #666666;
}
a:hover {
	color: #333333;
}
h1, h2 {
	color: #464B2C;
}

#header {
	background: url('header_dark/header_left.png') center left no-repeat;
}
#header-inner {
	background: url('header_dark/header_right.png') center right no-repeat;
}

#header-wrapper {
	background-color: #0F1711;
	background-image: -moz-linear-gradient(top, #464B2C, #0F1711);
	background-image: -ms-linear-gradient(top, #464B2C, #0F1711);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#464B2C), to(#0F1711));
	background-image: -webkit-linear-gradient(top, #464B2C, #0F1711);
	background-image: -o-linear-gradient(top, #464B2C, #0F1711);
	background-image: linear-gradient(top, #464B2C, #0F1711);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464B2C', endColorstr='#0F1711', GradientType=0);
}

.navbar-wrapper .navbar-inner {
	border-bottom: 1px solid #0F1711;
	border-top: 1px solid #0F1711;
}

.nav-pills .active > a,
.nav-pills .active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
	background-color: #464B2C;
}
.nav-pills li > a:hover {
	background-color: #464B2C;
}