@charset "utf-8";
@import url("base_light.css");

html {
	background: #E2F1D0 url('green/bodybg.jpg') top center repeat-x;
}

a {
	color: #666666;
}
a:hover {
	color: #333333;
}
h1, h2 {
	color: #1450B1;
}

#header {
	background: url('header_dark/header_left.png') center left no-repeat;
}
#header-inner {
	background: url('header_dark/header_right.png') center right no-repeat;
}
#header-wrapper {
	background-color: #639CEF;
	background-image: -moz-linear-gradient(top, #D6F7FF, #639CEF);
	background-image: -ms-linear-gradient(top, #D6F7FF, #639CEF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D6F7FF), to(#639CEF));
	background-image: -webkit-linear-gradient(top, #D6F7FF, #639CEF);
	background-image: -o-linear-gradient(top, #D6F7FF, #639CEF);
	background-image: linear-gradient(top, #D6F7FF, #639CEF);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D6F7FF', endColorstr='#639CEF', GradientType=0);
}

.navbar-search .search-query {
	background-color: #0A295A;
	border-color: #639CEF;
}
.navbar-wrapper .navbar-inner {
	background-color: #0A295A;
}
.navbar .divider-vertical {
	background-color: #D6F7FF;
	border-right: 1px solid #639CEF;
}

#content_tabs ul li.active > a,
#content_tabs ul li.active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
	background-color: #0A295A;
}