@charset "utf-8";
@import url("base_light.css");

html {
	background: #FFF url('pink/bootstrap_bodybg.png') top left repeat;
}

a {
	color: #666666;
}
a:hover {
	color: #333333;
}
h1, h2 {
	color: #713771;
}

#header {
	background: url('header_light/header_left.png') center left no-repeat;
}
#header-inner {
	background: url('header_light/header_right.png') center right no-repeat;
}

#header-wrapper {
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(top, #E7CFE7, #FFFFFF);
	background-image: -ms-linear-gradient(top, #E7CFE7, #FFFFFF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E7CFE7), to(#FFFFFF));
	background-image: -webkit-linear-gradient(top, #E7CFE7, #FFFFFF);
	background-image: -o-linear-gradient(top, #E7CFE7, #FFFFFF);
	background-image: linear-gradient(top, #E7CFE7, #FFFFFF);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7CFE7', endColorstr='#FFFFFF', GradientType=0);
}

.navbar .navbar-inner {
	background: #E7CFE7;
}
.navbar .nav > li > a {
	color: #444;
	text-shadow: none;
}
.navbar-search .search-query {
	color: #000;
	background-color: #FFF;
	border: 1px solid #CCC;
}

#content_tabs ul li.active > a,
#content_tabs ul li.active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
	background-color: #713771;
}