@charset "utf-8";
@import url("base_light.css");

html {
	background: #FFF url('white/bootstrap_bodybg.png') top left repeat;
}

a {
  color: #666666;
}
a:hover {
  color: #333333;
}

#header {
	background: url('header_light/header_left.png') center left no-repeat;
}
#header-inner {
	background: url('header_light/header_right.png') center right no-repeat;
}

#header-wrapper {
	background-color: #FEFEFE;
	background-image: -moz-linear-gradient(top, #DCDFE8, #FEFEFE);
	background-image: -ms-linear-gradient(top, #DCDFE8, #FEFEFE);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DCDFE8), to(#FEFEFE));
	background-image: -webkit-linear-gradient(top, #DCDFE8, #FEFEFE);
	background-image: -o-linear-gradient(top, #DCDFE8, #FEFEFE);
	background-image: linear-gradient(top, #DCDFE8, #FEFEFE);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCDFE8', endColorstr='#FEFEFE', GradientType=0);
}

.navbar-search .search-query {
	background-color: #400000;
	border-color: #550000;
}
.navbar-wrapper .navbar-inner {
	background-color: #2F0000;
}
.navbar .divider-vertical {
	background-color: #550000;
	border-right: 1px solid #2F0000;
}