<?
$this->headTitle('Organizations');
$this->layout()->manual = TRUE;
?>

<div class="row"><div class="span12"><div class="floating">
    <p>The Department of Student Activities oversees the recognition of over 800 student organizations. Visit the pages below to explore Texas A&amp;M University's recognized organizations and learn more about our available resources.</p>
</div></div></div>

<div class="row">
    <div class="span6">
        <div class="floating grid_gold">
            <h2>Explore Organizations</h2>
            <h3>OrgSearch</h3>
            <p>Search through our database of over 800 student organizations.</p>
            
            <div class="buttons btn-group">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'magnifier',
                    'text'      => 'OrgSearch',
                    'href'      => $this->route(array('module' => 'search')),
                    'class'     => 'large primary',
                )) ?>
            <? if ($this->acl->isAllowed('staff_powersearch')): ?>
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'magnifier_zoom_in',
                    'text'      => 'Power Search',
                    'href'      => '/online/search/power',
                    'class'     => 'large',
                )) ?>
            <? endif; ?>
            </div>

            <h3>OrgMatch</h3>
            <p>Find the perfect student organization to match your interests! Tell us about your current interests and prior involvement to receive your personalized OrgMatch profile.</p>
            
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'group_link',
                    'text'      => 'OrgMatch',
                    'href'      => $this->route(array('module' => 'orgmatch')),
                    'class'     => 'large primary',
                )) ?>
            </div>

            <h3>Create an Organization</h3>
            <p>Can't find a group that matches your interests? Click the button below to begin the New Student Organization process.</p>
            
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'application_form',
                    'text'      => 'Begin NSO Process',
                    'href'      => '/online/organization/create',
                    'class'     => 'primary',
                )) ?>
            </div>

            <h3>My Organizations</h3>
            <p>You can now view, manage, and add your organizations directly from the <a href="/">homepage of StuAct Online</a>.</p>
        </div>
    </div>
    <div class="span6">
        <div class="floating grid_blue">
            <h2>Resources</h2>
            <h3>The Organization Manual</h3>
            <p>This guide to the rules, regulations, and resources that apply to recognized student organizations offers a wealth of information about a wide variety of subjects.</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'book_open',
                    'class'     => 'large primary',
                    'href'      => 'http://orgmanual.tamu.edu/',
                    'text'      => 'Organization Manual',
                )) ?>
            </div>

            <h3>Organization Development</h3>
            <dl>
                <dt><a href="http://studentactivities.tamu.edu/studios">Organization Studios</a></dt>
                <dt><a href="<?=$this->route(array('module' => 'training')) ?>">Organization Training Center</a></dt>
                <dt><a href="<?=$this->route(array('module' => 'advisors')) ?>">Organization Advising</a></dt>
            </dl>

            <h3>Other Resources</h3>
            <dl>
                <dt><a href="/resources">Forms &amp; Resources Page</a></dt>
                <dt><a href="http://sofc.tamu.edu/">Student Organization Finance Center</a></dt>
                <dt><a href="http://studentactivities.tamu.edu/soda">Student Organization Development &amp; Administration</a></dt>
                <dt><a href="http://studentactivities.tamu.edu/vehiclerentals">Organization Vehicle Rentals</a></dt>
                <dt><a href="http://studentactivities.tamu.edu/risk/eventplanning/howtos">Organization Event How-To's</a></dt>
            </dl>
        </div>
    </div>
</div>