<?php
$this->headTitle($this->event->getTitle());
$this->layout()->manual = TRUE;
?>

<? if ($this->event_over_capacity): ?>
    <div class="messages red">
        <b>Event Currently Over Capacity</b><br />
        The number of confirmed attendees at this event exceeds the event's capacity. Please ensure that all applicable safety regulations regarding room population limits are being followed.
    </div>
<? endif; ?>

<div class="row">
    <div class="span8">
        <div class="floating">
            <h2>Add/Confirm an Attendee</h2>
            
            <form action="<?=$this->routeFromHere(array('action' => 'addattendee')) ?>" method="post" class="form-stacked df-form" id="checkin_form">
                <div class="clearfix">
                    <label for="username">UIN/NetID/AggieCard:</label>
                    <input type="text" name="username" class="full-width" />
                </div>

                <div class="clearfix">
                    <label for="confirmed">Confirmed:</label>
                    <?=$this->formSelect('confirmed', NULL, NULL, array(1 => 'Yes', 0 => 'No')) ?>
                </div>

                <?=$this->button(array(
                    'type'      => 'submit',
                    'class'     => 'positive',
                    'icon'      => 'add',
                    'text'      => 'Add Attendee',
                )) ?>
            </form>
        </div>
    </div>
    <div class="span4">
        <div class="floating">
            <h2>Event Date</h2>
            <?=$this->event->getDateText(2) ?>
        </div>    
        <div class="floating">
            <h2>Attendance</h2>
            
            <table class="datatable zebra" width="100%">
                <tr class="input">
                    <td width="10%" align="center"><b><?=$this->unconfirmed_attendees ?></b></td>
                    <td width="90%" align="left">Unconfirmed</td>
                </tr>
                <tr class="input">
                    <td align="center"><b><?=$this->confirmed_attendees ?></b></td>
                    <td align="left">Confirmed</td>
                </tr>
                <tr class="input">
                    <td align="center"><b><? if ($this->event['event_capacity'] == 0): ?>&infin;<? else: ?><?=$this->event['event_capacity'] ?><? endif; ?></b></td>
                    <td align="left">Capacity</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="floating">
            <h2>Current Attendees</h2>
            <div class="smallbuttons well">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'page_excel',
                    'text'      => 'Download to Excel',
                    'href'      => $this->routeFromHere(array('action' => 'exportattendees')),
                )) ?>
            </div>
            
            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="3%" />
                    <col width="12%" />
                    <col width="40%" />
                    <col width="25%" />
                    <col width="20%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Confirmed</th>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach($this->event_attendees as $attendee): ?>
                    <tr class="input">
                        <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'deleteattendee', 'user_id' => $attendee['user_id'])) ?>" onclick="return confirmDelete();"><?=$this->icon('delete') ?></a></td>
                        <td><a href="#" class="toggle_confirm" rel="<?=$attendee['user']['username'] ?>"><? if ($attendee['confirmed']): ?>Yes<? else: ?>No<? endif; ?></a></td>
                        <td><?=$attendee['user']['lastname'] ?>, <?=$attendee['user']['firstname'] ?> (<?=$attendee['user']['username'] ?>)</td>
                        <td><?=$this->mailto($attendee['user']['email']) ?></td>
                        <td><?=$attendee['user']['phone'] ?></td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
var this_event_id = '<?=$this->event['id'] ?>';
var checkin_form;

$(document).ready(function() {
	$("input[name='username']").focus();

    /*
    checkin_form = $('form#checkin_form');
    
    checkin_form.submit(function(e) {
        checkInUser();
        e.preventDefault();
        return false;
    });
    
    checkin_form.find('input').keypress(function(e) {
		if (e.keyCode == 13)
		{
			checkInUser();
            e.preventDefault();
			return false;
		}
	});
    */
    
    $('a.toggle_confirm').click(function(e) {
        var link = $(this);
        var username = link.attr('rel');
        var current_value = link.text();
        
        link.text('Updating...');
        
        $.getJSON('<?=$this->routeFromHere(array('action' => 'addattendee')) ?>',
        {
            'username':    username,
            'confirmed':  (current_value == "Yes") ? 0 : 1
        },
        function(data, textStatus) {
            if (data.success)
            {
                if (current_value == "Yes")
                    link.text('No');
                else
                    link.text('Yes');
            }
        });
        
        e.preventDefault();
        return false;
    });
    
});

function checkInUser() {
    
    var username = checkin_form.find("input[name='username']").val();
    var is_confirmed = checkin_form.find("select[name='confirmed']").val();
    
    $('#checkin_results').fadeOut('fast', function() {
        $('#checkin_results').html('');
        $('#checkin_loading').fadeIn('fast');
        
        $.getJSON('<?=$this->routeFromHere(array('action' => 'addattendee')) ?>',
        {
            'username':   username,
            'confirmed':  is_confirmed
        },
        function(data, textStatus) {
            
            if (data.title)
            {
                $('#checkin_results').removeClass('messages red green yellow').addClass('messages '+data.color);
                $('#checkin_results').html('<b>'+data.title+'</b><br>'+data.text);
            }
            else
            {
                $('#checkin_results').removeClass('messages red green yellow').addClass('messages red');
                $('#checkin_results').html('<b>Error Checking In User!</b><br>The check-in system could not be accessed. Try reloading this page.');
            }
            
            $('#checkin_loading').fadeOut('fast', function() {
                $('#checkin_results').fadeIn('fast');
            });
            
            checkin_form.find("input[name='username']").val('').focus();
        });
    });
}
</script>