<?php
$this->headTitle('Send SOFC Audit Notifications');
$this->layout()->manual = true;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Set Up Message to Send</h2>

			<?=$this->form->render() ?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>Organizations to Notify</h2>
			<ul class="unstyled">
			<? foreach($this->orgs_to_notify as $org_name): ?>
				<li><small><?=$org_name ?></small></li>
			<? endforeach; ?>
			</ul>
		</div>
	</div>
</div>