<?
$this->headTitle('Staff Profile');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span8">
		<div class="floating">			
			<h3>Administrative Details</h3>

	    	<dl>
	    		<dt>Organization System ID:</dt>
	    		<dd><?=$this->organization->id ?></dd>
	    	</dl>

	    	<?=$this->staff_form->renderView() ?>

	    	<h3>Dates</h3>
	    
		    <dl>
		    	<dt>Last Updated:</dt>
		        <dd><? if ($this->organization->date_last_updated): ?><?=date('F j, Y', $this->organization->date_last_updated) ?><? else: ?>(No Date)<? endif; ?></dd>
		        
		        <dt>Status Last Changed:</dt>
		        <dd><? if ($this->organization->date_status_changed): ?><?=date('F j, Y', $this->organization->date_status_changed) ?><? else: ?>(No Date)<? endif; ?></dd>
		        
		        <dt>Recognized:</dt>
		        <dd><? if ($this->organization->date_recognized): ?><?=date('F j, Y', $this->organization->date_recognized) ?><? else: ?>(No Date)<? endif; ?></dd>
		    </dl>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h3>Quick Checklist Overview</h3>
	    
		    <table class="table" width="100%">
			    <colgroup>
			        <col width="10%" />
			        <col width="90%" />
			    </colgroup>
			    <tbody>
			    <? foreach($this->org_settings['flags'] as $flag => $flag_name): ?>
			        <tr class="input">
			            <td class="right"><?=$this->statusIcon($this->organization->getFlag($flag), 'small') ?></td>
			            <td><?=$flag_name ?></td>
			        </tr>
			    <? endforeach; ?>
			   	</tbody>
			</table>
		</div>
	</div>
</div>