<h2><?=$this->camp->name ?></h2>

<dl>
	<dt>Start Date:</dt>
	<dd><?=date('F j, Y', $this->camp->date_start) ?></dd>

	<dt>End Date:</dt>
	<dd><?=date('F j, Y', $this->camp->date_end) ?></dd>

	<dt>Contact:</dt>
	<dd>
		<?=$this->camp->contact_name ?><br>
		<?=$this->mailto($this->camp->contact_email) ?>
	</dd>

	<dt>Web Site:</dt>
	<dd><?=$this->link($this->camp->contact_web) ?></dd>
</dl>