<?
$user = $this->auth->getLoggedInUser();
$this->headTitle('Welcome!');
$this->layout()->manual = TRUE;
?>

<script type="text/javascript">
$(function() {
    $('h1.title').hide();
});
</script>

<div class="row hidden-phone">
    <div class="span12">
        <div class="floating" style="padding: 10px;">
            <?=$this->renderHere('panel_rotator') ?>
        </div>
    </div>
</div>

<div class="row equal-heights">
    <div class="span8">
        <div class="floating">
        <?
        if ($user)
			echo $this->renderHere('panel_organizations');
		else
			echo $this->renderHere('panel_introduction');
		?>
        </div>
    </div>
    <div class="span4">
        <div class="floating">
        <?
        if ($user)
			echo $this->renderHere('panel_messages');
		else
			echo $this->renderHere('panel_getstarted');
		?>
        </div>
    </div>
</div>
<div class="row equal-heights">
    <div class="span4">
        <div class="floating">
        	<?=$this->renderHere('panel_about') ?>
        </div>
    </div>
    <div class="span4">
    	<div class="floating">
        	<?=$this->renderHere('panel_forms') ?>
        </div>
    </div>
    <div class="span4">
    	<div class="floating">
        	<?=$this->renderHere('panel_getinvolved') ?>
        </div>
    </div>
</div>