<h2>Get Involved!</h2>

<h4>OrgSearch</h4>
<p>Search the directory of over 800 active student organizations in our system.</p>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'find',
		'href'		=> $this->route(array('module' => 'search')),
		'text'		=> 'Find a Group',
	)) ?>
</div>

<h4>OrgMatch</h4>
<p>Find the organization that best matches your interests and available time by completing a brief questionnaire.</p>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'user_go',
		'href'		=> $this->route(array('module' => 'orgmatch')),
		'text'		=> 'Find a Match',
	)) ?>
</div>