<h2>Log In to StuAct Online</h2>

<p><b>Manage organizations, sign up for events, complete forms, and more</b> by signing in to StuAct Online with your NetID. Click the button below to log in.</p>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'icon-key',
		'text'		=> 'Log In',
		'class'		=> 'btn_login large primary',
		'href'		=> $this->route(array('module' => 'account', 'controller' => 'login')),
	)) ?>
</div>