<?
$user = $this->auth->getLoggedInUser();
$messages = \StuAct\ImportantMessages::fetchForUser($user);
?>

<a href="<?=$this->route(array('module' => 'account', 'controller' => 'profile')) ?>" class="thumbnail" style="float: right; margin-left: 10px;"><img src="<?=$user->getAvatar(64) ?>"></a>
<h2><?=$user->firstname ?> <?=$user->lastname ?></h2>
<p><?=$this->mailto($user->email) ?></p>

<div class="buttons btn-group">
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'vcard_edit',
		'href'		=> $this->route(array('module' => 'account', 'controller' => 'profile')),
		'text'		=> 'Profile',
	)) ?>
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'key_delete',
		'href'		=> $this->route(array('module' => 'account', 'controller' => 'logout')),
		'text'		=> 'Log Out',
	)) ?>
</div>
<div class="clear">&nbsp;</div>

<? if ($messages): ?>
	<h3>My Important Messages</h3>

	<table class="table table-striped">
		<colgroup>
			<col width="10%">
			<col width="90%">
		</colgroup>
		<tbody>
		<? foreach($messages as $message): ?>
			<tr>
				<td class="right"><?=$this->icon(array('type' => 'png32', 'image' => $message['icon'])) ?></td>
				<td>
					<? if ($message['title']): ?>
						<big><?=$message['title'] ?></big><br>
					<? endif; ?>
					<?=$message['text'] ?>
				</td>
			</tr>
		<? endforeach; ?>
		</tbody>
	</table>
<? endif; ?>