<h2>Get Started</h2>
<p>This guided tour of StuAct Online will also walk you through the process of associating your account with student organizations and managing them through our system.</p>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'icon-film',
		'text'		=> 'Get Started',
		'class'		=> 'large primary',
		'href'		=> $this->route(array('module' => 'help', 'controller' => 'tutorial', 'video' => 'getstarted')),
	)) ?>
</div>