<?
$this->headTitle('Manage Quizzes');
?>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'add',
        'class'     => 'large success',
        'text'      => 'Add Quiz',
        'href'      => $this->routeFromHere(array('action' => 'editquiz', 'id' => 0)),
    )) ?>
</div>

<table class="table table-striped" width="100%">
    <colgroup>
        <col width="35%" />
        <col width="20%" />
        <col width="45%" />
    </colgroup>
    <thead>
        <tr>
            <th>Quiz Title</th>
            <th>Quiz Short Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <? foreach($this->all_quizzes as $quiz): ?>
        <tr>
            <td align="left">
                <big><?=$quiz->title ?></big><br />
                <p><?=$quiz->description ?></p>
            </td>
            <td align="center">
                <?=$quiz->short_name ?>
            </td>
            <td align="center">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'world_go',
                    'text'      => 'Public URL',
                    'href'      => $this->route(array('module' => 'quizzes', 'controller' => 'index', 'action' => 'quiz', 'id' => $quiz->id)),
                    'target'    => '_blank',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'table',
                    'text'      => 'Results',
                    'href'      => $this->routeFromHere(array('action' => 'results', 'id' => $quiz->id)),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'cog',
                    'text'      => 'Manage',
                    'href'      => $this->routeFromHere(array('action' => 'quiz', 'id' => $quiz->id)),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'pencil',
                    'text'      => 'Edit',
                    'href'      => $this->routeFromHere(array('action' => 'editquiz', 'id' => $quiz->id)),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'delete',
                    'text'      => 'Delete',
                    'class'     => 'danger confirm-delete',
                    'href'      => $this->routeFromHere(array('action' => 'deletequiz', 'id' => $quiz->id, 'csrf' => \DF\Csrf::getToken())),
                )) ?>
            </td>
        </tr>
        <? endforeach; ?>
    </tbody>
</table>