<?
$this->headTitle('Manage Sponsored/Authorized Events');
?>

<h2>Routing Destinations</h2>

<dl>
<? foreach($this->routing['departments'] as $dept_name => $addresses): ?>
	<dt><?=$dept_name ?></dt>
	<dd><?=implode('<br>', $addresses) ?></dd>
<? endforeach; ?>
</dl>