<?php
$this->headTitle('Training Center Management');
?>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'page_white_excel',
		'text'		=> 'Download All Assessments',
		'href'		=> $this->routeFromHere(array('action' => 'assessments', 'course' => 'all')),
	)) ?>
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'page_white_excel',
		'text'		=> 'Download Attendance List',
		'href'		=> $this->routeFromHere(array('action' => 'attendees')),
	)) ?>
</div>

<? foreach($this->modules as $module_type => $modules): ?>
	<fieldset>
		<legend><?=ucfirst($module_type) ?></legend>

	<? foreach($modules as $module_key => $module): ?>
		<h3><?=$module['name'] ?></h3>
		<p><?=$module['description'] ?></p>

		<div class="smallbuttons">
			<?=$this->button(array(
				'type'		=> 'small',
				'icon'		=> 'application_go',
				'text'		=> 'View Module',
				'href'		=> $this->routeFromHere(array('controller' => 'module', 'action' => 'index', 'course' => $module_key)),
			)) ?>
			<?=$this->button(array(
				'type'		=> 'small',
				'icon'		=> 'page_white_excel',
				'text'		=> 'Download Assessments',
				'href'		=> $this->routeFromHere(array('action' => 'assessments', 'course' => $module_key)),
			)) ?>
		</div>

		<table class="datatable zebra" width="100%">
			<colgroup>
				<col width="20%" />
				<col width="20%" />
				<col width="20%" />
				<col width="20%" />
				<col width="20%" />
			</colgroup>
			<tbody>
				<tr class="input">
					<td align="center">Total Times Taken:<br><big><?=number_format($module['users']) ?></big></td>
					<td class="score" align="center">Quality of Content:<br><big><?=$module['scores']['quality_of_content'] ?></big></td>
					<td class="score" align="center">Length:<br><big><?=$module['scores']['length'] ?></big></td>
					<td class="score" align="center">Module Format/Design:<br><big><?=$module['scores']['module_format_and_design'] ?></big></td>
					<td class="score" align="center">Comprehensiveness:<br><big><?=$module['scores']['comprehensiveness_of_quiz'] ?></big></td>
				</tr>
			</tbody>
		</table>
		<br>
	<? endforeach; ?>
	</fieldset>
<? endforeach; ?>

<script type="text/javascript">
$(function() {
	$('td.score').each(function() {
		var score = $(this).find('big').text();

		if (score != 'N/A')
		{
			score = parseFloat(score);
			if (score < 3)
				$(this).addClass('red');
			else if (score < 4)
				$(this).addClass('yellow');
			else
				$(this).addClass('green');
		}
	});
});
</script>