<?php echo $this->doctype(); ?>
<html class="compact">
<head>
<?php
$title = $this->headTitle("Student Activities at Texas A&M University")->setSeparator(" | ");
echo $title;

if (!($this->title))
{
    $page_title_parts = explode(" | ", strip_tags((string)$title));
    $this->title = $page_title_parts[0];
}

// Get logged in user.
$user = \DF\Auth::getLoggedInUser();

// Add CSS and JavaScript.
$this->headLink()
    ->prependStylesheet(\DF\Url::content('global-print.css'), 'print')
    ->prependStylesheet(\DF\Url::content('global.css'), 'all')
    ->prependStylesheet(\DF\Url::content('df-ui.css'), 'all');

$custom_skin = 'tan';

if ($user->config_skin && $user->config_skin != "default")
    $custom_skin = $user->config_skin;

$this->headLink()->appendStylesheet(\DF\Url::content('layout-global-skins/nce-global-'.$custom_skin.'.css'));


$this->headScript()
    ->prependFile(\DF\Url::cdn('jqueryui', '1'))
    ->prependFile(\DF\Url::cdn('jquery', '1'))
    ->appendFile(\DF\Url::content('jquery/addons/tools.flashembed-1.0.4.min.js'))
    ->appendFile(\DF\Url::content('jquery/addons/jquery.validate.pack.js'))
    ->appendFile(\DF\Url::content('jquery/addons/jquery.metadata.js'))
    ->appendFile(\DF\Url::content('jquery/addons/jquery.tablesorter.min.js'))
    ->appendFile(\DF\Url::content('df-layout.js'));

echo $this->headMeta();
echo $this->headLink();
echo $this->headScript();
?>

<script type="text/javascript">
var DF_URL_BASE = '<?=\DF\Url::baseUrl() ?>';
var DF_URL_STATIC = '<?=\DF\Url::content() ?>';
var DF_THIS_PAGE = '<?=\DF\Url::current() ?>';
</script>
</head>
<body>
<?
if (\DF\Flash::hasMessages()):
    $messages = \DF\Flash::getMessages();
    foreach($messages as $message):
?>
    <div class="content_top"><div class="content_top_inner <?=$message['color'] ?>"><?=$message['message'] ?></div></div>
<?
    endforeach;
endif;
?>

<div id="main">
    <? echo $this->layout()->content; ?>
</div>
</body>
</html>