<?php echo $this->doctype(); ?>
<html class="full_layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="apple-touch-icon" href="<?=\DF\Url::content('apple-touch-icon.png') ?>">

<?php
$title_items = $this->headTitle()->getIterator();
$title = current($title_items);

if (!$this->layout()->subtitle && $this->layout()->show_subtitle)
    $this->layout()->subtitle = next($title_items);

$this->headTitle($this->config->application->name);

if (DF_APPLICATION_ENV != "production")
	$this->headTitle()->prepend('('.ucfirst(DF_APPLICATION_ENV).')');

echo $this->headTitle()->setSeparator(" - ")->toString();

$this->headLink()
	->appendStylesheet(\DF\Url::content('common/bootstrap2_r2/df-ui.css'), 'all')
	->appendStylesheet(\DF\Url::content('common/bootstrap2_r2/df-ui-responsive.css'), 'all')
	->appendStylesheet(\DF\Url::content('global.css'), 'all')
	->appendStylesheet(\DF\Url::content('common/jquery/fancybox/jquery.fancybox.css'), 'all')
	->appendStylesheet(\DF\Url::content('common/bootstrap2_r2/df-ui-printable.css'), 'print');

// STUACT: Themes
$user = \DF\Auth::getInstance()->getLoggedInUser();
$custom_skin = 'tan';
if ($user instanceof \Entity\User && $user->config_skin && $user->config_skin != "default")
    $custom_skin = $user->config_skin;

$this->headLink()->appendStylesheet(\DF\Url::content('themes-bootstrap/'.$custom_skin.'.css'));
$this->headScript()
	->prependFile(\DF\Url::cdn('jquery', '1.8'))
	->appendFile(\DF\Url::content('common/jquery/fancybox/jquery.fancybox.pack.js'))
	->appendFile(\DF\Url::content('common/bootstrap2_r2/bootstrap/js/bootstrap.min.js'))
	->appendFile(\DF\Url::content('common/bootstrap2_r2/layout.js'));

echo $this->headMeta();
echo $this->headLink();
echo $this->headScript();

if ($this->config->application->analytics_code)
	echo $this->analytics($this->config->application->analytics_code);
?>
<script>
var DF_ContentPath = '<?php echo \DF\Url::content(); ?>';
</script>
</head>
<body>
<a rel="nofollow" href="#content" style="position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;">Skip to main content</a>
<div id="body-wrapper">
	<div id="body" class="container">
		<div id="header-wrapper" class="wide-block">
			<div id="header"><div id="header-inner">
		        <div id="logo-title-site"><a href="<?=$this->route(array('module' => 'default')) ?>" title="Home"><img src="<?=\DF\Url::content('spacer.gif') ?>" alt="Home" /></a></div>
		        <div id="logo-title-tamu"><a href="http://www.tamu.edu/" target="_blank"><img src="<?=\DF\Url::content('spacer.gif') ?>" alt="Texas A and M University" /></a></div>
			</div></div>
		</div>

		<div class="navbar-wrapper">
		    <div class="navbar navbar-unloaded">
		        <div class="navbar-inner">
	                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </a>

	                <a class="brand" href="<?=$this->route(array('module' => 'default')) ?>"><?=$this->config->application->name ?></a>

	                <div class="nav-collapse"><?=$this->renderCommon('nav') ?></div>
		        </div>
		    </div>
		</div>

		<? if ($this->placeholder('content_top')->toString()): ?>
		<div id="content_top_wrapper" class="container wide-block"><div id="content_top">
			<?=$this->placeholder('content_top')->toString() ?>
		</div></div>
		<? endif; ?>

		<div id="page_wrapper"><div id="page">
			<div>
				<?
				if (\DF\Flash::hasMessages()):
					$messages = \DF\Flash::getMessages();
					foreach($messages as $message):
				?>
					<div class="content-top-alert alert alert-<?=$message['color'] ?>" data-alert="alert">
						<a class="close" data-dismiss="alert" href="#">×</a>
						<?=$message['message'] ?>
					</div>
				<?
					endforeach;
				endif;
				?>

				<div id="content_wrapper">
					<div id="content">
					<?
					$breadcrumb = $this->breadcrumb()->render();
					if ($breadcrumb):
					?>
						<div id="breadcrumb">
							<a href="<?=\DF\Url::baseUrl() ?>/"><?=$this->config->application->name ?></a> &raquo; <?=$breadcrumb ?>
						</div>
					<? endif; ?>
						<h1 class="title"><?=$title ?></h1>
			
					<? if ($this->layout()->tabs): ?>
						<div id="content_tabs">
							<?=$this->layout()->tabs ?>
						</div>
					<? endif; ?>

					<? if ($this->layout()->subtitle): ?>
						<h2 class="title"><?=$this->layout()->subtitle ?></h2>
					<? endif; ?>

					<? if ($this->layout()->manual): ?>
						<?php echo $this->layout()->content; ?>
					<? else: ?>
						<div class="row">
							<div class="span12">
								<div class="floating">
									<div class="content_inner">
										<?php echo $this->layout()->content; ?>
									</div>
								</div>
							</div>
						</div>
					<? endif; ?>
					</div>
				</div>

				<div class="clear"></div>
				
				<div id="copyright">
					<big>Department of Student Activities &bull; 125 John J. Koldus Building &bull; 1236 TAMU &bull; College Station, TX 77843-1236</big><br />
					<i class="icon-phone"></i> Phone: (979) 845-1133 &bull; <i class="icon-print"></i> Fax: (979) 847-8854 &bull; <a href="http://studentactivities.tamu.edu/email"><i class="icon-envelope-alt"></i> E-mail Us</a><!-- &bull; <a class="fancybox fancybox.iframe" href="/webim/client.php?group=12"><i class="icon-comment"></i> Chat With Us</a> --><br>
					<small>
						Copyright &copy;2007-<?=date('Y') ?> Student Activities, Texas A&amp;M University. All Rights Reserved.<br />
						StuAct Online is powered by a custom framework that includes third-party libraries. For more information, visit <a href="<?=\DF\Url::baseUrl() ?>/help/about">this page</a>.<br />
						<a href="http://www.tamu.edu/">Texas A&amp;M University Home</a> &bull; 
						<a href="http://itaccessibility.tamu.edu/" target="_blank">Accessibility</a> &bull; 
						<a href="<?=$this->route(array('module' => 'help', 'controller' => 'index', 'action' => 'privacy')) ?>">Security &amp; Privacy Policy</a> &bull; 
						<a href="<?=$this->route(array('module' => 'help', 'controller' => 'index', 'action' => 'terms')) ?>">Terms of Use</a> &bull; 
						<a href="<?=$this->route(array('module' => 'help', 'controller' => 'index', 'action' => 'about')) ?>">About StuAct Online</a>
					</small>
		        </div>
			</div>
		</div></div>
		<div id="footer">&nbsp;</div>
	</div>
</div>
</body>
</html>