<?php echo $this->doctype(); ?>
<html class="full_layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="apple-touch-icon" href="<?=\DF\Url::content('apple-touch-icon.png') ?>">

<?php
$title_items = $this->headTitle()->getIterator();
$title = current($title_items);

if (!$this->layout()->subtitle && $this->layout()->show_subtitle)
    $this->layout()->subtitle = next($title_items);

$this->headTitle($this->config->application->name);

if (DF_APPLICATION_ENV != "production")
	$this->headTitle()->prepend('('.ucfirst(DF_APPLICATION_ENV).')');

echo $this->headTitle()->setSeparator(" - ")->toString();

$this->headLink()
	->appendStylesheet(\DF\Url::content('common/bootstrap2_r2/df-ui.css'), 'all')
	->appendStylesheet(\DF\Url::content('common/bootstrap2_r2/df-ui-responsive.css'), 'all')
	->appendStylesheet(\DF\Url::content('global.css'), 'all')
	->appendStylesheet(\DF\Url::content('common/jquery/fancybox/jquery.fancybox.css'), 'all')
	->appendStylesheet(\DF\Url::content('common/bootstrap2_r2/df-ui-printable.css'), 'print')
	->appendStylesheet(\DF\Url::content('themes-bootstrap/tan.css'));

$this->headScript()
	->prependFile(\DF\Url::cdn('jquery', '1'))
	->appendFile(\DF\Url::content('common/jquery/fancybox/jquery.fancybox.pack.js'))
	->appendFile(\DF\Url::content('common/bootstrap2_r2/bootstrap/js/bootstrap.min.js'))
	->appendFile(\DF\Url::content('common/bootstrap2_r2/layout.js'));

echo $this->headMeta();
echo $this->headLink();
echo $this->headScript();

if ($this->config->application->analytics_code)
	echo $this->analytics($this->config->application->analytics_code);
?>
<script>
var DF_ContentPath = '<?php echo \DF\Url::content(); ?>';
</script>
</head>
<body>
<div id="body-wrapper">
	<div id="body" class="container">
		<div id="page_wrapper"><div id="page">
			<div>
				<div id="content_wrapper">
					<div id="content">
						<h1 class="title"><?=$this->config->application->name ?></h1>

						<div class="row"><div class="span12"><div class="floating">
							<? if ($title): ?>
								<h2><?=$title ?></h2>
							<? endif; ?>
							<?php echo $this->layout()->content; ?>
						</div></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>