<?
$this->headTitle('Tutorial Center');
?>

<h2>Available Tutorials</h2>

<dl>
<? foreach($this->tutorials as $tutorial_key => $tutorial_info): ?>
    <dt><a href="<?=$this->routeFromHere(array('video' => $tutorial_key)) ?>"><?=$tutorial_info['title'] ?></a></dt>
<? endforeach; ?>
</dl>