<?
$this->headTitle($this->tutorial['title']);
$this->headScript()->appendFile(\DF\Url::content('mediaplayer/jwplayer.js'));
?>

<? if ($this->tutorial['transcript']): ?>
<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'page_white_acrobat',
		'text'		=> 'Download Transcript (PDF)',
		'href'		=> $this->tutorial['transcript'],
	)) ?>
</div>
<? endif; ?>

<center><div id="video_playback">Loading video...</div></center>

<script type="text/javascript">
jwplayer("video_playback").setup({
    flashplayer: "<?=\DF\Url::content('mediaplayer/player.swf') ?>",
    skin: "<?=\DF\Url::content('mediaplayer/glow.zip') ?>",
    file: "<?=$this->tutorial['url'] ?>",
    height: 480,
    width: 640
});
</script>