<?
$this->headTitle($this->tutorial['title']);
?>

<? if ($this->tutorial['transcript']): ?>
<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'page_white_acrobat',
		'text'		=> 'Download Transcript (PDF)',
		'href'		=> $this->tutorial['transcript'],
	)) ?>
</div>
<? endif; ?>

<div id="flashcontent" align="center">
	<p>If you can see this content, you might be missing the Adobe Flash Player, or you may have JavaScript disabled.</p>
</div>

<script type="text/javascript">
var video_url = "<?=$this->tutorial['url'] ?>";

$(document).ready(function() {
	$('#flashcontent').empty().flashembed({
		src: video_url,
		width: 640,
		height: 498,
		allowfullscreen: true,
		allowscriptaccess: 'always'
	});
});
</script>