<?php
$this->headTitle('Drupal Auto-Installer');
?>

<h2>All Organizations Using Drupal</h2>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large primary',
		'href'		=> $this->routeFromHere(array('origin' => 'auto')),
		'icon'		=> 'wand',
		'text'		=> 'Start Auto-Upgrade',
	)) ?>
</div>

<?=$this->paginate($this->pager) ?>

<table class="table table-striped" width="100%">
	<colgroup>
		<col width="25%">
        <col width="45%">
        <col width="20%">
        <col width="10%">
    </colgroup>
    <thead>
		<tr>
			<th>Actions</th>
	        <th>Organization Name</th>
	        <th>Last Installed</th>
	        <th>Version</th>
	    </tr>
	</thead>
	<tbody>
		<? foreach($this->pager as $org): ?>
	    <tr class="input">
	        <td align="left">
	        	<div class="btn-group">
	        		<?=$this->button(array(
	        			'type'		=> 'link',
	        			'icon'		=> 'key_go',
	        			'text'		=> 'Auto-Login',
	        			'href'		=> $org->route(array('controller' => 'web', 'action' => 'login')),
	        		)) ?>
	        		<?=$this->button(array(
	        			'type'		=> 'link',
	        			'icon'		=> 'world_go',
	        			'text'		=> 'Web Site',
	        			'href'		=> 'http://'.$org->it_web_addr,
	        		)) ?>
	        		<?=$this->button(array(
	        			'type'		=> 'link',
	        			'icon'		=> 'wand',
	        			'text'		=> 'Update/Reinstall',
	        			'href'		=> $this->routeFromHere(array('action' => 'org', 'id' => $org->id)),
	        		)) ?>
	        	</div>
			</td>
			<td><big><?=$org->name ?></big></td>
	        <td><?=date('m/d/Y g:ia', $org->it_web_drupal_installdate) ?></td>
	        <td><?=$org->it_web_drupal_version ?></td>
	    </tr>
		<? endforeach; ?>
	</tbody>
</table>

<?=$this->paginate($this->pager) ?>