<?php
$this->headTitle('Drupal Auto-Installer');
?>

<h2><?=$this->org->name ?></h2>

<h3>Drupal Install Interactive Step</h3>
<p>The Drupal installer often requires that certain steps take place within a browser environment. The window below will indicate the progress of the Drupal installation as it takes place.</p>

<script type="text/javascript">
function installComplete()
{
	$('form#complete_installation').submit();
}
</script>

<iframe id="install_iframe" src="<?=$this->url ?>" width="100%" height="200"></iframe>

<form action="<?=$this->routeFromHere(array('install_page' => 2)) ?>" id="complete_installation" method="post">
<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'danger confirm-action',
		'icon'		=> 'database_go',
		'text'		=> 'Manually Complete Installation (Not Recommended)',
	)) ?>
</div>
</form>