<?php
$this->headTitle('Drupal Auto-Installer');
?>

<h2><?=$this->org->name ?></h2>

<p>Select the installation method below.</p>

<? if ($this->org->it_web_drupal): ?>
	<h3>Upgrade Only</h3>
	<p>Select this option to update the files associated with the organization's Drupal installation without deleting any existing pages, modules or themes.</p>

	<div class="buttons">
		<?=$this->button(array(
			'type'		=> 'link',
			'icon'		=> 'resultset_next',
			'class'		=> 'large primary',
			'text'		=> 'Upgrade Only',
			'href'		=> $this->routeFromHere(array('action' => 'install', 'complete' => FALSE)),
		)) ?>
	</div>
<? endif; ?>

<h3>Clean Installation</h3>
<p>Select this option to clear any existing files, modules, and themes and install a fresh copy of the Drupal system. If the organization has an existing site, this site will be deleted.</p>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'resultset_next',
		'class'		=> 'large primary'.(($this->org->it_web_drupal) ? ' confirm-action' : ''),
		'text'		=> 'Clean Installation',
		'href'		=> $this->routeFromHere(array('action' => 'install', 'complete' => TRUE)),
	)) ?>
</div>