<?php
$this->headTitle('E-mail Accounts');
$this->layout()->manual = true;
?>

<div class="row">
    <div class="span12">
        <div class="floating">
            <h3>Main E-mail Address</h3>
                
            <p>Your main e-mail address is <b><?=$this->organization->it_web_username ?>@<?=$this->organization->it_web_addr ?></b>. All organizations have one primary e-mail address. This e-mail address will always remain active as long as your web account is active, and its password is synchronized with your web account master password. Click the button below to check the mail for this account.</p>

            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'href'      => $this->routeFromHere(array('action' => 'checkmainaccount')),
                    'target'    => '_blank',
                    'icon'      => 'email_go',
                    'class'     => 'large primary',
                    'text'      => 'Check Main E-mail Address',
                )) ?>
            </div>
        </div>
        <div class="floating">
            <h3>E-mail Accounts</h3>
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'email_add',
                    'class'     => 'success',
                    'text'      => 'New E-mail Account',
                    'href'      => $this->routeFromHere(array('action' => 'emailadd')),
                )) ?>
            </div>

            <p>The accounts below have full mailboxes and can be checked from the web.</p>
                
            <table class="table table-striped" width="100%">
                <colgroup>
                    <col width="50%">
                    <col width="50%">
                </colgroup>
                <thead>
                	<tr>
                    	<th>E-mail Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach((array)$this->cpanel_info['email_accounts'] as $account): ?>
                    <tr class="input">
                        <td><big><?=$this->mailto($account) ?></big></td>
                        <td>
                            <?=$this->button(array(
                                'type'      => 'small',
                                'icon'      => 'key',
                                'text'      => 'Change Password',
                                'href'      => $this->routeFromHere(array('action' => 'emailpassword', 'account' => $account)),
                            )) ?>
                            <?=$this->button(array(
                                'type'      => 'small',
                                'icon'      => 'delete',
                                'text'      => 'Delete',
                                'class'     => 'danger confirm-delete',
                                'href'      => $this->routeFromHere(array('action' => 'emaildelete', 'account' => $account)),
                            )) ?>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>

            <p>Users of the accounts above can access the webmail site below to check mail and send outgoing messages. Because only the e-mail account's address and password are required to access this page, it can be used by users who are not in the StuAct Online system.</p>
            <dl>
            	<dt>Webmail Address:</dt>
                <dd><a href="http://stuorg-webmail.tamu.edu/">http://stuorg-webmail.tamu.edu/</a></dd>
            </dl>
        </div>
        <div class="floating">
            <h3>Forwarders</h3>
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'email_add',
                    'class'     => 'success',
                    'text'      => 'New Forwarder',
                    'href'      => $this->routeFromHere(array('action' => 'forwarderadd')),
                )) ?>
            </div>

            <p>The accounts below forward e-mail from an address on your domain to another on-campus or off-campus address.</p>

            <table class="table table-striped" width="100%">
                <colgroup>
                    <col width="50%" />
                    <col width="50%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Address/Destination(s)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach((array)$this->cpanel_info['forwarder_accounts'] as $account => $destination): ?>
                    <tr class="input">
                        <td>
                            <big><?=$this->mailto($account) ?></big><br>
                            To: <?=implode('; ', $destination) ?>
                        </td>
                        <td>
                            <?=$this->button(array( 
                                'type'      => 'small',
                                'icon'      => 'email_go',
                                'text'      => 'Change Destination',
                                'href'      => $this->routeFromHere(array('action' => 'forwardermodify', 'account' => $account)),
                            )) ?>
                            <?=$this->button(array( 
                                'type'      => 'small',
                                'icon'      => 'delete',
                                'class'     => 'danger confirm-delete',
                                'text'      => 'Delete',
                                'href'      => $this->routeFromHere(array('action' => 'forwarderdelete', 'account' => $account)),
                            )) ?>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        </div>
        <div class="floating">
            <h3>Mailing Lists (Listservs)</h3>
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'newspaper_add',
                    'class'     => 'success',
                    'text'      => 'New Mailing List',
                    'href'      => $this->routeFromHere(array('action' => 'listservadd')),
                )) ?>
            </div>

            <table class="table table-striped" width="100%">
            	<colgroup>
                    <col width="50%">
                    <col width="50%">
                </colgroup>
                <thead>
                	<tr>
                        <th>List Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach((array)$this->cpanel_info['listserv_accounts'] as $account): ?>
                	<tr class="input">
                        <td><big><?=$this->mailto($account) ?></big></td>
                    	<td>
                            <?=$this->button(array(
                                'type'      => 'small',
                                'icon'      => 'group',
                                'class'     => 'primary',
                                'text'      => 'Members',
                                'href'      => $this->routeFromHere(array('action' => 'listservmembers', 'account' => $account)),
                            )) ?>
                            <?=$this->button(array(
                                'type'      => 'small',
                                'icon'      => 'world',
                                'text'      => 'Public Site',
                                'href'      => 'http://'.$this->organization->it_web_addr.'/mailman/listinfo/'.$this->listserv->getListName($account),
                            )) ?>
                            <?=$this->button(array(
                                'type'      => 'small',
                                'icon'      => 'cog',
                                'text'      => 'Advanced',
                                'href'      => 'http://stuorg-sites.tamu.edu/mailman/admin/'.$this->listserv->getListName($account),
                            )) ?>
                            <?=$this->button(array(
                                'type'      => 'small',
                                'icon'      => 'delete',
                                'class'     => 'danger confirm-delete',
                                'text'      => 'Delete',
                                'href'      => $this->routeFromHere(array('action' => 'listservdelete', 'account' => $account)),
                            )) ?>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>

            <p>Clicking the settings icon (<?=$this->icon('cog') ?>) for any mailing list above will take you to the Mailman listserv manager for that list. If you set up the list through this page, use password "<b><?=$this->organization->it_web_password ?></b>" to access management functions.</p>
        </div>
    </div>
</div>