<?php
$this->headTitle('Mailing List Membership');
?>

<dl>
	<dt>Mailing List Address:</dt>
    <dd><?=$this->mailto($this->account) ?></dd>
</dl>

<form action="<?=$this->routeFromHere(array('action2' => 'delete')) ?>" method="post" autocomplete="off">
    <h3>Current Membership (<?=count($this->listserv_members) ?> Total)</h3>

    <div class="buttons well">
        <?=$this->button(array(
            'type'      => 'submit',
            'icon'      => 'delete',
            'text'      => 'Delete Selected',
            'class'     => 'danger confirm-delete',
        )) ?>
        <?=$this->button(array(
            'type'      => 'link',
            'icon'      => 'delete',
            'text'      => 'Delete All',
            'class'     => 'danger confirm-delete',
            'href'      => $this->routeFromHere(array('action2' => 'delete_all')),
        )) ?>
        <?=$this->button(array(
            'type'      => 'link',
            'icon'      => 'page_white_excel',
            'text'      => 'Download to Excel',
            'href'      => $this->routeFromHere(array('action2' => 'export')),
        )) ?>
    </div>
    
    <table class=" table table-striped" width="100%">
    	<colgroup>
        	<col width="3%" />
            <col width="60%" />
            <col width="37%" />
        </colgroup>
        <thead>
            <tr>
            	<th align="left"><input type="checkbox" id="member_check_all" /></th>
                <th align="left">E-mail Address</th>
                <th align="left">Permission</th>
            </tr>
        </thead>
        <tbody>
        <? foreach((array)$this->listserv_members as $member): ?>
            <tr class="input">
            	<td align="left"><input type="checkbox" class="member_checkbox" name="member[]" value="<?=$member['address'] ?>" /></td>
                <td align="left"><?=$member['address'] ?></td>
                <td align="left">
                <? if ($member['status'] == NCE_LISTSERV_MEMBER_SEND_RECV): ?>
                    <?=$this->icon('email_add') ?> Send/Receive
                <? elseif ($member['status'] == NCE_LISTSERV_MEMBER_SEND_ONLY): ?>
                    <?=$this->icon('email') ?> Send Only
                <? elseif ($member['status'] == NCE_LISTSERV_MEMBER_RECV_ONLY): ?>
                    <?=$this->icon('email_delete') ?> Receive Only
                <? else: ?>
                    <?=$this->icon('cross') ?> Disabled
                <? endif; ?>
                </td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
</form>

<form action="<?=$this->routeFromHere(array('action2' => 'add')) ?>" method="post" class="form-stacked df-form" autocomplete="off">
    <h3>Add Member(s) to List</h3>

    <p>Enter each e-mail address you would like to add on a new line. If you are adding a sender whose e-mail address ends in @tamu.edu, you should use their Neo e-mail address (usually the same address, except @neo.tamu.edu). This will ensure that they are able to send mail to the listserv.</p>

    <div class="clearfix">
        <label for="addresses">Addresses To Add:</p>
        <textarea name="addresses" class="full-width half-height"></textarea>
    </div>

    <div class="clearfix">
        <label for="status">Permission:</label>
        <?=$this->formRadio('status', NULL, NULL, array(
            NCE_LISTSERV_MEMBER_SEND_RECV => 'Send/Receive: Can send mail to the mailing list, and will receive mail from it.',
            NCE_LISTSERV_MEMBER_RECV_ONLY => 'Receive Only: Can only receive mail from the mailing list.',
            NCE_LISTSERV_MEMBER_SEND_ONLY => 'Send Only: Can send mail to the mailing list, but will not receive mail from it.',
        )) ?>
    </div>
    
    <div class="buttons">
        <?=$this->button(array(
            'type'      => 'submit',
            'text'      => 'Add Members',
            'icon'      => 'add',
        )) ?>
    </div>
</form>

<script type="text/javascript">
$(function() {
    /* Check/Uncheck All checkbox at the top of the table. */
    $('input#member_check_all').change(function() {
        var is_checked = $(this).is(':checked');
        $('input.member_checkbox').attr('checked', is_checked);
    });
});
</script>