<h2>Camps Form Approved - Needs Roster</h2>

<p><b>Camps Form #<?=$this->form->access_code ?>:</b> <?=$this->form->index_name ?></p>

<p>This application has been approved.</p>

<p>After your program has been completed, you must submit the final roster of camp participants who attended each session. Once this participant roster is received for all sessions of the program, you will receive the final invoice for insurance fees.</p>

<p>
	You can submit the roster for your program by visiting this page:<br />
	<?=$this->link($this->review_url) ?>
</p>

<p>Regarding program accidents or incidents, please notify the Department of Student Activities by telephone at <?=$this->form_settings['contact_phone'] ?> of significant incidents once immediate necessary measures have been taken. You must also  submit incident reports to our office for any accident or sickness that occurred during your program within 48 hours of the occurrence. The form to do this is available online from the <a href="<?=$this->home_url ?>">Camps Form homepage</a>. Camp sponsors should also notify the Department of Student Activities of any resulting claims that are filed with the insurance company. Those covered have up to two years to file a claim. We recommend you retain copies of participants' waivers up to three years following a program. </p>

<p>Also, please be reminded that sponsors are required to retain liability waivers and copies of the forms used to conduct background screens for program staff and volunteers for a period of three years following the end of the program. This information may be retained in paper or electronic formats.</p>

<p>If you have any questions or require the assistance of this office, please contact <?=$this->form_settings['contact_name'] ?> at <?=$this->form_settings['contact_phone'] ?> or <?=$this->mailto($this->form_settings['contact_email']) ?>.</p>

<p>We hope your program is a success!</p>
