<h2>Camps Form Approved - Unpaid</h2>

<p><b>Camps Form #<?=$this->form->access_code ?>:</b> <?=$this->form->index_name ?></p>

<p>This application has been approved, and a roster has been submitted. You should receive an invoice for any applicable charges shortly. Once payment has been received, this form's progress will be complete.</p>

<p>If you have any questions or require the assistance of this office, please contact <?=$this->form_settings['contact_name'] ?> at <?=$this->form_settings['contact_phone'] ?> or <?=$this->mailto($this->form_settings['contact_email']) ?>.</p>