<h2><?=$this->subject ?></h2>

<p><b>Camps Form #<?=$this->form->access_code ?>:</b> <?=$this->form->index_name ?></p>

<p>This form has been assigned to you from the Camps Form system. A summary of the form's description is included below.</p>

<dl>
	<dt>Event Name:</dt>
	<dd><?=$this->record->index_name ?></dd>

	<dt>Event Starts:</dt>
	<dd><?=date('F j, Y', $this->record->index_starttime) ?></dd>

	<dt>Event Ends:</dt>
	<dd><?=date('F j, Y', $this->record->index_endtime) ?></dd>
</dl>

<p>
	To manage and process this form, visit this page:<br>
	<?=$this->link($this->route(array('module' => 'form_camps', 'controller' => 'manage', 'action' => 'view', 'id' => $this->record->access_code))) ?>
</p>