<h2>Camps Form Approved, Roster Needed After Event</h2>

<p><b>Camps Form #<?=$this->form->access_code ?>:</b> <?=$this->form->index_name ?></p>

<p>Howdy!</p>

<p>This form has been approved by the Camps and Enrichment Programs Office. Thank you for your timeliness in submitting the application. You may access and download a PDF copy of your application on StuAct Online at <a href="http://camps.tamu.edu/">camps.tamu.edu</a>.</p>

<h3>Submit Camp Roster</h3>

<p>For insurances purposes, an attendance roster is required to be uploaded and submitted to us <b>two days after your camp has ended</b>.</p>

<p>
	To submit a final roster for this form, visit this page:<br />
    <?=$this->link($this->review_url) ?>
</p>

<p>Once this roster is received, you will receive the final invoice for insurance fees. Please retain adequate funds in your account for the insurance payment.</p>

<h3>Reporting Incidents</h3>

<p>Regarding program incidents/accidents, please notify <?=$this->form_settings['contact_name'] ?> by telephone at <?=$this->form_settings['contact_phone'] ?> of significant incidents once immediate necessary measures have been taken.  Also, you need to submit incident reports to our office for any accident or incident that occurred during your program within 48 hours of the occurrence.  Camp sponsors should also notify the Department of Student Activities of any resulting claims that are filed with the insurance company. The accident and incident form can be found and completed by logging into StuAct Online and accessing your camps account. You may upload multiple accident/incident forms for your camp and they will be saved to this program. The insurance claims forms can also be found on our website at <a href="http://camps.tamu.edu">camps.tamu.edu</a>.</p>

<h3>Retaining Records</h3>

<p>Please be reminded that sponsors are required to retain liability waivers and copies of the forms used to conduct background screens for program staff and volunteers for a period of three years following the completion of the program. This information may be retained in paper or electronic formats.</p>

<h3>For More Information</h3>

<p>
	To view the progress of all forms you have submitted, visit this page:<br />
	<?=$this->link($this->home_url) ?>
</p>

<p>If you have any questions or require the assistance of this office, please contact <?=$this->form_settings['contact_name'] ?> at <?=$this->form_settings['contact_phone'] ?> or <?=$this->mailto($this->form_settings['contact_email']) ?>.</p>