<h2>Form Needs Review &amp; Approval</h2>

<p><b>Camps Form #<?=$this->form->access_code ?>:</b> <?=$this->form->index_name ?></p>

<p>The form listed above requires your review. At your earliest convenience, please visit the page below and submit your approval or disapproval.</p>

<p>If you have any questions or have received this message in error, please contact <?=$this->form_settings['contact_name'] ?> at <?=$this->form_settings['contact_phone'] ?> or <?=$this->mailto($this->form_settings['contact_email']) ?>.</p>

<p>
	To review this form, visit this page:<br />
    <?=$this->link($this->review_url) ?>
</p>