<h2>Form Needs Completion</h2>

<p><b>Camps Form #<?=$this->form->access_code ?>:</b> <?=$this->form->index_name ?></p>

<p>You are listed as the secondary submitter for the form above. In order to complete the submission process, you must complete the remaining elements in the form and submit it.</p>

<p>
	To review and revise the submitted details of this form, visit this page:<br />
    <?=$this->link($this->edit_url) ?>
</p>
<? /*
<p>
	To view the progress of all forms you have submitted, visit this page:<br />
	<?=$this->link($this->home_url) ?>
</p>
*/ ?>