<h2>Camps Form Status Change</h2>

<p><b>Camps Form #<?=$this->form->access_code ?>:</b> <?=$this->form->index_name ?></p>

<p>The status of the above submitted form has been updated. The new status is <b><?=$this->form->phase_name ?></b>.</p>

<p>As a reminder, due to the volume of camp applications we receive each week, please be advised that these will be reviewed according to date submitted. University Rule 11.99.99 states that all applications must be submitted at least eight weeks prior to the start of the program to allow for notification of insurance carriers as well as thorough reviews by the Sponsoring Department and Risk Management Team in Student Activities. If you have any concerns regarding the timeliness of your submission, please contact <?=$this->form_settings['contact_name'] ?> at <?=$this->form_settings['contact_phone'] ?> or <?=$this->mailto($this->form_settings['contact_email']) ?>.</p>