<?php
$this->headTitle('Batch Manager Center: Grade Report');
?>

<h2>Refine Report</h2>

<form action="<?=\DF\Url::current() ?>" method="post">
<dl>
    <dt>Select Term:</dt>
    <dd><?=$this->formRadio('term', NULL, NULL, $this->terms) ?></dd>
    
    <dt>Export Format:</dt>
    <dd><?=$this->formRadio('format', 'csv', NULL, array('csv' => 'Download to Excel')) ?></dd>
</dl>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'submit',
        'icon'      => 'resultset_next',
        'text'      => 'Generate Report',
    )) ?>
</div>
</form>