<?php
$this->headTitle('Batch Manager Center');
?>

<h2><?=$this->batch_group['name'] ?></h2>

<form class="form-stacked form-view" action="<?=$this->routeFromHere(array('action' => 'bulk')) ?>" method="post">
<input type="hidden" name="do" value="none">

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'button',
        'icon'      => 'tick',
        'text'      => 'Grade Check',
        'class'     => 'btn_batch_action',
        'rel'       => 'grades',
    )) ?>
    <?=$this->button(array(
        'type'      => 'button',
        'icon'      => 'group_link',
        'text'      => 'Leadership Roster',
        'class'     => 'btn_batch_action',
        'rel'       => 'roster',
    )) ?>
</div>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="3%">
        <col width="5%">
        <col width="40%">
    <? foreach($this->org_settings['flags'] as $flag => $flag_name): ?>
        <col width="5%">
    <? endforeach; ?>
    </colgroup>
    <thead>
        <tr class="input">
            <th><input type="checkbox" class="check_all"></th>
            <th>&nbsp;</th>
            <th>Organization Name</th>
        <? foreach($this->org_settings['flags'] as $flag => $flag_name): ?>
            <th><acronym title="<?=$flag_name ?>"><small><?=$this->org_settings['flag_abbrs'][$flag] ?></small></acronym></th>
        <? endforeach; ?>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->batch_group->organizations as $org): ?>
        <tr class="org_id_row input">
            <td class="center">
                <input type="checkbox" name="ids_raw[]" value="<?=$org['id'] ?>" class="org_ids">
            </td>
            <td class="center">
                <?=$this->icon(array(
                    'type'      => 'png_status',
                    'image'     => $this->org_settings['status_icons'][$org['status']],
                    'title'     => $this->org_settings['status_codes'][$org['status']],
                )) ?>
            </td>
            <td align="left"><big><a href="<?=$this->route(array('module' => 'organization', 'controller' => 'index', 'id' => $org['id'])) ?>" target="_blank"><?=$org['name'] ?></a></big></td>
        <? foreach($this->org_settings['flags'] as $flag => $flag_name): ?>
            <td class="center"><?=$this->icon($this->org_settings['flag_icons'][$org['flag_'.$flag]]) ?></td>
        <? endforeach; ?>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>
</form>

<script type="text/javascript">
$(function() {
    $('.btn_batch_action').click(function(e) {
        var current_form = $(this).closest('form');
        
        if (current_form.find('input.org_ids:checked').length == 0)
        {
            alert('You must select at least one organization from the list!');
        }
        else
        {
            current_form.find("input[name='do']").val($(this).attr('rel'));
            current_form.submit();
        }
        
        e.preventDefault();
        return false;
    });
    
    $('input.check_all').change(function() {
        var is_checked = $(this).is(':checked');
        $(this).closest("table").find("input[type='checkbox']").attr('checked', is_checked);
    });
});
</script>