<?php
$this->headTitle('Batch Manager Center');
?>

<h2>Select a Batch Group</h2>

<ul>
<? foreach($this->batch_groups as $group_id => $group_name): ?>
	<li><a href="<?=$this->routeFromHere(array('id' => $group_id)) ?>"><?=$group_name ?></a></li>
<? endforeach; ?>
</ul>