<?php
$this->headTitle('Submit Custom Training Item');
?>

<h2>About Custom Training Items</h2>
<p>This form allows you to submit training items that you have completed outside the StuAct Online system in order to receive credit as part of the annual recognition process. This process is only available to Sponsored level organizations.</p>

<p>Custom training items submitted by student leaders are sent to the organization's advisor for review and approval. Items submitted by advisors are reviewed by the Department of Student Activities.</p>

<h2>Select an Organization</h2>

<ul>
<? foreach($this->orgs as $org_id => $org_name): ?>
	<li><a href="<?=$this->routeFromHere(array('org_id' => $org_id)) ?>"><?=$org_name ?></a></li>
<? endforeach; ?>
</ul>