<?php
$this->headTitle('Review Custom Training Item');
?>

<h2>Training Details</h2>

<?=$this->form->renderView() ?>

<h2>Submit Review Decision</h2>

<dl>
	<dt>Training Credits to Assign:</dt>
	<dd><?=$this->record->credits ?></dd>
</dl>

<p>By approving this training item, this user will gain the number of credits listed above toward their annual recognition requirement. You may also choose to decline this training item, which will assign no credit to the submitter.</p>

<div class="buttons btn-group">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large success confirm-action',
		'icon'		=> 'tick',
		'href'		=> $this->routeFromHere(array('decision' => 'approve')),
		'text'		=> 'Approve Training Item',
	)) ?>
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large danger confirm-action',
		'icon'		=> 'delete',
		'href'		=> $this->routeFromHere(array('decision' => 'decline')),
		'text'		=> 'Decline Training Item',
	)) ?>
</div>