<?php
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span4">
       	<div class="floating">
			<h2>Upcoming Events</h2>

			<? foreach($this->calendar_events as $event_day): ?>
            	<h3><?=$event_day['text'] ?></h3>
                <ul class="unstyled">
            	<? foreach($event_day['events'] as $event): ?>
	            	<li><span class="label"><? if ($event['all_day']): ?>All Day<? else: ?><?=$event['time'] ?><? endif; ?></span> <b><a href="<?=$event['link'] ?>"><?=$event['title'] ?></a></b></li>
	            <? endforeach; ?>
                </ul>
            <? endforeach; ?>
		</div>
    </div>
    <div class="span8">
    	<div class="floating">
            <h2>Current Stories</h2>

            <?
            $stories_leader = array_slice($this->getinvolved_articles, 0, 3);
            $stories_follower = array_slice($this->getinvolved_articles, 3);
            ?>

            <? foreach($stories_leader as $article): ?>
                <h3><a href="<?=$article['link'] ?>"><?=$article['title'] ?></a><br><small><?=date('F j, Y g:ia', $article['timestamp']) ?></small></h3>
                <p><?=$article['description'] ?></p>
                <hr style="clear: both;">
            <? endforeach; ?>

            <h3>Older Stories</h3>
            <ul class="unstyled">
            <? foreach($stories_follower as $article): ?>
                <li><span class="label"><?=date('m/d/Y', $article['timestamp']) ?></span> <a href="<?=$article['link'] ?>"><?=$article['title'] ?></a></li>
            <? endforeach; ?>
            </ul>
        </div>
    </div>
</div>
<div class="row">
	<div class="span4">
    	<div class="floating">
        	<h2>What is Involvement?</h2>
            <p>We define involvement as engagement with the campus and/or community, and encourage our students to define their personal involvement experience through individual interest areas, which provide meaningful and beneficial experiences for them during and after their time at Texas A&amp;M. Examples of involvement include: community service, leadership, employment, campus involvement, student organization membership and participating in community and campus wide events.</p>
            
            <h2>Why Get Involved?</h2>
            <p>There are many valuable benefits of involvement at Texas A&amp;M University. By becoming involved, students can mature personally, culturally, socially, spiritually and academically. Texas A&amp;M has more than 800 recognized student organizations, and there are a myriad of other ways to become involved in campus life.</p>
            
            <p>Some of the benefits include:</p>
            
            <ul>
                <li>Learning leadership skills</li>
                <li>Learning how to maximize natural strengths and abilities</li>
                <li>Learning how to manage finances</li>
                <li>Developing healthy relationships</li>
                <li>Time management skills</li>
                <li>Public speaking skills</li>
                <li>Developing professional writing or presentation skills</li>
                <li>Working with conflict management/mediation</li>
                <li>Meeting people with similar interests and ideals</li>
                <li>Experiencing activities and events that will clarify your career goals</li>
            </ul>
        </div>
    </div>
    
    <div class="span4">
        <div class="floating">
            <h2>Get Involved Videos</h2>
                
            <p>Find out about the importance of involvement and the opportunities that are available from involved students.</p>
            
            <div class="buttons btn-group">
                <?=$this->button(array(
                    'type'      => 'small',
                    'href'      => 'http://www.youtube.com/embed/10TSgZWm8zM?autoplay=1',
                    'class'     => 'fancybox fancybox.iframe',
                    'text'      => 'Video 1',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'href'      => 'http://www.youtube.com/embed/LEogiiKIq40?autoplay=1',
                    'class'     => 'fancybox fancybox.iframe',
                    'text'      => 'Video 2',
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'href'      => 'http://www.youtube.com/embed/YkLzSr0Rn_Y?autoplay=1',
                    'class'     => 'fancybox fancybox.iframe',
                    'text'      => 'Video 3',
                )) ?>
            </div>
        </div>
    	<div class="floating">
        	<h2>Get Involved Newsletter</h2>
            <h3>Sign Up</h3>
            <p>To sign up for the Get Involved newsletter and have new involvement opportunities delivered directly to your inbox, enter your e-mail address below.</p>
            
            <form class="form-stacked" action="http://stuact-listservs.tamu.edu/mailman/subscribe/get-involved_stuact-listservs.tamu.edu">
            <div class="clearfix">
            	<label for="email">Your E-mail Address:</label>
                <input type="text" name="email" class="full-width" />
            </div>
            <div class="buttons actions">
            	<?=$this->button(array(
            		'type'		=> 'submit',
            		'class'		=> 'primary',
            		'icon'		=> 'email_go',
            		'text'		=> 'Subscribe',
	            )) ?>
            </div>
            </form>
        </div>
	</div>
    <div class="span4">
    	<div class="floating">
        	<h2>Find Student Organizations</h2>
            <dl>
            	<dt><a href="<?=$this->route(array('module' => 'orgmatch')) ?>">OrgMatch</a></dt>
                <dd>
                	OrgMatch is an on-line tool that students can use to identify various organizations that match their interests. Just log in, fill out a quick questionnaire, and you will receive a list of organizations that match your interests as well as the contact information for those groups.<br /><br />
                    Take advantage of OrgMatch! There are many student organizations that are looking for great members like you!
                </dd>
                <dt><a href="<?=$this->route(array('module' => 'search')) ?>">OrgSearch</a></dt>
                <dd>
                	OrgSearch is an online listing of more than 800 recognized student organizations at Texas A&amp;M University. Click here to search the organizations by first letter or by category. Each listing details general information about the organization, including contact information.
                </dd>
            </dl>
		</div>
    </div>
</div>