<?
$this->headTitle('About StuAct Online');
?>

<p>StuAct Online was created and is maintained by the Department of Student Activities Information Technology staff at Texas A&amp;M University.</p>

<h2>About the System</h2>
<p>The StuAct Online system facilitates the organization management, event management, and form handling of the Department of Student Activities. It is constructed entirely with PHP, XHTML, CSS and JavaScript. It utilizes a MySQL database for all system information.</p>
<p>This application utilizes various PHP frameworks to accomplish certain tasks, including:</p>

<dl>
	<dt>Content Management System</dt>
    <dd>
    	<a href="http://drupal.org/" target="_blank">Drupal</a>
    </dd>
    
	<dt>PHP Application Framework</dt>
    <dd>
    	<a href="http://framework.zend.com/" target="_blank">ZendFramework</a>
    </dd>
    
    <dt>Database Abstraction Layer</dt>
    <dd>
        <a href="http://www.doctrine-project.org" target="_blank">Doctrine</a>
    </dd>
    
    <dt>PHP Templating Engine</dt>
    <dd>
    	<a href="http://www.smarty.net/" target="_blank">Smarty</a>
    </dd>
    
    <dt>JavaScript Frontend</dt>
    <dd>
    	<a href="http://www.jquery.com/" target="_blank">jQuery</a><br />
        <a href="http://ui.jquery.com/" target="_blank">jQuery UI</a><br />
        <a href="http://taitems.tumblr.com/post/482577430/introducing-aristo-a-jquery-ui-theme" target="_blank">Aristo, jQuery UI Theme</a><br />
        <a href="http://www.longtailvideo.com/" target="_blank">JW Player</a>
    </dd>
    
    <dt>Frontend Icons</dt>
    <dd>
    	<a href="http://www.famfamfam.com/" target="_blank">Silk Icons</a><br />
        <a href="http://p.yusukekamiyamane.com/" target="_blank">Fugue Icons</a><br />
        <a href="http://commons.wikimedia.org/wiki/Crystal_Clear" target="_blank">Crystal Clear Icons</a>
    </dd>
    
    <dt>Mobile Site</dt>
    <dd>
    	<a href="http://jquerymobile.com/" target="_blank">jQuery Mobile</a>
    </dd>
</ul>

<br />
<h2>Licensing</h2>
<p>The source code powering StuAct Online and related applications is licensed under the <a href="http://creativecommons.org/licenses/GPL/2.0/">Creative Commons GNU General Public License</a>. A redistributable package of the code framework is available upon request; for contact information, see our department's <a href="/about/contact">contact information</a>.</p>