<?php
$this->headTitle('Help Center');
?>

<h2>Training &amp; Tutorials</h2>
<p>A series of video guides to introduce you to StuAct Online and its features.</p>
<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'href'      => $this->routeFromHere(array('controller' => 'tutorial', 'action' => 'index', 'video' => 'getstarted')),
        'icon'      => 'user',
        'text'      => 'Getting Started Video',
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'href'      => $this->route(array('module' => 'training', 'controller' => 'index')),
        'icon'      => 'flag_green',
        'text'      => 'Training Visitors Center',
    )) ?>
</div>
<br />
<h2>Frequently Asked Questions</h2>
<p>The most common questions about StuAct Online, answered on a single page. Check this page for answers to your questions before contacting us.</p>
<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'href'      => $this->routeFromHere(array('controller' => 'faq', 'action' => 'index')),
        'icon'      => 'help',
        'text'      => 'Frequently Asked Questions',
    )) ?>
</div>
<br />
<h2>Contact Us</h2>
<p>If we don't have the answer to your question online, or you have other comments or suggestions for our team, contact us here.</p>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'href'      => '/about/contact',
        'icon'      => 'email',
        'text'      => 'Contact Us',
    )) ?>
</div>

<br />
<h2>Submit Bugs or Feedback</h2>
<p>If you notice something not functioning properly on the site, submit a bug report and let us know. For any comments or suggestions, submit feedback.</p>
<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'href'      => '/online/util/bug_report.php', //$this->route(array('module' => 'util', 'controller' => 'bugs', 'action' => 'index')),
        'icon'      => 'bug',
        'text'      => 'Bug Report',
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'href'      => '/online/util/feedback.php', // $this->route(array('module' => 'util', 'controller' => 'feedback', 'action' => 'index')),
        'icon'      => 'email_go',
        'text'      => 'Submit Feedback',
    )) ?>
</div>