<p>The Department of Student Activities provides services for all Recognized Student Organizations, staff and the Texas A&M Community. The following is the privacy policy for this site (http://studentactivities.tamu.edu and its service areas)</p>

<br />
<h2>Information collected and stored automatically.</h2>
<p>In the course of operating a web site, certain information may be collected automatically in logs or by cookies. Some agencies may be able to collect a great deal of information, but by policy elect to collect only limited information. In some instances, agencies may have the technical ability to collect information and later take additional steps to identify people, such as by looking up static Internet Protocol addresses that can be linked to specific individuals.</p>
<p>We do not use cookies to collect information. However, cookies are used to maintain your active logged in session across the web site.</p>
<p>For site management functions, information is collected for analysis and statistical purposes. This information is not reported or used in any manner that would reveal personally identifiable information, and will not be released to any outside parties unless legally required to do so in connection with law enforcement investigations or other legal proceedings.</p>
<p>We use log analysis tools to create summary statistics, which are used for purposes such as assessing what information is of most interest, determining technical design specifications, and identifying system performance or problem areas. The following information could be collected for this analysis:</p>
<ul>
        <li>User Client hostname - The hostname (or IP address if DNS is disabled) of the user/client requesting access.</li>
    <li>HTTP header, "user-agent" - The user-agent information includes the type of browser, its version, and the operating system it's running on.</li>
    <li>HTTP header, "referer" - The referer specifies the page from which the client accessed the current page.</li>
    <li>System date - The date and time of the user/client request.</li>
    <li>Full request - The exact request the user/client made.</li>
    <li>Status - The status code the server returned to the user/client.</li>
    <li>Content length - The content length, in bytes, of the document sent to the user/client.</li>
    <li>Method - The request method used.</li>
    <li>Universal Resource Identifier (URI) - The location of a resource on the server.</li>
    <li>Query string of the URI - Anything after the question mark in a URL.</li>
    <li>Protocol - The transport protocol and version used.</li>
</ul>

<br />
<h2>Information Collected from E-mails and Web Forms.</h2>
<p>If you send us an electronic mail message with a question or comment that contains personally identifying information, or fill out a form that submits this information to us in any manner, we will only use the personally-identifiable information to respond to your request and analyze trends. We may redirect your message to another University Department, agency, or person who is better qualified to answer the question.</p>

<p>Only the information contained in an organization's Public and OrgMatch profiles will be available to the public through StuAct Online. Information collected on officers or advisors of organizations will not be released to the public. Organization rosters can only be seen by officers or advisors of the respective organization.</p>

<p>Any information contained in StuAct Online can be used by Texas A&amp;M University staff and faculty for university related purposes.</p>

<p>Student Activities does not sell or redistribute the non-public information stored in StuAct Online. Student Activities reserves the right to send electronic notifications to StuAct Online users pertaining to official department or university functions.</p>

<p>State law requires that users of this site be informed that this site collects the following information about users:</p>
<ul>
    <li>Name</li>
    <li>Student ID</li>
    <li>Telephone Number</li>
    <li>Address</li>
    <li>E-mail Address</li>
</ul>

<br />
<h2>Access</h2>

<p>A large portion of the information maintained in StuAct Online can be managed by visiting one's personal profile or the profile page of a student organization. Requests to obtain, correct, or otherwise modify the information stored about a user in this system can be submitted to the department using the contact information in this page's footer, or by sending a message to {mailto address="student-activities@tamu.edu"}.</p>

<br />
<h2>Security, Intrusion, Detection/Monitoring.</h2>

<p>For site security purposes and to ensure that this service remains available to all users, this government computer system employs software programs to monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage. Except for authorized law enforcement investigations, no other attempts are made to identify individual users or their usage habits.</p>
<p>Unauthorized attempts to upload information or change information on this service are strictly prohibited and may be punishable under the Texas Penal Code Chapters 33 (Computer Crimes) or 33A (Telecommunications Crimes).</p>

<br />
<h2>Changes to Privacy Policy</h2>
<p>In the event changes are made to this policy that might reduce privacy by allowing personal information to be used in ways not described above, the additional purposes may only use information obtained after the revised policy is published on the Student Activities web site. Past information will continue to be protected in accordance with the policy in effect at the time the information was obtained.</p>