<h2>Acceptance of Terms</h2>
<p>When you access this site, you acknowledge that you have read and agree to the terms described below. If you do not agree to these terms as outlined here, you should exit this site now. If you have any questions about these terms contact: {mailto address="student-activities@tamu.edu" encode="hex"}.</p>

<br />
<h2>Copyright</h2>
<p>Everything contained within this site is copyrighted. The copyrights are owned by the Department of Student Activities or the original creator of the material. However, you are free to view, copy, print and distribute material from this site, as long as:</p>
<ol>
	<li>The material is for information only,</li>
    <li>The material is used for non-commercial purposes only,</li>
    <li>Use includes proper attribution and copyright notice of the material's creator.</li>
</ol>

<br />
<h2>No Warranty</h2>
<p>While the Department of Student Activities attempts to provide accurate information on this site, it assumes no responsibility for accuracy. The Department of Student Activities and other users of the site may change the information on the site at any time without notice.</p>
<p>Material on this site is provided "as-is" and does not constitute a warranty of any kind, either express or implied.</p>

<br />
<h2>Limitation of Liability</h2>
<p>The Department of Student Activities is not liable for any direct, indirect, special, incidental or consequential damages arising out of the use (or the inability to use) the material on this site. This includes but is not limited to the loss of data, even if the Department of Student Activities was advised of the possibilities of such damages.</p>

<br />
<h2>Links</h2>
<p>While this site may contain links to third-party sites, the Department of Student Activities is not responsible for the content of any linked sites. The Department of Student Activities provides these links as a convenience and does not endorse the companies or contents of any linked sites.</p>

<br />
<h2>Your Posted Information</h2>
<p>You are prohibited from posting or transmitting any unlawful, threatening, obscene, libelous, or otherwise offensive material.</p>

<br />
<h2>Your Submission</h2>
<p>Any material, information, or idea submitted or posted on this site will be considered non-confidential and non proprietary. The Department of Student Activities may share or otherwise use your submission for any purpose whatsoever. If any of the information submitted constitutes personal data, you agree that the Department of Student Activities may transmit such personal data across international boundaries for any purpose. Personal data will be treated as set forth in our <a href="<?=$this->routeFromHere(array('action' => 'privacy')) ?>">Privacy Policy</a>.</p>

<br />
<h2>Export of Information</h2>
<p>The Unites States Export Controls laws prohibit the export of certain technical data and software to certain territories. No content from this site may be downloaded or otherwise exported in violation of United States law.</p>