<?php
$record = $this->record;
?>

<? if (\DF\Acl::isAllowed('admin_sponsauth')): ?>
<div class="smallbuttons">
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'pencil',
		'text'		=> 'Edit Details',
		'href'		=> $this->route(array('module' => 'sponsauth', 'controller' => 'manage', 'action' => 'edit', 'id' => $record['id'])),
	)) ?>
</div>
<? endif; ?>

<h3><?=$record['event_name'] ?></h3>

<dl>
	<dt>Date Range:</dt>
	<dd><?=date('F j, Y', $record['event_starttime']) ?> to <?=date('F j, Y', $record['event_endtime']) ?></dd>
	
	<dt>Event Type:</dt>
	<dd><?=ucfirst($record['event_type']) ?></dd>
	
	<dt>Location:</dt>
	<dd><?=$record['event_location'] ?></dd>
	
	<dt>Description:</dt>
	<dd><?=nl2br($record['event_desc']) ?></dd>
	
	<dt>Contact Information:</dt>
	<dd>
		<?=$record['contact_name'] ?><br />
		<?=$record['contact_dept'] ?><br />
		<?=$record['contact_phone'] ?><br />
		<?=$this->mailto($record['contact_email']) ?>
	</dd>
</dl>