<?
$this->headTitle('Submit Event');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span6">
		<div class="floating">
			<h2>Authorized Activities</h2>
			
			<p>The Authorized Activity List reports activities that are:</p>
			<ul>
				<li>Required due to mandatory participation in a university activity, or</li>
				<li>Necessary as a requirement for an official class.</li>
			</ul>
			
			<p>Authorized activities are official university-excused absences as defined in Part I, Section 7 of University Student Rules.</p>
			
			<p>Click the button below to submit a request for an Authorized Activity. This form will be sent for review by the dean of the college or, in the case of non-academic activities, the Vice President for Student Affairs.</p>
			
			<p>If the absence is categorized as excused, the instructor must either provide the student an opportunity to make up the exam or other work missed or provide a satisfactory alternative completed within 30 calendar days from the last date of absence.</p>
			
			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'flag_green',
					'text'		=> 'Submit Authorized Event',
					'class'		=> 'primary',
					'href'		=> $this->routeFromHere(array('action' => 'authorized', 'month' => NULL)),
				)) ?>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="floating">
			<h2>Sponsored Activities</h2>
			
			<p>The Sponsored Activity List reports activities of academic and non-academic departments, administrative entities and or recognized student organizations that are:</p>

			<ul>
				<li>Generally considered to be important to the overall leadership development and education of Texas A&amp;M students, but</li>
				<li><b>Not</b> required as part of an official class or as mandatory participation in a university activity.</li>
			</ul>
			
			<p>Participation in a sponsored activity is not considered official university-excused absences; however, based on the perceived educational value of the event, instructors are encouraged to consider allowing student(s) to make up the work missed.</p>
			
			<p>The Sponsored Activity form can be accessed and submitted online below. This form does not require Dean or Vice President for Student Affairs approval.</p>
			
			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'flag_blue',
					'text'		=> 'Submit Sponsored Event',
					'class'		=> 'primary',
					'href'		=> $this->routeFromHere(array('action' => 'sponsored', 'month' => NULL)),
				)) ?>
			</div>
		</div>
	</div>
</div>