<?php
$this->headTitle('Roster');
$this->layout()->manual = TRUE;

$is_admin = $this->acl->isAllowed('admin_orgs');
?>

<? if ($this->requests): ?>
<div class="row">
	<div class="span12">
		<div class="floating">
			<h3>Pending Requests</h3>

			<table class="table table-striped">
				<colgroup>
					<col width="25%">
					<col width="20%">
					<col width="5%">
					<col width="50%">
				</colgroup>
				<tbody>
				<? foreach($this->requests as $request): ?>
					<tr class="input">
						<td>
							<?=$this->button(array(
								'type'		=> 'small',
								'class'		=> 'success',
								'icon'		=> 'tick',
								'text'		=> 'Approve',
								'href'		=> $this->routeFromHere(array('action' => 'processrequest', 'request_id' => $request->id, 'decision' => 'approve')),
							)) ?>
							<?=$this->button(array(
								'type'		=> 'small',
								'class'		=> 'danger confirm-action',
								'icon'		=> 'cross',
								'text'		=> 'Decline',
								'href'		=> $this->routeFromHere(array('action' => 'processrequest', 'request_id' => $request->id, 'decision' => 'decline')),
							)) ?>
						</td>
						<td><big><?=$request->name ?></big></td>
						<td class="center"><img src="<?=$request->user->getAvatar(64) ?>" alt="Avatar"></td>
						<td>
							<b><?=$request->user->firstname ?> <?=$request->user->lastname ?></b><br>
							<?=$request->user->title ?><br>
							<?=$this->mailto($request->user->email) ?>
						</td>
					</tr>
				<? endforeach; ?>
				</tbody>
			</table>
		</div>
	</div>
</div>
<? endif; ?>

<div class="row equal-heights">
	<div class="span4">
		<div class="floating">
			<h3>Advisors</h3>

			<?php
			$this->group = $this->groups['advisors'];
			echo $this->renderHere('index_row', FALSE);
			?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h3>Student Leaders</h3>

			<?php
			$this->group = $this->groups['leaders'];
			echo $this->renderHere('index_row', FALSE);
			?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h3>Officers</h3>

			<?php
			$this->group = $this->groups['officers'];
			echo $this->renderHere('index_row', FALSE);
			?>
		</div>
	</div>
</div>

<!-- Individual Position Panels -->

<? foreach($this->organization->officer_positions as $position): ?>
<div id="position_<?=$position->user_id ?>" style="display: none; width: 650px; height: 350px; overflow: hidden;">
	<?
	$can_modify = $this->org_acl->canModifyPosition($position);
	$privs_raw = $position->getPermissions();
	$privs = array();

	foreach($privs_raw['granted'] as $priv_key => $priv_info)
	{
		$priv_info['granted'] = TRUE;
		$priv_info['can_toggle'] = ($priv_info['type'] != 'default' && $can_modify);

		if (!$priv_info['anonymous'])
			$privs[$priv_key] = $priv_info;
	}
	foreach((array)$privs_raw['grantable'] as $priv_key => $priv_name)
	{
		$privs[$priv_key] = array(
			'name' => $priv_name,
			'can_toggle' => $can_modify,
			'granted' => false,
		);
	}
	?>
	<div style="float: left; width: 180px; margin-right: 10px;">
		<h2>
			<?=$position->user->firstname ?> <?=$position->user->lastname ?><br>
			<small><?=$position->name ?></small>
		</h2>
		<img src="<?=$position->user->getAvatar(128) ?>" alt="Large Avatar">
		<br><br>
		<ul type="ul-unstyled">
		<? if ($can_modify): ?>
			<li><a href="<?=$this->routeFromHere(array('action' => 'remove', 'user_id' => $position->user_id)) ?>" class="confirm-action">Remove User</a></li>
		<? endif; ?>
		<? if ($is_admin): ?>
			<li><a href="<?=$this->route(array('module' => 'account', 'controller' => 'profile', 'id' => $position->user_id)) ?>" target="_blank">User Profile</a></li>
		<? endif; ?>
		</ul>
	</div>
	<div style="float: left; width: 200px; margin-right: 10px;">
		<h3>Roster Details</h3>

		<dl>
			<dt>Added to Roster:</dt>
			<dd><?=date('F j, Y', $position->timestamp) ?></dd>

			<dt>Is Current?</dt>
			<dd><? if ($position->isRenewed()): ?>Yes<? else: ?>No<? endif; ?></dd>

		<? if ($this->isAllowed('profile_staff_edit')): ?>
			<dt>Is Eligible?</dt>
			<dd><? if ($position->isEligible()): ?>Yes<? else: ?>No<? endif; ?></dd>
		<? endif; ?>
		</dl>

		<h3>Contact Information</h3>

		<dl>
			<dt>Title:</dt>
			<dd><?=$position->user->title ?></dd>

			<dt>E-mail Address:</dt>
			<dd><?=$this->mailto($position->user->email) ?></dd>

			<dt>Phone Number:</dt>
			<dd><?=$position->user->phone ?></dd>
		</dl>
	</div>
	<div style="float: left; width: 200px;">
		<h3>Permissions</h3>

		<table class="table table-striped table-condensed">
			<colgroup>
				<col width="5%">
				<col width="95%">
			</colgroup>
			<tbody>
			<? foreach($privs as $priv_key => $priv_info): ?>
				<tr class="input" rel="<?=$priv_key ?>">
					<td class="right">
					<? if ($priv_info['can_toggle']): ?>
						<a href="<?=$this->routeFromHere(array('action' => 'togglepermission', 'user_id' => $position->user_id, 'permission' => $priv_key)) ?>" class="link_toggle" title="Click to toggle this permission.">
							<?=$this->icon(array(
								'image' => 'tick',
								'class' => 'icon_enabled',
								'style' => (!$priv_info['granted']) ? 'display: none;' : '',
							)) ?>
							<?=$this->icon(array(
								'image' => 'cross',
								'class' => 'icon_disabled',
								'style' => ($priv_info['granted']) ? 'display: none;' : '',
							)) ?>
							<?=$this->icon(array(
								'image' => 'hourglass',
								'class' => 'icon_reloading',
								'style' => 'display: none;',
							)) ?>
						</a>
					<? else: ?>
						<?=$this->icon(array(
							'image' => ($priv_info['granted']) ? 'tick' : 'cross',
							'title' => 'You cannot modify this permission.'
						)) ?>
					<? endif; ?>
					</td>
					<td><?=$priv_info['name'] ?></td>
				</tr>
			<? endforeach; ?>
			</tbody>
		</table>
	</div>
	<div class="clear">&nbsp;</div>
</div>
<? endforeach; ?>

<script type="text/javascript">
$(function() {
	$('a.link_toggle').closest('tr').css('cursor', 'pointer').click(function(e) {
		e.preventDefault();
		
		var ajax_href = $(this).find('a.link_toggle').attr('href');
		var row = $(this);
		var previous_status = (row.find('.icon_enabled').is(':visible')) ? 'enabled' : 'disabled';

		// Prevent a user from toggling while an existing action is pending.
		if (row.find('.icon_reloading').is(':visible'))
			return false;

		// Special handling for signature card permission.
		if (row.attr('rel') == "sigcard" && !confirm('Are you sure you want to modify the SOFC signature card permission? If you have an existing signature card, this may affect your recognition status.'))
			return false;

		row.find('.icon_enabled,.icon_disabled').hide();
		row.find('.icon_reloading').show();

		$.ajax({
			url: ajax_href,
			success: function(data) {
				row.find('.icon_reloading').hide();

				if (previous_status == "enabled")
				{
					row.find('.icon_enabled').hide();
					row.find('.icon_disabled').show();
				}
				else
				{
					row.find('.icon_enabled').show();
					row.find('.icon_disabled').hide();
				}
			},
			error: function(data) {
				alert('An error has occurred while setting this permission. Please try again later.');
			}
		});
	});
});
</script>