<p><b>StuAct Online has determined that you may not be eligible to serve as a student officer of an organization. Positions requiring eligibility have been removed from the list below.</b></p>

<p>Several factors can contribute to your ineligibility, including:
<ul>
    <li>Insufficient semester and/or cumulative GPR</li>
    <li>Conduct standing</li>
    <li>Departure from the university</li>
</ul></p>

<p><b>If you are a first year, transfer, or graduate student:</b><br />
Contact Student Activities at 979-845-1133 for assistance in updating your status in StuAct Online.</p>

<p><b>If you have recently completed a co-op, internship, or study abroad program:</b><br />
Contact Student Activities at 979-845-1133 for assistance in updating your status in StuAct Online.</p>

<p><b>If you are ineligible due to an insufficient GPR:</b><br />
Visit the <a href="/gradeexempt">GPR Exemption Information Page</a>.</p>

<p><b>If you are requesting to fill a position in a Greek Life organization:</b><br />
Contact the Department of Greek Life at 979-862-5636 to begin the GPR appeal process. You must still contact Student Activities if you intend to serve as an officer in any non-Greek organizations.</p>

<p><b>If you are this organization's advisor:</b><br />
You may disregard this message and continue submitting your request.</p>