<?php
$this->headTitle('Roster');
?>

<? if ($this->current_position): ?>
    <h3>Your Roster Position</h3>
    
    <h4>Current Position</h4>
    <p>You currently hold the position of <b><?=$this->current_position->name ?></b> in this organization.</p>

    <? if (!$this->current_position->isRenewed()): ?>
    <h4>Officer Transition Process</h4>
    
    <p>You are currently eligible to complete the annual officer transition process for this information. To complete this process, click the button below.</p>
    
    <div class="buttons well">
        <?=$this->button(array(
            'type'      => 'link',
            'href'      => $this->routeFromHere(array('action' => 'renew')),
            'icon'      => 'arrow_refresh',
            'text'      => 'Officer Transition Process',
        )) ?>
    </div>
    <? endif; ?>
    
    <h4>Request New Position</h4>
    <p>If your position in the organization has changed, select your new position below to continue.</p>
<? else: ?>
	<h3>Add Organization</h3>

    <p>Choose your position from the list below.</p>
<? endif; ?>

<ul>
<? foreach($this->positions as $position_num => $position_name): ?>
    <li><a href="<?=$this->routeFromHere(array('position' => $position_num)) ?>"><?=$position_name ?></a></li>
<? endforeach; ?>
</ul>