<?php
$this->headTitle('Roster');
$user = $this->auth->getLoggedInUser();
?>

<h3>Officer Transition Process</h3>

<p>As part of the annual recognition process for your organization, you must indicate your status as an officer for the coming year.</p>

<p>Please choose from the options below.</p>

<br>
<h4>I will serve in my current position for the coming year.</h4>
<p><b>You should only choose this option if you will be filling your existing position for the coming year.</b><br />
If you choose this option and transfer your position to another person later this year, the organization's recognition status could be affected by the change.</p>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'resultset_next',
        'text'      => 'Renew Current Position',
        'href'      => $this->routeFromHere(array('action' => 'newrequest', 'position' => $this->current_position->position)),
    )) ?>
</div>

<? if ($this->positions): ?>
    <br>
    <h4>I will serve in a <i>different</i> position with this organization for the coming year.</h4>
    <p>Choose the position you will fill in the coming year from the list below. <b>Note:</b> You will be immediately removed from your current position and added to your new position.</p>

    <ul>
    <? foreach($this->positions as $position_num => $position_name): ?>
        <li><a href="<?=$this->routeFromHere(array('action' => 'newrequest', 'position' => $position_num)) ?>"><?=$position_name ?></a></li>
    <? endforeach; ?>
    </ul>
<? endif; ?>

<br>
<h4>I will not fill a position for this organization in the coming year.</h4>
<p><b>Note:</b> You will be immediately removed from your current position.</p>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'resultset_next',
        'text'      => 'Discontinue Current Role',
        'href'      => $this->routeFromHere(array('action' => 'remove', 'user_id' => $user->id)),
    )) ?>
</div>