<?php
$this->headTitle('Roster');
?>

<h2>Officer Training Details</h2>

<table class="table table-striped" width="100%">
	<colgroup>
		<col width="5%">
		<col width="35%">
		<col width="60%">
	</colgroup>
	<thead>
		<tr>
			<th>Status</th>
			<th>Name/Position</th>
			<th>Training Items</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->training as $training): ?>
		<tr>
			<td class="center">
			<? if ($training['user']->flag_training != 0): ?>
				<?=$this->icon(array(
					'type'		=> 'png32',
					'image'		=> 'tick',
					'title'		=> 'Meets Requirement, Completed on '.date('F j, Y', $training['user']->flag_training_timestamp),
				)) ?>
			<? else: ?>
				<?=$this->icon(array(
					'type'		=> 'png32',
					'image'		=> 'cross',
					'title'		=> 'Does Not Meet Requirement',
				)) ?>
			<? endif; ?>
			</td>
			<td>
				<big><?=$training['user']->firstname ?> <?=$training['user']->lastname ?></big><br>
				<?=$training['position']->name ?>
			</td>
			<td>
			<? foreach($training['training'] as $item): ?>
				<div><b><?=$item['updated_at']->format('m/d/Y') ?></b>: <a href="<?=$this->route(array('module' => 'training', 'controller' => 'module', 'course' => $item['name'])) ?>" target="_blank" title="Click to View Training"><?=$this->training_modules[$item['name']]['name'] ?></a></div>
			<? endforeach; ?>
			</td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>