<?php
$this->headTitle('Monthly Statements');
?>

<div class="tabbable">
    <ul class="nav nav-tabs">
    <? foreach($this->statements as $year => $months): ?>
        <li><a data-toggle="tab" href="#statements_<?=$year ?>"><?=$year ?></a></li>
    <? endforeach; ?>
    </ul>

    <div class="tab-content">
    <? foreach($this->statements as $year => $months): ?>
        <div class="tab-pane" id="statements_<?=$year ?>">
    	<? foreach($months as $month => $statements): ?>
			<h3><?=$month ?> <?=$year ?></h3>
			<ul>
			<? foreach($statements as $statement): ?>
				<li><a href="<?=$this->routeFromHere(array('action' => 'viewstatement', 'statement_id' => $statement['id'])) ?>"><?=$statement['account'] ?>-<?=$statement['subaccount'] ?></a></li>
			<? endforeach; ?>
			</ul>
			<br>
		<? endforeach; ?>
		</div>
	<? endforeach; ?>
	</div>
</div>