<h2><?=$this->subject ?></h2>

<p>Organization: <b><?=$this->record->organization->name ?></b></p>

<p>A custom training item has been submitted by a leader in this organization, and is currently pending your review.</p>

<dl>
	<dt>Title/Summary:</dt>
	<dd><?=$this->record->data['name'] ?></dd>

	<dt>Description:</dt>
	<dd><?=nl2br($this->record->data['description']) ?></dd>

	<dt>Number of Credits:</dt>
	<dd><?=$this->record->credits ?></dd>
</dl>

<p>
	To review this training item, visit the page below:<br>
	<?=$this->link($this->route(array('module' => 'training', 'controller' => 'submit', 'action' => 'review', 'code' => $this->record->access_code))) ?>
</p>