<?
$this->headTitle('StuAct Online Quizzes');
?>

<dl>
<? foreach($this->all_quizzes as $quiz): ?>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'quiz', 'id' => $quiz['id'])) ?>"><?=$quiz['title'] ?></a></dt>
    <dd><?=$quiz['description'] ?></dd>
<? endforeach; ?>
</dl>