@charset "utf-8";
@import url("base_dark.css");

html, body {
	background: #1D1D1D url('aggieland/background.jpg') top center repeat-x;
	background-attachment: fixed;
}
div#page_top {
	border-bottom: 0;
}

div#body {
	background: url('aggieland/bodybg.png') top center repeat-y;
}
div#closure {
	background: url('aggieland/bodyfoot.png') top center no-repeat;
}

div#page {
	background: #1D1D1D url('aggieland/pagebg.jpg') top center repeat-x;
}