@charset "utf-8";

html, body {
	background: #E6EBEE;
}

#page_top_search_field {
	color: #000 !important;
}

div#page_footer div#page_footer_inner div {
	color: #666 !important;	
}
div#page_footer div#page_footer_inner div a {
	color: #999 !important;	
}

div#content_header_nav {
	background-color: #FFF;
}
div#page_top {
	color: #000;
	border-bottom: 1px solid #AAA;
}
div#page_top div.block a:link,
div#page_top div.block a:hover,
div#page_top div.block a:visited,
div#page_top div.block a:visited:hover {
	cursor: pointer;
	color: #111;
	text-decoration: none;
}

div#page_top div.block.with-divider {
	background: url('white/page_top_divider.png') left center no-repeat;
}
div#page_top_search {
	background: url('white/search_bg.png') top left no-repeat;
}
#page_top_search_button {
	background: url('white/search_button.png') top left no-repeat;
}
div#logo_right {
	background: url('white/logo_right.png') top right no-repeat;
}
div#logo_left {
	background: url('white/logo_left.png') top left no-repeat;
}

div#content_header {
	color: #600002;
}
div#breadcrumb a:link,
div#breadcrumb a:hover,
div#breadcrumb a:visited,
div#breadcrumb a:visited:hover {
	color: #333;
}
div#content_header_right {
	background: #202020;
}

#main {
	background: #FFFFFF;
}