@charset "utf-8";
@import url("base_dark.css");

html, body {
	background: #161721 url('blue/background.jpg') top center no-repeat;
}
div#body {
	background: url('blue/bodybg.png') top center repeat-y;
}
div#closure {
	background: url('blue/bodyfoot.png') top center no-repeat;
}

div#page {
	background: #1D1D1D url('blue/pagebg.jpg') top center repeat-x;
}
div#page_top div.block.with-divider {
	background: url('blue/page_top_divider.png') left center no-repeat;
}

div#logo_right {
	background: url('blue/logo_right.png') top right no-repeat;
}
div#logo_left {
	background: url('blue/logo_left.png') top left no-repeat;
}

div#page div#navigation {
	background: url('blue/nav_bg.png') no-repeat scroll center center transparent;
}

#content_header_nav {
	background: #292829;
}