@charset "utf-8";
@import url("base_dark.css");

html, body {
	background: #1E2E22 url('camo/background.jpg') top center repeat-x;
}
div#body {
	background: url('camo/bodybg.png') top center repeat-y;
}
div#closure {
	background: url('camo/bodyfoot.png') top center no-repeat;
}

div#page {
	background: #1D1D1D url('camo/pagebg.jpg') top center no-repeat;
}
div#page_top {
	border-bottom: 0;
}
div#page_top div.block.with-divider {
	background: url('camo/page_top_divider.png') left center no-repeat;
}

div#logo_right {
	background: url('camo/logo_right.png') top right no-repeat;
}
div#logo_left {
	background: url('camo/logo_left.png') top left no-repeat;
}

div#page div#navigation {
	background: url('camo/nav_bg.png') no-repeat scroll center center transparent;
}

#content_header_nav {
	background: #292829;
}