@charset "utf-8";
@import url("base_dark.css");

div#body {
	background: url('dark/bodybg_s1.png') top center repeat-y;
}

div#closure {
	background: url('dark/bodyfoot_s1.png') top center no-repeat;
}

div#page {
	background: #1D1D1D url('dark/pagebg.jpg') top center repeat-x;
}

div#page_top div.block.with-divider {
	background: url('dark/page_top_divider_s1.png') left center no-repeat;
}

div#page_top_search {
	background: url('dark/search_bg.png') top left no-repeat;
}
#page_top_search_button { 
	background: url('dark/search_button.png') top left no-repeat;
}

