@charset "utf-8";
@import url("base_dark.css");

html, body {
	background: #FDE2AA url('fall/background.jpg') top center repeat-x;
}
div#body {
	background: url('fall/bodybg.png') top center repeat-y;
}
div#closure {
	background: url('fall/bodyfoot.png') top center no-repeat;
}

div#page {
	background: #412301 url('fall/pagebg.jpg') top center no-repeat;
}
div#page_top {
	border-bottom: 0;
}
div#page_top div.block.with-divider {
	background: url('fall/page_top_divider.png') left center no-repeat;
}

div#page ul.nav li a {
	color: #000 !important;
	border-right-color: #000;
}

div#logo_right {
	background: url('fall/logo_right.png') top right no-repeat;
}
div#logo_left {
	background: url('fall/logo_left.png') top left no-repeat;
}

div#page div#navigation {
	background: url('fall/nav_bg.png') no-repeat scroll center center transparent;
}

#content_header_nav {
	background: #292829;
}