@charset "utf-8";
@import url("base_light.css");

/**
 * Pink Skin
 */

html, body {
	background: #D9B3D8;
}
div#body {
	background: url('pink/bodybg.jpg') top center repeat-y;
}
div#closure {
	height: 35px;
	background: url('pink/bodyfoot.jpg') top center no-repeat;
}

div#content_header {
	color: #9933FF;
}

div#page {
	background: #FFF url('pink/pagebg.jpg') top center repeat-x;
}

div#logo_right {
	background: url('pink/logo_right.png') top right no-repeat;
}
div#logo_left {
	background: url('pink/logo_left.png') top left no-repeat;
}

div#page div#navigation {
	background: url('pink/nav_bg.png') no-repeat scroll center center transparent;
}