@charset "utf-8";

/**
 * Tan Skin
 */

html, body {
	background: #DCD3CE url('tan/background.jpg') top center repeat-x;
}
div#body {
	background: url('tan/bodybg_s1.png') top center repeat-y;
}
div#closure {
	height: 35px;
	background: url('tan/bodyfoot_s1.png') top center no-repeat;
}

div#page_top {
	color: #FFF;
	border-bottom: 1px solid #750000;
}
div#page_top div.block a:link,
div#page_top div.block a:hover,
div#page_top div.block a:visited,
div#page_top div.block a:visited:hover {
	cursor: pointer;
	color: #DDD;
	text-decoration: none;
}
div#page_top div.block.with-divider {
	background: url('tan/page_top_divider_s1.png') left center no-repeat;
}

div#page_top_search {
	background: url('tan/search_bg_s1.png') top left no-repeat;
}
#page_top_search_button {
	background: url('tan/search_button_s1.png') top left no-repeat;
}


div#content_header {
	color: #675349;
}
div#content_header a:link,
div#content_header a:hover,
div#content_header a:visited,
div#content_header a:visited:hover {
	color: #866C60;
}

div#page {
	background: #DED5D0 url('tan/pagebg.jpg') top center repeat-x;
}
div#page_footer {
	border-top: 1px solid #CCC;
	background: url('tan/pagefooter.jpg') top center no-repeat;
}
div#page_footer div#contact {
	border-bottom: 0;
	padding-bottom: 0;
}
div#page_footer div#contact,
div#page_footer div#copyright {
	color: #675349;
}
div#page_footer a:link,
div#page_footer a:hover,
div#page_footer a:visited,
div#page_footer a:visited:hover {
	color: #866C60;
}

div#logo_right {
	background: url('tan/logo_right_s1.png') top right no-repeat;
}
div#logo_left {
	background: url('tan/logo_left_s1.png') top left no-repeat;
}

div#page div#navigation {
	color: #000;
	background: transparent;
}
ul.nav li a {
	border-right-color: #333;
	color: #500000 !important;
}