<?php
$this->headTitle('Manage Travel Information Forms');
$this->layout()->tabs = $this->renderHere('index_tabs');
?>

<? if ($this->view == "search"): ?>
<h2>Specify Search Terms</h2>
<form class="form-stacked" action="" method="get">
    <div class="clearfix">
        <label for="q">Group Name or Trip Purpose:</label>
        <input type="text" name="q" value="<?=$this->query ?>" class="full-width">
    </div>

    <div class="buttons actions">
        <?=$this->button(array(
            'class'     => 'primary',
            'type'      => 'submit',
            'icon'      => 'find',
            'text'      => 'Search Forms',
        )) ?>
    </div>
</form>
<? endif; ?>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="15%" />
        <col width="45%" />
        <col width="15%" />
        <col width="25%" />
    </colgroup>
    <tr>
        <th>Form ID</th>
        <th>Group/Purpose</th>
        <th>Submitted</th>
        <th>Travel Dates</th>
    </tr>
<? foreach($this->pager as $form): ?>
    <tr class="input">
        <td align="center"><big><a href="<?=$this->routeFromHere(array('action' => 'view', 'id' => $form['id'])) ?>" title="Click to View Form"><?=$form['password'] ?></a></big></td>
        <td align="left">
            <b><?=$form['index_name'] ?></b><br>
            <small><?=$form['index_purpose'] ?></small>
        </td>
        <td align="left"><?=date('m/d/Y g:ia', $form['timestamp']) ?></td>
        <td align="left">
        <? if (count($form->sessions) > 0): ?>
            <? foreach($form->sessions as $session): ?>
                <div><small><?=date('m/d/Y g:ia', $session->start_date) ?> to <?=date('m/d/Y g:ia', $session->end_date) ?></small></div>
            <? endforeach; ?>
        <? else: ?>
            <?=date('m/d/Y g:ia', $form['index_startdate']) ?> to <br>
            <?=date('m/d/Y g:ia', $form['index_enddate']) ?>
        <? endif; ?>
        </td>
    </tr>
<? endforeach; ?>
</table>

<?=$this->paginate($this->pager) ?>