<?php
$this->headTitle('Manage Travel Information Forms');
$this->content_tabs = $this->renderHere('index_tabs');
?>

<h2>Search for a Student</h2>
<form class="form-stacked" action="" method="get">

<div class="clearfix">
    <label for="uin">Student UIN:</label>
    <input type="text" name="uin" value="<?=$this->uin ?>" class="full-width">
</div>

<div class="buttons actions">
    <?=$this->button(array(
        'type'      => 'submit',
        'icon'      => 'find',
        'class'     => 'primary',
        'text'      => 'Get User Information',
    )) ?>
</div>
</form>

<? if ($this->record): ?>
    <h2>Student Information</h2>

    <table class="datatable zebra" width="100%">
        <colgroup>
            <col width="25%">
            <col width="75%">
        </colgroup>
        <tbody>
        <? foreach($this->record as $field_name => $field_value): ?>
            <tr>
                <td align="right"><b><?=$field_name ?>:</td>
                <td align="left"><?=$field_value ?></td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
<? endif; ?>