<?php
$this->headTitle('Manage Travel Information Forms');
?>

<?=$this->form->renderView() ?>

<? if (count($this->record->sessions) > 0): ?>
<fieldset>
	<legend>Date(s) of Travel</legend>

	<table class="datatable zebra">
		<colgroup>
			<col width="25%">
			<col width="25%">
			<col width="25%">
			<col width="25%">
		</colgroup>
		<thead>
			<tr>
				<th>To Destination<br><small>Departure</small></th>
				<th>To Destination<br><small>Arrival</small></th>
				<th>From Destination<br><small>Departure</small></th>
				<th>From Destination<br><small>Arrival</small></th>
			</tr>
		</thead>
		<tbody>
		<? foreach($this->record->sessions as $session): ?>
			<tr class="input">
				<td><?=date('m/d/Y g:ia', $session->outbound_departure) ?></td>
				<td><?=date('m/d/Y g:ia', $session->outbound_arrival) ?></td>
				<td><?=date('m/d/Y g:ia', $session->inbound_departure) ?></td>
				<td><?=date('m/d/Y g:ia', $session->inbound_arrival) ?></td>
			</tr>
		<? endforeach; ?>
		</tbody>
	</table>
</fieldset>
<? endif; ?>