<h2><?=$this->subject ?></h2>

<p>Organization: <b><?=$this->org->name ?></b></p>

<p>An officer of this organization has submitted a Pre-Event Planning Form. In order for this form to be processed, you must review its contents and approve them.</p>

<ul>
	<li><b>Form ID:</b> <?=$this->id ?></li>
    <li><b>Event Name:</b> <?=$this->name ?></li>
</ul>

<p>
	To view the form and submit your approval, visit this page:<br>
	<?=$this->link($this->route(array('module' => 'form_preevent', 'controller' => 'form', 'action' => 'confirm', 'code' => $this->id))) ?>
</p>