<h2><?=$this->subject ?></h2>

<p>Organization: <b><?=$this->org->name ?></b></p>

<p>This organization recently completed an event for which a Pre-Event Planning Form was submitted. Please take this opportunity to complete the post-event assessment at the link below. Future organization leaders will be able to view this assessment along with the form submission for future events.</p>

<p>
	To complete the assessment, visit this page:<br>
	<?=$this->link($this->route(array('module' => 'form_preevent', 'controller' => 'form', 'action' => 'assessment', 'code' => $this->id))) ?>
</p>