<h2><?=$this->subject ?></h2>

<p>The Department of Student Activities has created a Pre-Event Planning Form that you can complete and submit for review.</p>

<p>The ID number of your assigned form is <b><?=$this->form_id ?></b>.</p>

<p>
	To begin completing the form, visit this page:<br />
	<?=$this->link($this->route(array('module' => 'form_preevent', 'controller' => 'form', 'action' => 'begin', 'code' => $this->form_id))) ?>
</p>