<h2><?=$this->subject ?></h2>

<p>Organization: <b><?=$this->org->name ?></b></p>

<p>Your organization's advisor has returned Pre-Event Planning Form <?=$this->id ?> to the osubmitter for further modifications.</p>

<p>The advisor indicated that the following modifications were required: <b><?=$this->modifications_needed ?></b></p>

<p>
	To view the form, visit this page:<br>
	<?=$this->link($this->route(array('module' => 'form_preevent', 'controller' => 'form', 'action' => 'begin', 'code' => $this->id))) ?>
</p>